## Investment Tool Introduction:

This code/model has successfully created an investment tool that is based soley on technical analysis, but should be used in conjunction with fundamental practices that drive investment decisions. This model provides several different types of information to the user of the tool, of which can be used to predict whether or not a stock will increase by 1% - 5%, the day following a stock's earnings report. 

For example, assume that stock x releases their earnings report after market close today. By this time, the model would be able to give a prediction on whether stock x will increase by 1% to 5% by the end of the following trading day. This would give the investor enough time to purchase the stock the following morning, and then sell before the market closes to realize the 1% to 5% gain. 

The underlying algothrim used to perform predictions was the Naive Bayes Classifier. What this classifier helps determine is the probability that a certain stock x will increase by 1% to 5%, given that certain events have already occured. To be more specific, the model answers the following question:

"What is the probability that the price of stock x will increase by 1% to 5%, by the time the market closes on the trading day following the reported earnings date, given that events x1 through x5 occur:"


- x1 = Reported earnings per share (EPS) were higher than the previous reported date 


- x2 = Reported EPS was higher than the estimated EPS (i.e. the EPS surprise was positive)


- x3 = Adjusted stock price is larger than the previous reported date


- x4 = Intraday return of the stock x, on reported date, is greater than or equal to its median intraday return of the last 5 trading days


- x5 = Intraday return of the SPY etf is on reported date, is greater than or equal to its median intraday return of the last 5 trading days

## Explaining Events


x_1:

The first event could be telling us that the market thinks that the company is going to perform well in the upcoming earnings report, and it reflects that through the price. The adjusted price was used because it takes into account any stock-splits that may have occured. However, the first event could also be a signal that the market is overvaluing the future performance of the company, potentially making it a relatively bad time to buy the stock. 

x_2:

The second event informs the investor that that growth is currently in place or that the company is becoming more efficient by decreasing their cost of goods/expenses. Both could lead to an increase interest in the company and drive the stock price up based on demand.   

x_3:

The third event gives us a better understanding of how incorrect the market was at estimating the performance of a company. The higher the percentage error, also known as the surprise percentage, the better, because it signals under-valuation. During these periods, the investor has the opportunity to purchase a stock for a relatively "low" price and then sell at a 'fair' market price.

x_4:

The fourth event shows that the market has a positive sentiment regarding earnings. It is common to see a stock's intraday return fluctulate throughout the week and it is possible that one of those days, the market overvalued the stock and increased the average intraday return. Thus, the median was used to better reflect the distribution of the most recent intraday returns. If the stock increased higher than its weekly median return, it could signal that the stock has the ability to increase.

x_5:

The fifth event informs the investor on how the overall market is performing in the span of one week. The S&P 500 is index that tracks slightly over 500 publicly traded companies in the United States. This index is constantly used as a benchmark to gage how the overall market is performing. Moreover, this index is tracked by an exchange-traded-fund (ETF) called SPY that was used in this analysis. If the return on SPY, at the end of the reported date, was higher than its weekly median intraday return , it could potentially signal that the market has a positive outlook.

## Model Breakdown

The model provides the following information to the user:

1. Upcoming Earnings Calendar (3 month horizon):

    - Dataframe of companies that are reporting earnings on a given date within the next three months


2. Historical Earnings Report (Individual Company):

    - Dataframe of all the reported EPS instances along with their estimated EPS, surprise EPS, and corresponding dates
    
    
3. Daily Adjusted Prices Report (Individual Company):

    - Dataframe of the 5,000 most recent trading dates that contain intraday data
    
    
4. Naive Bayes Prediciton Model:

    - Current Date provides a buying signal and Future Date provides a model accuracy score for a specific stock:


        - Individual Analysis (Current Date/ Future Date)
        - Multi-Company Analysis (Current Date/ Future Date)

## Gathering Financial Data

The majority of the financial data will be pulled from alphavantage's financial APIs as well as Finhub's financial API. In order to conduct a naive bayes analysis, the user will need a historical earnings report that contains at least 3 years (12 quarters) worth of reported earnings history. This dataframe will yield the first 2 events (x1 and x2).

Moreover, the user will need a record of all the daily adjusted prices (most recent 5,000 trading dates) for a specific stock so that it can be matched up with the dates that earnings were reported. The user will also need a record of all the daily adjusted prices (most recent 5,000 trading dates) for the SPY ETF. 

Finally, the Finhub historical earnings function was used to get the most recent reported earnings information to make buying predictions on the current date (day of reported earnings).

The majority of this model consists of cleaning the dataframes, deriving variables from them using statistics, and merging them properly based on conditions. In addition, given that the alphavantage API has a 5 call per minute limit, the model needed to efficiently call the API so that calls were wasted nor limits exceeded.

## Model Creation: Fundamental Functions

###  1. Creating the finhubEarningsCalendar Function

This function can only return historical earnings data.

In [1]:
#this function pulls earnings data from finhub and then cleans it so that it can be used in the analysis
#this function only works for past data and does not give upcoming earnings, that is why the alphaVantage api was used in conjuction
#earnings calendar should be different than the alpha because it is more up to date and gives BMO o AMC datapoints
#inputs include:
#date range
#symbol - if no symbol is given, api will return all the stocks that are releasing earnings on that date

def finhubEarningsCalendar(finhub_api,from_date,to_date,symbol):
    
    
    #gathering the earnings calendar data:
    
    #import the library
    import finnhub
      
    #create an instance of the finhub library that contains API key
    finnhub_client = finnhub.Client(api_key=finhub_api)
    
    #get the stock earnings data that from the specified date range
    #this returns a nested dictionary that needs to be pulled apart 
    finub_earn_calendar = finnhub_client.earnings_calendar(_from=from_date, to=to_date, symbol=symbol, international=False)
    
    #the earningsCalendar key contains the values neede for the analysis
    finub_earn_calendar = finub_earn_calendar['earningsCalendar']
    
    #import pandas library
    import pandas as pd
    
    #convert the dictionary into a readable dataframe
    earningsCalendar = pd.DataFrame(data=finub_earn_calendar)
    
    
    #editing the dataframe so that it can be compatible with the alphaVantage dataframes and to use in the model:
    
    #filter out the following columns: quarter, revenueActual, revenueEstimate, and year:
    earningsCalendar.loc[:,['date', 'epsActual','epsEstimate','hour','symbol']]
    
    #change the column names:
    earningsCalendar.rename(columns = {'epsEstimate':'estimatedEPS'},inplace=True)
    earningsCalendar.rename(columns = {'date':'reportedDate'},inplace=True)
    earningsCalendar.rename(columns = {'epsActual':'reportedEPS'},inplace=True)
    
    #change the positions of the columns:
    #list of the column names
    column_names = ["symbol", "reportedDate", "hour","reportedEPS","estimatedEPS"]
    
    #reoder the dataframe
    earningsCalendar = earningsCalendar.reindex(columns=column_names)  
    
    #filter out the nones, of which can be found in the following columns:
    earningsCalendar =  earningsCalendar.loc[(earningsCalendar['estimatedEPS'].notnull())]
    earningsCalendar =  earningsCalendar.loc[(earningsCalendar['reportedEPS'].notnull())]
    
    
    #add the surprise amount column
    earningsCalendar['surprise'] = earningsCalendar['reportedEPS'] - earningsCalendar['estimatedEPS'] 

    #add the surprise perecentage column
    earningsCalendar['surprisePercentage'] = round(((earningsCalendar['reportedEPS'] /earningsCalendar['estimatedEPS'])-1)*100,4)
    
    
    #return the dataframe
    return earningsCalendar

### 2. Creating the alphaDataRetriever Function

In [2]:
#create a function that:
#individual earnings table for a specific stock
#daily adjusted prices for a specific stock:
#it also calculates the Intraday_Return and Weekly_Median_Return to be used later in the analysis section

#inputs include:
#type of data to retrieve where:
#1 = historical earnings
#2 = daily ajusted prices
#api key for alphaVantage


def alphaDataRetriever(api_key, data_of_interest, symbol,date_of_interest):
    #import necessary libraries
    import pandas as pd
    import csv
    import requests
    
    
    #remember that alphavantage only takes 5 calls per mintute and 500 throughout the entire day
    #for the earnings calendar call, symbol is not important

    if data_of_interest == '1':

        CSV_URL = 'https://www.alphavantage.co/query?function=EARNINGS_CALENDAR&horizon=3month&apikey=' + api_key

        with requests.Session() as s:

            download = s.get(CSV_URL)
            decoded_content = download.content.decode('utf-8')
            cr = csv.reader(decoded_content.splitlines(), delimiter=',')
            earnings_calendar = pd.DataFrame(data =cr)

        #edit the dataframe:
        #make the first row the column names
        earnings_calendar = earnings_calendar.rename(columns=earnings_calendar.iloc[0])

        #delete the first row since it has been used already to name the columns
        earnings_calendar = earnings_calendar.iloc[1:,:]

        #filter by the date of interest and loc the dataframe
        ec = earnings_calendar.loc[earnings_calendar.reportDate == date_of_interest]

        #not all stocks have an EPS estimate, these should be excluded from the dataframe
        #dataframe = dataframe[dataframe.column then the condition]
        ec = ec[ec.estimate != '']

        #not all stocks are traded in USD, but this project will only focus on the USD currency
        ec = ec[ec.currency == 'USD']

        #remove the irrelevant columns
        ec = ec.drop(['fiscalDateEnding','currency'],1)

        #display dataframe
        return ec


    
    elif data_of_interest == '2':

        #format of how the url should be structured before using the api
        earnings_history_url = 'https://www.alphavantage.co/query?function=EARNINGS&symbol=' + symbol +'&apikey=' + api_key

        #makes the request using the formatted url
        r = requests.get(earnings_history_url)
        data = r.json()

        #the data variable stores the data in json structure and the value of key = quarterlyEarnings is the point of interest
        quarterly_earnings = data['quarterlyEarnings']

        #convert this json into a dataframe
        quarterly_earnings = pd.DataFrame(quarterly_earnings)
        
        quarterly_earnings = quarterly_earnings.drop('fiscalDateEnding',1)
        
        return quarterly_earnings
    
    #this api call will return the most recent data avaialble
    
    elif data_of_interest == '3':
        #getting the time series data
        #this url contains the format needed to make the api call for time series data
        daily_prices_url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=' + symbol + '&outputsize=full' +'&apikey=' + api_key

        #makes the api request/call
        daily_price_request = requests.get(daily_prices_url)

        #stores the values into a dictionary
        daily_prices = daily_price_request.json()
        
        #stores the relevant information into a dictionary
        dictionary_of_dp = daily_prices['Time Series (Daily)']

        #convert this json into a dataframe, where the keys are the rows and the values are the columns 
        historical_prices = pd.DataFrame.from_dict(dictionary_of_dp, orient = 'index')
        
        #turn column values into numeric values
        historical_prices = historical_prices.apply(pd.to_numeric)
    
        #perform return calculations for each specific date
        historical_prices['Intraday_Returns'] = round((historical_prices['5. adjusted close']/historical_prices['1. open']-1)*100,4)

        #find the previous 5 day median intraday return and create the column 
        #the value will take into account the previous 5 trading days
        historical_prices['Weekly_Median_Return'] = historical_prices['Intraday_Returns'].rolling(window=5).median().shift(-5)

        #the indexes are the dates thus make that a column labeled reportedDate because that will be the key column for the inner join
        historical_prices['trading_date'] = historical_prices.index
        
        #reset the index since its a column now
        historical_prices.reset_index(drop=True, inplace=True)
        
        #remember that the model could break if there is not enough historical data
        return historical_prices
    
    #tell the analyst that their value is not valid
    else:
        print('Wrong Input for the alphaDataRetriever - Try again.')

### 3. Creating the historicalEarningsTransformer Function

In [3]:
#the model needs to understand what date the user is inputting
def historicalEarningsTransformer(date_type,historical_earnings,finhub_function):
    
    #assuming that the date provided by the analyst is after market close on the reported date:

    #import necessary libraries
    import pandas as pd

    #don't alter the dataframes that were used as inputs, instead, make a copy of each:
    
    #this variable holds a stock's individual earnings history
    earnings_hist = historical_earnings.copy(deep=True)
    

    #for training purposes,only keep the rows that are relevant.
    #the api feeds in the most current earnings and as a result, the historical prices will not line up
    #let those rows be used for the testing portion, while the remaining events get analyzed
    #no need for rows that don't contain information such as none. If none is found in the estimate, then the remaining 2 columns will be none
   
    
    #if analyst chooses the reporting date of today, after market close: 
    
    if date_type == '1':
        
        #keep the first cell in the first row because it contains the date of the most recent/upcoming earnings event
        #this date will be used to gather several variables such as intraday event, SPY event, Adjusted Price event
        report_date_of_interest = earnings_hist.iloc[0,0]

        
        #create common column name so that the dataframes can be merged properly 
        #common name is equal to 'column_of_interest'
        earnings_hist.rename(columns = {'reportedDate':'column_of_interest'}, inplace = True)

        #filter out the nones, of which can be found in the following columns:

        #the first row will always be none because it is a future date or the current report date
        #this api does not update in real time
        earnings_hist =  earnings_hist.loc[(earnings_hist['reportedEPS']!= 'None')]
        earnings_hist =  earnings_hist.loc[(earnings_hist['estimatedEPS']!= 'None')]
        earnings_hist =  earnings_hist.loc[(earnings_hist['surprise']!= 'None')]
        earnings_hist =  earnings_hist.loc[(earnings_hist['surprisePercentage']!= 'None')]
        
        
        #drop the columns that don't align with the earnings_hist dataframe. This is needed to merge properly
        finhub_function = finhub_function.drop('hour',1)
        finhub_function = finhub_function.drop('symbol',1)
        
        #create common column name
        finhub_function.rename(columns = {'reportedDate':'column_of_interest'}, inplace = True)
        
        
        #concat the dataframes so that the surprise_event and earnings_event x variables can be calculated 
        earnings_hist = pd.concat([finhub_function,earnings_hist])
        
        #convert the following columns to numeric in order to do math operations
        earnings_hist["reportedEPS"] = pd.to_numeric(earnings_hist["reportedEPS"])
        earnings_hist["estimatedEPS"] = pd.to_numeric(earnings_hist["estimatedEPS"])
        earnings_hist["surprisePercentage"] = pd.to_numeric(earnings_hist["surprisePercentage"])


        #add the column that determines if current earnings were greater than last time
        earnings_hist['earnings_event'] = (earnings_hist['reportedEPS'] > earnings_hist['reportedEPS'].shift(-1)).astype(int)

        #add the column that determines if the surprise variable is positive or not
        earnings_hist['surprise_event'] = (earnings_hist['surprisePercentage'] > 0).astype(int)
        
        return earnings_hist

     
    elif date_type == '2':

        #create common column name so that the dataframes can be merged properly 
        #common name is equal to 'column_of_interest'
        earnings_hist.rename(columns = {'reportedDate':'column_of_interest'}, inplace = True)

        #filter out the nones, of which can be found in the following columns:

        #the first row will always be none because it is a future date or the current report date
        #this api does not update in real time
        earnings_hist =  earnings_hist.loc[(earnings_hist['reportedEPS']!= 'None')]
        earnings_hist =  earnings_hist.loc[(earnings_hist['estimatedEPS']!= 'None')]
        earnings_hist =  earnings_hist.loc[(earnings_hist['surprise']!= 'None')]
        earnings_hist =  earnings_hist.loc[(earnings_hist['surprisePercentage']!= 'None')]
        
        #convert the following columns to numeric in order to do math operations
        earnings_hist["reportedEPS"] = pd.to_numeric(earnings_hist["reportedEPS"])
        earnings_hist["estimatedEPS"] = pd.to_numeric(earnings_hist["estimatedEPS"])
        earnings_hist["surprisePercentage"] = pd.to_numeric(earnings_hist["surprisePercentage"])


        #add the column that determines if current earnings were greater than last time
        earnings_hist['earnings_event'] = (earnings_hist['reportedEPS'] > earnings_hist['reportedEPS'].shift(-1)).astype(int)

        #add the column that determines if the surprise variable is positive or not
        earnings_hist['surprise_event'] = (earnings_hist['surprisePercentage'] > 0).astype(int)
        
        return earnings_hist


    else:
        print('Invalid input. Please Try Again')

### 4. Creating the dailyAdjustedPriceTransformer Function

In [4]:
#this function takes in the daily adjusted dataframe, individual earnings dataframe, and the spy dataframe 
#it calculates 2 x variables and returns a new merged dataframe that will be merged one final time in the next function

def dailyAdustedPriceTransformer(hp,individual_earnings,spy):
    
    #editing dataframes via renaming columns and removing unnessary columns:

    #before joining the 3 dataframes, there needs to be a common column name
    #change the name of the date columns to column_of_interest
    
    historical_prices = hp.copy(deep=True)
    
    #change the name
    historical_prices.rename(columns = {'trading_date':'column_of_interest'}, inplace = True)


    #historical_prices dataframe editting:
    #in historical_prices, change the column name of '5. adjusted close' to 'stock_adjusted_close'
    historical_prices.rename(columns = {'5. adjusted close':'stock_adjusted_close'}, inplace = True)

    #in historical_prices, change the column name of 'Intraday_Returns' to 'stock_intraday_returns'
    historical_prices.rename(columns = {'Intraday_Returns':'stock_intraday_returns'}, inplace = True)

    #in historical_prices, change the column name of 'Weekly_Median_Return' to 'stock_weekly_median_return'
    historical_prices.rename(columns = {'Weekly_Median_Return':'stock_weekly_median_return'}, inplace = True)
    
    #code below is used to calculate the intraday_event and adjusted_price_event variables:
    
    
    #use the 'column_of_interest' of the individual earnings dataframe 
    reported_dates_list = individual_earnings['column_of_interest'].tolist()
    
    #this line filters out all the dates that are not a previous reporting date
    historical_prices = historical_prices.loc[historical_prices['column_of_interest'].isin(reported_dates_list)]

    #add the column that determines if the intraday return of the earnings release date is larger than that of the median
    historical_prices['intraday_event'] = (historical_prices['stock_intraday_returns'] > historical_prices['stock_weekly_median_return']).astype(int)

    #add the column that determines if the adjusted share price is larger than that of last earnings call
    historical_prices['adjusted_price_event'] = (historical_prices['stock_adjusted_close'] > historical_prices['stock_adjusted_close'].shift(-1)).astype(int)


    #spy dataframe editting:

    #change name
    spy.rename(columns = {'trading_date':'column_of_interest'}, inplace = True)
    #in spy, change the column name '5. adjusted close' to 'stock_adjusted_close'
    spy.rename(columns = {'5. adjusted close':'spy_adjusted_close'}, inplace = True)

    #in spy, change the column name 'Intraday_Returns' to 'stock_adjusted_close'
    spy.rename(columns = {'Intraday_Returns':'spy_intraday_returns'}, inplace = True)

    #in historical_prices, change the column name of 'Weekly_Median_Return' to 'spy_weekly_median_return'
    spy.rename(columns = {'Weekly_Median_Return':'spy_weekly_median_return'}, inplace = True)
    
    #add the column that determines if the intraday return of the earnings release date is larger than that of the median
    spy['spy_event'] = (spy['spy_intraday_returns'] > spy['spy_weekly_median_return']).astype(int)
    
    #add the spy intraday so that the analyst can see how the variables were created
    historical_prices['spy_intraday_returns'] = spy['spy_intraday_returns']
    
    #add the spy median so that the analyst can see how the variables were created
    historical_prices['spy_weekly_median_return'] = spy['spy_weekly_median_return']
        
    #add the spy median so that the analyst can see how the variables were created
    historical_prices['spy_adjusted_close'] = spy['spy_adjusted_close']
        
    #now put the values of spy dataframe into the  hist prices
    historical_prices['spy_event'] = spy['spy_event']
    
    
    #display the new dataframe with the 3 variables
    return(historical_prices)

### 5. Creating the finalTransformation Function

In [76]:
#merges the dataframes and returns the clean variables

def finalTransformation(individual_hist_earn,both_dailyAdjustedPrices,daily_prices,output_type,date_type):
    
    #merge cells
    inner_merged_master = individual_hist_earn.merge(both_dailyAdjustedPrices,on='column_of_interest')
    print()
    print('inner merged function')
    display(inner_merged_master)
    #add the class variable:

    #this variable holds all the daily adjusted values for a particular stock, not just values that pertain to date of interest
    master_daily_adjusted = daily_prices.copy(deep=True)
        
    #change the name
    master_daily_adjusted.rename(columns={'trading_date':'column_of_interest'},inplace=True)

    #create list to reference
    reported_dates_list = inner_merged_master['column_of_interest'].tolist()
    
    #master_hist is the dataframe that only includes the dates that match up with the dates that earnings are reported
    master_hist = master_daily_adjusted.loc[master_daily_adjusted['column_of_interest'].isin(reported_dates_list)]
    
    
    #if the current date is the reported earnings date then remove the first row of the master_hist because it will appear there
    if date_type == '1':
        #remove the first row
        master_hist = master_hist.iloc[1:,:]
    
    else:
        master_hist = master_hist
        
    
    
    #notice how the dates in the column_of_interest are one day after the reported earnings date
    #store the index values from the list. This will tell us the index where the earnings reported date is located at
    row_index_list = master_hist.index.tolist()


    #alter the values of the elements in the list so that element = element -1
    #this will give us the value of the index pertaining to returns one trading day following reported release
    #the way the dataframe is filtered is by most recent date to the most future date

    for i in range( len(row_index_list)):
        row_index_list[i] = row_index_list[i] - 1


    #lock the dataframe so that only the row indexes from the list come up
    master_daily_adjusted = master_daily_adjusted.loc[row_index_list,:]

    #display the master_daily_adjusted 
#     print('This dataframe contains the price information associated with the date that is one trading day after the reported earnings date:\n')
#     display(master_daily_adjusted.head(15))

    #rename the column so that the analyst knows what this value is. It's the price of the stock one full trading day after earnings have been released
    master_daily_adjusted.rename(columns = {'5. adjusted close':'after_report_adjusted_price'},inplace=True)
    
    print()
    print('master daily adjsuted')
    display(master_daily_adjusted)
    
    #up to this point, the after_report_adjusted_price column exists
    #store the values of the after_report_adjusted_price in a list to 
    reported_adjusted_close_prices = master_daily_adjusted['after_report_adjusted_price'].tolist()
    
    if date_type == '1':
        
        #since the first row was deleted, a value needs to be inserted to keep the lengths of the arrays the same
        #put the value zero in the first position of the list
        reported_adjusted_close_prices.insert(0,0)

    else:
        reported_adjusted_close_prices = reported_adjusted_close_prices



    #add the values from the list to a new column in the inner master df
    inner_merged_master['after_report_adjusted_price'] = reported_adjusted_close_prices

    #calculate the adjusted price in a new column
    inner_merged_master['return_pct_difference'] = round((inner_merged_master['after_report_adjusted_price']/inner_merged_master['stock_adjusted_close']-1)*100,2)

    #calculate the class variable
    inner_merged_master['class_variable'] = ((inner_merged_master['return_pct_difference'] >= 1) & (inner_merged_master['return_pct_difference'] <= 5) ).astype(int)
    
    #display inner_merged
#     print('This dataframe contains all the variables associated with building the model:\n')
#     display(inner_merged_master)

    #keep relevant columns:
    
    #relevant columns
    model_variables = ['earnings_event','surprise_event','adjusted_price_event','intraday_event','spy_event','class_variable']

    #filter the dataframe
    training_data = inner_merged_master[model_variables]        

    
    #this is the logical display of how the variables were created
    if output_type  == '1':
         
        #display the following dataframe
        #relevant columns
        relevantColumns = ['column_of_interest','reportedEPS','estimatedEPS','surprise','surprisePercentage','stock_adjusted_close','stock_intraday_returns','stock_weekly_median_return','spy_adjusted_close','spy_intraday_returns','spy_weekly_median_return','after_report_adjusted_price','return_pct_difference','earnings_event','surprise_event','adjusted_price_event','intraday_event','spy_event','class_variable']
        
        #filter the dataframe
        logical_dataframe = inner_merged_master[relevantColumns]
        
        #display
        print('This is the dataframe with the columns that were used to construct the variables of the model:\n')
        display(logical_dataframe)

            
    #this returns the clean variables, ready to be analyzed
    elif output_type  == '2':
        print('Clean Variables:\n')
        
        

    else:
        print('Invalid Input. Please try again.')
   

    return training_data

### 6. Creating the naiveBayesPredictor Function

In [6]:
#create the function to peform the analysis
#most import input of this function are the clean variables created in the variableTransformer function that holds the clean variables
#this holds the dataframe that will be broken down into train and test data

def naiveBayesPredictor(cleanVariables,dateType):
    
    #import the tools
    from sklearn.naive_bayes import BernoulliNB

    #start by breaking down the data into their respective sections
    #at this point, the variableTransformer made sure there was enough data to conduct a proper analysis
    
    #break the data into x and y variables
    #for training purposes the test data will consist of full year prediction
    #the dataframe has the most recent quarters at the beginning, thus use the first 4 rows as the testing data
    
    #if the current date is the earnings report date
    if dateType == '1':
            
        #the train variables will be the actual results of one year prior
        x_train_variables = cleanVariables.iloc[5:,0:5]

        y_train_variables = cleanVariables.iloc[5:,5]

        #the first row contains the data for the prediction that is going to be used for the buy or not buy signal
        x_prediction_set = cleanVariables.iloc[0:1,0:5]
        
        #test the model on a full year worth of data (most recent year)
        x_test_variables = cleanVariables.iloc[1:5,0:5]
        y_test_variables = cleanVariables.iloc[1:5,5]
    
    #if the current date is not the same as earnings report date  
    elif dateType == '2':
        
        #the train variables will be the actual results of one year prior
        x_train_variables = cleanVariables.iloc[4:,0:5]
        y_train_variables = cleanVariables.iloc[4:,5]

        #test the model on a full year worth of data (most recent year)
        x_test_variables = cleanVariables.iloc[0:4,0:5]
        y_test_variables = cleanVariables.iloc[0:4,5]
    
    #create an instance of the model
    naive_bayes_model = BernoulliNB(binarize=0.0)
    
    #fit the training variables to the model model
    naive_bayes_model.fit(x_train_variables, y_train_variables)
    
    #make predictions with the model
    predictions = naive_bayes_model.predict(x_test_variables)
    
    #import the metric tools
    from sklearn.metrics import multilabel_confusion_matrix
    from sklearn.metrics import classification_report
    
    #create an instance where the confusion matrix will live
    multi_cm = multilabel_confusion_matrix(y_test_variables, predictions)

    #first row
    tp = multi_cm[0][0][0]
    fp = multi_cm[0][0][1]

    #second row
    fn = multi_cm[0][1][0]
    tn = multi_cm[0][1][1]

    #get the relevant metrics from the classification report
    cr = classification_report(y_test_variables, predictions,output_dict=True)
    precision = cr['weighted avg']['precision'] 
    recall = cr['weighted avg']['recall'] 
    f1_score = cr['weighted avg']['f1-score'] 

    #score the model
    model_score = round(naive_bayes_model.score(x_test_variables,y_test_variables)*100,2)
        
    #both models need to be evaluated for their performance:
    
    #create the point at which one could deem this model accurate
    bench_mark_precision_WA = 0.75

    #if the models precisionWA is greater than or equal to the bench_mark_precision_WA then recommend the analyst use the model
    if precision >= bench_mark_precision_WA:
        model_recommendation = 'Valid'

    #if precision wa is less than the benchmark, the model should NOT be used to make any buying decisions
    else:
        model_recommendation = 'Invalid'
    
    
    #buy or not buy signal:
    if dateType == '1':
    
        #give the analyst a prediction
        signal = naive_bayes_model.predict(x_prediction_set)
        
        print()
        print('This is the buy signal:')
        
        #create a prediction variable
        predicition_value = signal[0] 
        
        if predicition_value == 0:
            buy_signal = 'Do NOT buy'

        
        #if the prediciton value is not equal to zero then it is equal to one, thus signaling a buying opportunity
        else:
            #assign the buy value to the variable
            buy_signal = 'Buy'

        
        #add the buy signal to the dictionary
        confusion_matrix_values = {'TP':[tp],'FP':[fp],'FN':[fn],'TN':[tn],'Precision WA':[precision],'Recall WA':[recall],'F1-Score WA':[f1_score],'Model Score %':[model_score],'Model Recommendation':[model_recommendation],'Buy Signal':[buy_signal]}
        
        return (confusion_matrix_values)

    #if datetype is not equal to 1 it is equal to 2 which means that the results will be the model accuracy and model recommendations
    else:
        #create the dictionary that will store the relevant values (buy signal is excluded because there isnt one to give)
        confusion_matrix_values = {'TP':[tp],'FP':[fp],'FN':[fn],'TN':[tn],'Precision WA':[precision],'Recall WA':[recall],'F1-Score WA':[f1_score],'Model Score %':[model_score],'Model Recommendation':[model_recommendation]}

#         print('This is the confusion matrix:')
#         print(confusion_matrix_values)

        #return confusion_matrix_values
        return (confusion_matrix_values)

### 7. Creating the User Interface Main Function

In [78]:
#revised main function
def main():
    
    #will help display the dataframes
    from IPython.display import display
    import pandas as pd
       
    #to ensure the model is only ran once at time, a 60 second timer will be placed in the main function
    import time
    
    #model trigger (model turns off if equal to false)
    modelValidation = True
    
    #add a print statement at the bottom to signal that the model has ended
    while  modelValidation == True:
                
        #there needs to be a tracker for how many calls have been used and when 
        total_api_calls = 0

        from datetime import datetime

        #ask for the API key
        api_q = input('What is your alphavantage API Key?:\n\n')
        api_q = 'TQ6TR98HVUPE3L9Z'
        print()

        #ask the data type
        data_type_q = input('What kind of data are you looking for?\n\nType the number in the input box:\n\n1. Upcoming Earnings Calendar (3 month horizon)\n2. Historical Earnings (for a specific company)\n3. Daily Adjusted Price History (for a specific company)\n4. Naive Bayes Prediction Model\n\n')

    
        if data_type_q == '1':

            print()
            date_of_interest = input('Pick a date that is within the next three months (yyyy-mm-dd):\n')
            print()

            #make the symbol equal to n/a because the function requires the parameter to be defined before performing what it needs to do
            symbol = 'N/A'

            #this function pulls the upcoming earnings calendar
            alphaEarningsCalendar  = alphaDataRetriever(api_q,data_type_q,symbol,date_of_interest)
            
            #api is called in the alphaEarningsCalendar 
            total_api_calls = total_api_calls + 1 

            print('Total API Calls: %i'%(total_api_calls))
            print()


            #if the dataframe does not contain any rows, that means its empty and no company is reporting earnings
            if alphaEarningsCalendar.shape[0] == 0:
                print('No publicly traded company is reporting their earnings on %s'%(date_of_interest))
                print('Please wait 60 seconds before running the model.')
#                 time.sleep(60)
                modelValidation = False

            else:

                #for some reason, if you put return dataframe, the function will not spit out the dataframe - use display instead
                #display
                display(alphaEarningsCalendar)

                print()
                
                
                #print disclaimers
                print('This is not investment advice.')
                print('Please wait 60 seconds before running the model again.')
                
                #sleep the model
#                 time.sleep(60)
                modelValidation = False
         
        #input 2 refers to the historical earnings table for a specific stock; it requires an api key and ticker symbol
        elif data_type_q == '2':
            print()
            symbol_q = input('Enter the ticker symbol:\n\n')
            print()
            
            #date_of_interest is not relevant when just pulling data
            date_of_interest = 'N/A'
      
            #this runs the historical earnings report for the symbol specified
            alphaHistoricalEarnings  = alphaDataRetriever(api_q,data_type_q,symbol_q,date_of_interest)
            
            #api is called in alphaHistoricalEarnings
            total_api_calls = total_api_calls + 1 
            
            #print disclaimers
            print('This is not investment advice.')
            print('Please wait 60 seconds before running the model again.')
            
            print('Total API Calls: %i'%(total_api_calls))

            #display first then sleep so that the analyst can look at something in the meantime
            display(alphaHistoricalEarnings)
            
            #sleep the model
#             time.sleep(60)
            
            modelValidation = False
    
        #input 3 refers to the daily adjusted price table for a specific stock; it requires an api key and ticker symbol
        elif data_type_q == '3':
            
            #ask the analyst what ticker they want
            print()
            symbol_q = input('Enter the ticker symbol:\n\n')
            print()
            
            #date_of_interest is not relevant when just pulling data because this function pulls most recent data
            date_of_interest = 'N/A'
            
            #runs the function that pulls daily adjusted prices for a specific stock
            alphaDailyAdjusted  = alphaDataRetriever(api_q,data_type_q,symbol_q,date_of_interest)
            
            #api is called
            total_api_calls = total_api_calls + 1 

            #disclaimer
            print('This is not investment advice.')
            print('Please wait 60 seconds before running the model again.')
            print()
            
            #print the total calls, this should be 1
            print('Total API Calls: %i'%(total_api_calls))
            print()
            
            #display first then sleep so that the analyst can look at something in the meantime
            display(alphaDailyAdjusted.head(15))
        
#             #sleep the model
#             time.sleep(60)
            
            modelValidation = False

################################################################################################################################################################################################################################################        
        #naive bayes prediction option
        elif data_type_q == '4':
            
            import math         
            print()
            
            #ask the analyst what data the model should do analysis on
            analysis_type = input('What type of analysis are you looking to do?:\n\n1.Individual Company\n\n2.Multi-Company\n\n')

            print()
            
            
            #the model must know whe 
            date_of_interest = input('Enter the date of interest:\n\n')
            print()
            
            #individual stock analysis
            if analysis_type == '1':

                #ask what stock they want analyzed
                ticker = input('Enter the ticker symbol:\n\n')
                print()

                #the historical earnings should be pulled first to see if the analysis can be done
                #switch the value of data_type_q to 2 so that the historical earnings table can be pulled via alphaDataRetriever
                data_type_q = '2'
                
                try:
                    
                    #run the alphaDataretriever to get the historical earnings for each symbol in the list
                    alphaHistoricalEarnings  = alphaDataRetriever(api_q,data_type_q,ticker,date_of_interest)
                    print()
#                     print('This dataframe contains %s\'s historical earnings report. The row pertains to either the most recent earnings date (if the date is in the past/the same as today) or the most upcoming earnings report date (if the date is in the future)'%(ticker))
#                     display(alphaHistoricalEarnings)
            
                except:
                    print('Function Broke. Check your inputs.')
                    #turn the model off
                    modelValidation = False
                #count the call
                total_api_calls = total_api_calls + 1


                #check to see if the company chosen has enough data to run a proper analysis on
                #the model should have at least 3 years worth of quarterly reports so that 2 years (8 quarters) can be used to train the model and 1 year (4 quarters) can be used to test
                if alphaHistoricalEarnings.shape[0] >= 12:
                    print(ticker,'has reported earnings',alphaHistoricalEarnings.shape[0],'times, as of the current date.')

                    #change the value of data_type_q to 3 to call the adjusted price function
                    data_type_q = '3'

                    #run the function that gets the daily adjusted prices for the ticker symbol in the loop
                    alphaDailyAdjusted  = alphaDataRetriever(api_q,data_type_q,ticker,date_of_interest)
                    
#                     print('This dataframe contains %s\'s 5,000 most recent daily adjusted prices:\n '%(ticker))
#                     display(alphaDailyAdjusted.head(15))

                    #count the call
                    total_api_calls = total_api_calls + 1

                    #change value of symbol so that the function can pull daily prices for SPY
                    symbol = 'SPY'

                    #the symbol here SPY will be constant and won't change
                    alphaSPY  = alphaDataRetriever(api_q,data_type_q,symbol,date_of_interest)
                    print()
#                     print('This dataframe contains SPY\'s most 5,000 most recent daily adjusted prices:\n')
#                     print(alphaSPY.head(15))

                    #this is the second call, but the SPY wont be called again for the remaining of the analysis
                    total_api_calls = total_api_calls + 1 
                
                
                    #the most recent date will be located in this cell
                    most_recent_date = alphaHistoricalEarnings.iloc[0,0]
                    
#                     #print the most recent earnings date (aka the first cell value of first row)
#                     print('%s\'s most recent/upcoming reporting date is:\n'%(ticker))
#                     print(most_recent_date)
#                     print()
                    #alphaHistoricalEarnings will return an earnings history report that includes the most upcoming earnings date
                    #if the date in the most upcoming earnings date happens to be the same as today and the time is after 4:01 (market close) then do the following:
                    
                    
                    import datetime 
                    
                    #current time instance
                    current_time = datetime.datetime.now() 
                    
                    #calculate this so that the model knows if the most recent/upcoming earnings is today
                    current_date = str(current_time.year) + '-' + str(current_time.month) + '-' + str(current_time.day)

                    #calculate this so that the model knows if the market has closed (after 4 PM)
                    current_hour = current_time.hour
                    
                    #if the most recent date in the historical earnings dataframe is equal to today's date and the market has closed then change the date_type and call the finhub function that has the most updated earnings information :
                    if most_recent_date == current_date and current_hour >= 17:
#                         print('test')
                        
                        date_type = '1'
                        
                        #ask the analyst for thier finhub api key
                        print()
                        
                        finhubapi = input('Enter your finhub API-Key:\n\n') 
                        print()
                                                
                        #ticker should be equal to empty space to get the most updated data point
                        ticker = ticker
                        #call the finhub function that will be used to create buying signals
                        finhub_function = finhubEarningsCalendar(finhubapi, date_of_interest,date_of_interest,ticker)
                        
                        #display
                        print()
                        print('This is %s\'s most updated earnings report:\n'%(ticker))
                        display(finhub_function)
                            
                        
                    
                    #if it is not the current date AND the market has not closed, then switch the date_type and assign the finhub function to 'N/A' because it's not needed
                    else:
                        date_type = '2'
                        finhub_function = 'N/A'    
    
    
                    #call the historicalEarningsTransformer to calculate the first 2 variables
                    historical_earnings_main = historicalEarningsTransformer(date_type,alphaHistoricalEarnings,finhub_function)
                    
                    #display
                    print()
#                     print('This is %s\'s most updated earnings table that contains the earnings_event and surprise_event variables that will be used in the analysis:\n'%(ticker))
#                     display(historical_earnings_main.head(15)) 

                    #this runs the first part of the model where the variables are transformed only if the api call count is within the 5 call limit
                    dailyAdustedPriceTransformer_main = dailyAdustedPriceTransformer(alphaDailyAdjusted,historical_earnings_main,alphaSPY)
                            
                    #display
#                     print()
#                     print('This is %s\'s most updated dataframe that contains the three price-oriented variables (intraday_event, adjusted_price_event, spy_event) that will be used in the analysis:\n'%(ticker))
#                     display(dailyAdustedPriceTransformer_main.head(15)) 
                    
#                     print()
                    #call the finalTransformation function that will get all the x and y variables ready
                    output_type = input('What type of output would you like?:\n\nLogic will display how the model variables were created, while Clean Variables will not:\n\n 1.Logic\n\n 2.Clean Variables\n\n')
                    print()
                    
                    #if the user picks logic
                    if output_type == '1':
                        #print the displays down to the order:
                        
                        #first run the historical earnings report for the stock 
                        print('1. Retrieve the historical earnings report for the stock:\n')
                        print('This dataframe contains %s\'s historical earnings report. The first row pertains to either the most recent earnings date (if the date is in the past/the same as today) or the upcoming earnings report date (if the date is in the future)'%(ticker))
                        display(alphaHistoricalEarnings.head(15))
                        print()
                        
                        #secondly
                        print('2. Insert the historical earnings report into the historicalEarningsTransformer function:\n')
                        print('This is %s\'s most updated earnings table that contains the earnings_event and surprise_event variables that will be used in the analysis:\n'%(ticker))
                        display(historical_earnings_main.head(15))
                        print()
                        
                        #thirdly
                        print('3. Retrieve the last 5,000 daily adjusted prices for %s in order to create the intraday_event and adjusted_price_event variables:\n'%(ticker))
                        display(alphaDailyAdjusted.head(15))
                        print()
                        
                        #fourth
                        print('4. Retrieve the last 5,000 daily adjusted prices for SPY in order to create the spy_event variable:\n')
                        display(alphaSPY.head(15))
                        print()
                        
                        #fifth
                        print('5. Connect both daily adjusted price dataframes (Stock Prices and SPY Prices) with the historical earnings report in order to calculate the x variables intraday_event, adjusted_price_event, spy_event:\n')
                        display(dailyAdustedPriceTransformer_main.head(15))
                        print()
                        
                        #sixth
                        print('6. Run the final tranformer function to generate the class variable:\n')
                        print()
  
                        
                        
                    
                    #parameters include : individual_hist_earn,both_dailyAdjustedPrices,daily_prices,output_type
                    finTransformationTransformer_main = finalTransformation(historical_earnings_main,dailyAdustedPriceTransformer_main,alphaDailyAdjusted,output_type,date_type)
                    print()
                    print('This is the dataframe that contains all the clean variables necessary for analysis:')
                    display(finTransformationTransformer_main.head(15))
                    
                    #run the model by calling the naivebayesPredictor function (returns a dictionary):
                    model_output = naiveBayesPredictor(finTransformationTransformer_main,date_type)

                    #convert the dictionary into a readable dataframe:
                    individual_analysis_results = pd.DataFrame.from_dict(model_output)
                    
                    #display the pretty dataframe
                    print()
                    print('Result dataframe:\n')
                    display(individual_analysis_results)
                    
                    #say bye
                    print('Thank you for using the model.')
                    print('Please wait 60 seconds before running the model again.')

                    #sleep the model
                    #time.sleep(60)
                
                    #turn model off
                    modelValidation = False
                
                #if the rows are less than 12 and not equal to 0 then:
                else:
                    
                    #print diagnosis
                    print('Company does not have enough reported earnings history to conduct a proper naive bayes prediction analysis.')
                    print('Please wait 60 seconds before running the model again.')

                    #sleep the model
#                     time.sleep(60)
                    
                    #turn the model off since the naive bayes cannot be done
                    modelValidation = False

#code works up to this point. Below is the multi-company analysis                    
############################################################################################################################
      
            #if the analysis type is not 1 then it is equal to 2 which refers to the multi-company analysis
            else:
                
                #big assumption: date_of_interest can only be the current date or plus three months because a past date will break the model
                #if the date of interest is equal to today and the time is after market close, then the model will assume that it's go time
                #if the date of interest is equal to today but the time is before market close, then the model will just give back model results
                #if the date of interest is not equal to today, then it has to be 
                
                #call the finalTransformation function that will get all the x and y variables ready
                output_type = input('What type of output would you like?:\n\nLogic will display how the model variables were created, while Clean Variables will not:\n\n 1.Logic\n\n 2.Clean Variables\n\n')
                print()
                
                
                
                import datetime                 
                
                # using now() to get current time 
                current_time = datetime.datetime.now() 
#                 print(current_time)

                #calculate this so that the model knows if the most recent/upcoming earnings is today
                current_date = str(current_time.year) + '-' + str(current_time.month) + '-' + str(current_time.day)
#                 print(current_date)

                #calculate this so that the model knows if the market has closed (after 4 PM)
                current_hour = current_time.hour
#                 print(current_hour)
################################################################################################################################################################################################################################################################                
                #if the date of interest is the same as the current date and the market is closed, then run the finhub function
                #finhub is the most updated API and it will have the actual companies that reported earnings
                #the earnings calendar gives estimates of when the stock is going to report earnings and when they are wrong, finhub is used fill in the gap as a discrepancy check
                if date_of_interest == current_date and current_hour >= 17:
                                       
#                     print('test')
                    #change the data_type because the model is in its prime time mode, ready to make a prediciton for the next trading date
                    date_type = '1'

                    #ask the analyst for thier finhub api key
                    print()
                    finhubapi = input('Enter your finhub API-Key:\n\n') 

                    #empty space as the value for ticker will return all the stocks that reported earnings on that date
                    ticker = ''

                    #call the finhub function that will be used to create buying signals
                    finhub_function = finhubEarningsCalendar(finhubapi, date_of_interest,date_of_interest,ticker)

                    #debug
                    print('Below is the finhub function')
                    display(finhub_function)

                    #loop through the symbol column so that the model knows what stocks to analyze and give a buy signal to
                    #create the list of symbols that will be used in the for loop
                    list_of_ticker_symbols =  finhub_function.symbol.tolist()
                        

#                         #get the length of the list to determine how many stocks are in your dataset
#                         stock_count = len(list_of_ticker_symbols)    
                        
#                         #print stock count
#                         print('Stock Count:\n',stock_count)

#                         #for a naive bayes analyis, each stock will need its earnings history and daily adjusted prices 
#                         stock_api_calls = stock_count * 3

#                         #5 api calls per minute
#                         api_calls_per_minute = 5

#                         #how many sets of 5 api calls/min need to be done in order to do an analysis on all of the stocks
#                         #this will round up to the nearest integer
#                         #this essentially how long (in minutes) the model will take to run an analysis on all of the stocks on the earnings calendar for the specified date
#                         api_sets  = math.ceil(stock_api_calls / api_calls_per_minute)
                        
################################################################################################################################################################################################################################################################
                #if it is not the current date AND the market has not closed, then switch the date_type and assign the finhub function to 'N/A' because it's not needed                
                #model results, NO buy signal
                #different thought process here
                else:
                    
                    #not go time
                    date_type = '2'
                    finhub_function = 'N/A'    
                    
                    #code for the earnings calendar
                    data_type_q = '1'
                    
                    #change symbol value
                    symbol = ''
                    
                    #run the alphaDataRetriever to get the earnings calendar 
                    alphaEarningsCalendar  = alphaDataRetriever(api_q,data_type_q,symbol,date_of_interest)
#                     print('This is the alpha earnings calendar:\n')
#                     print('Symbol: ',symbol)
#                     print('Date of Interest: ',date_of_interest)
#                     print('Data Type: ',data_type_q)
#                     print()
#                     display(alphaEarningsCalendar)
                    
                    print()
                    print('Model is sleeping so that it can reset')
                    #sleep model so that the count resets
                    time.sleep(60)
                    
                    #reference the list from the alpha earnings calendar
                    list_of_ticker_symbols = alphaEarningsCalendar.symbol.tolist()
#                     print('List of Stocks from the alphaEarningsCalendar: ',list_of_ticker_symbols)
################################################################################################################################################################################################################################################################                      
                #Calculate the api information:        
                        
                #get the length of the list to determine how many stocks are in your dataset
                stock_count = len(list_of_ticker_symbols)    

                #print stock count
                print()
                print('Stock Count:',stock_count)
                print()

                #for a naive bayes analyis, each stock will need its earnings history and daily adjusted prices and the SPY call
                stock_api_calls = stock_count * 3

                #5 api calls per minute
                api_calls_per_minute = 5

                #how many sets of 5 api calls/min need to be done in order to do an analysis on all of the stocks
                #this will round up to the nearest integer
                #this essentially how long (in minutes) the model will take to run an analysis on all of the stocks on the earnings calendar for the specified date
                api_sets  = math.ceil(stock_api_calls / api_calls_per_minute)        
                        

                #12 min should be the longest an analyst waits for an analysis, this equal to 30 stocks that have 3 dataframes each 
                if stock_count > 30:

                    #only get the first 30 symbols
                    list_of_ticker_symbols = list_of_ticker_symbols[0:15]
                    
                    #15 stocks * 3 dataframes = 45
                    stock_api_calls = 15 * 3
                    
                    #api_sets are set to 9 mintutes
                    api_sets  = math.ceil(stock_api_calls / api_calls_per_minute)  
                
                    #user experience
                    print('There are %i companies reporting earings on the specified date. Analysis will only be provided for the first 15 companies in the list. This should take about %i minutes. Please wait patiently.'%(stock_count,api_sets))

                
                
                #if there is 30 or less stocks in the list, keep the symbol list the same
                else:
                    #keep the same
                    list_of_ticker_symbols = list_of_ticker_symbols
                    stock_api_calls = stock_api_calls
                                    
                    #tell the analyst how long the analysis is going to take
                    print('The model will take about %i minutes to run. Please wait patiently.'%(api_sets))



                print()
                #list of symbols stay the same
                list_of_ticker_symbols  = list_of_ticker_symbols

                #stock_api_calls stay the same
                stock_api_calls = stock_api_calls 
                print()
                print('There are a total of %i stock calls'%(stock_api_calls))
################################################################################################################################################################################################################
                #for loop begins here:
                #this list will contain the confusion matrix for each stock in the for loop
                #list of dictionaries
                model_result_list = []

                #for each ticker in the list of symbols, run each ticker through the functions
                for ticker in list_of_ticker_symbols:

#                     print()
#                     print('This is the stock_api_call at each loop:')
#                     print()
#                     print(stock_api_calls)
                    print()
                    print('This is the ticker:')
                    print()
                    print(ticker)
                    print()


                    #change value of data_type_q so that the function can pull daily prices for SPY
                    data_type_q = '3'
                    print(date_of_interest)
                    #the symbol here SPY will be constant and won't change
                    alphaSPY  = alphaDataRetriever(api_q,data_type_q,'SPY',date_of_interest)
                    print()
#                     print('This is the alphaSPY')
#                     display(alphaSPY.head(15))

                    #this is the second call
                    total_api_calls = total_api_calls + 1 

#                     #subtract the call from the stock count
#                     stock_api_calls = stock_api_calls - 1


                    if total_api_calls == api_calls_per_minute:
                        total_api_calls = 0
                        print('Model has been put to sleep after the alpha spy')
                        time.sleep(60)

                    else:
                        total_api_calls = total_api_calls


                    #assign symbol the same value as ticker so that the tickers in the column are inputted into the historical earnings function
                    symbol = ticker    

                    #switch the value of data_type_q to 2 so that the historical earnings table can be pulled via alphaDataRetriever
                    data_type_q = '2'

                    #run the alphaDataretriever to get the historical earnings for each symbol in the list

                    try:
#                         print(symbol)
                        print()
                        alphaHistoricalEarnings  = alphaDataRetriever(api_q,data_type_q,symbol,date_of_interest)
                        print()
#                         print('This is the historical earnings dataframe')
#                         display(alphaHistoricalEarnings)
                    except:
                        print()
                        print(ticker)
                        print('An error has occured in the historical earnings function. Check inputs.')
                        #skip to the next ticker and run analysis on it
                        print('This will fuck up the rest of the functions')
#                         total_api_calls = total_api_calls -1
                        
                        continue
        
                    

                    #the historical earnings are called 
                    total_api_calls = total_api_calls + 1

#                     #subtract the call from the stock count
#                     stock_api_calls = stock_api_calls - 1


                    #if the total api calls are 5 then a full set has been completed and it can be subtracted from the total sets needed to gather the information
                    if total_api_calls == api_calls_per_minute:

                        #reset the number of total api calls
                        total_api_calls = 0
                        print()
                        print('Model has been put to sleep after historical earnings call')
                        #sleep the model because an additional api call will break the model
                        time.sleep(60)

                    #if the total api calls isn't equal to 5 then keep the value the same
                    else:

                        total_api_calls = total_api_calls 
################################################################################################################################################################################################################
                    #this section analyzes the stock only if there is enough training data available
    
                    #still within the for loop
                    #the model should have at least 3 years worth of quarterly reports so that 2 years (8 quarters) can be used to train the model and 1 year (4 quarters) can be used to test
                    #if the model has 12 or more instances, then conduct the analysis and provide a buying signal
                    if alphaHistoricalEarnings.shape[0] >= 12:
                        print(symbol,'has reported earnings',alphaHistoricalEarnings.shape[0],'times, as of the current date.')
                        print()

                        #change the value of data_type_q to 3 to call the adjusted price function
                        data_type_q = '3'

                        #run the function that gets the daily adjusted prices for the ticker symbol in the loop
                        try:
#                             print('This is the daily adjusted dataframe:')
#                             print('Symbol: ',symbol)
#                             print('Date of Interest: ',date_of_interest)
#                             print('Daily Adjusted Dataframe:\n')
                            
                            alphaDailyAdjusted  = alphaDataRetriever(api_q,data_type_q,symbol,date_of_interest)
#                             print('This is the daily adjusted price for 
                            
#                             print()
                            
                        except:
#                             total_api_calls = total_api_calls -1
                            print('symbol:',symbol)
                            print('date_of_interest',date_of_interest)
                            print()

                    
                    
                    
                        
#                         print('An error has occured in the alphaDailyAdjusted function. Check inputs.')
                        #skip to the next ticker and run analysis on it
#                         print('skip to the next ticker and run analysis on it')
#                         continue


                        #count the call
                        total_api_calls = total_api_calls + 1

                        #subtract the set from the stock count
#                         stock_api_calls = stock_api_calls - 1


                        #if the total api calls are 5 then a full set has been completed and it can be subtracted from the total sets needed to gather the information
                        if total_api_calls == api_calls_per_minute:
                            #reset the number of total api calls
                            total_api_calls = 0
                            print()
                            print('model has been put to sleep after the daily adjusted call')
                            #sleep the model because an additional api call will break the model
                            time.sleep(60)

                        #keep as is if the total api calls isnt equal to 5 
                        else:

                            total_api_calls = total_api_calls


                        #make sure to call the finhub_function for each stock

              

                        try:
#                             #call the finhub function that will be used to create buying signals
#                             finhub_function = finhubEarningsCalendar(finhubapi, date_of_interest,date_of_interest,ticker)
                            
                            if date_type = '1':
#                                 call the finhub function that will be used to create buying signals
                               finhub_function = finhubEarningsCalendar(finhubapi, date_of_interest,date_of_interest,ticker)
            
                                #call the historicalEarningsTransformer to calculate the first 2 variables
                                historical_earnings_main = historicalEarningsTransformer(date_type,alphaHistoricalEarnings,finhub_function)
                            
                            else:
                                #call the historicalEarningsTransformer to calculate the first 2 variables
                                historical_earnings_main = historicalEarningsTransformer(date_type,alphaHistoricalEarnings,finhub_function)
                      
                            
                            #display
                            print()
#                             print('Below is the historical main function that returns the two x variables')
#                             display(historical_earnings_main.head(15)) 
                        except:
                            print()
                            print('An error has occured in the historicalEarningsTransformer function. Check inputs.')
                            print('')
                            print('finhub api',finhubapi)
                            print()
                            print('Display historical earnings')
                            print()
                            display(alphaHistoricalEarnings.head(5))
                            print()
                            print('finhub function',finhub_function)
                            
                            #skip to the next ticker and run analysis on it
                            print('skip to the next ticker and run analysis on it')
                            
                            continue



                        try:
                            #this runs the first part of the model where the variables are transformed only if the api call count is within the 5 call limit
                            dailyAdustedPriceTransformer_main = dailyAdustedPriceTransformer(alphaDailyAdjusted,historical_earnings_main,alphaSPY)

                            #display
                            print()
#                             print('This is the dataframe with the remaining 3 variables that pertain to the earnings data')
#                             display(dailyAdustedPriceTransformer_main.head(15)) 
                        except:
                            print()
                            #skip to the next ticker and run analysis on it
                            print('skip to the next ticker and run analysis on it')
                            continue

                            print('An error has occured in the dailyAdustedPriceTransformer function. Check inputs.')


                        #call the finalTransformation function that will get all the x and y variables ready
#                             output_type = input('What type of output would you like?:\n\nLogic will display how the model variables were created, while Clean Variables will not:\n\n 1.Logic\n\n 2.Clean Variables\n\n')

#                                         output_type = '2'

                        #if the user chooses output type logic, then print the following statements before running final transformer
                        if output_type == '1':

                            #print the following statements:
                            #first run the historical earnings report for the stock 
                            print('1. Retrieve the historical earnings report for the stock:\n')
                            print('This dataframe contains %s\'s historical earnings report. The first row pertains to either the most recent earnings date (if the date is in the past/the same as today) or the upcoming earnings report date (if the date is in the future)'%(ticker))
                            print()
                            try:
                                display(alphaHistoricalEarnings.head(15))
                                print()
                            except:
                                print('Does not exist.')
                            #secondly
                            print('2. Insert the historical earnings report into the historicalEarningsTransformer function:\n')
                            print('This is %s\'s most updated earnings table that contains the earnings_event and surprise_event variables that will be used in the analysis:\n'%(ticker))

                            try:
                                display(historical_earnings_main.head(15))
                                print()
                            except:
                                print('Does not exist.')

                            #thirdly
                            print('3. Retrieve the last 5,000 daily adjusted prices for %s in order to create the intraday_event and adjusted_price_event variables:\n'%(ticker))

                            try:
                                display(alphaDailyAdjusted.head(15))
                                print()
                            except:
                                print('Does not exist.')

                            #fourth

                            try:
                                print('4. Retrieve the last 5,000 daily adjusted prices for SPY in order to create the spy_event variable:\n')
                                display(alphaSPY.head(15))
                                print()
                            except:
                                print('Does not exist.')

                            #fifth
                            try:
                                print('5. Connect both daily adjusted price dataframes (Stock Prices and SPY Prices) with the historical earnings report in order to calculate the x variables intraday_event, adjusted_price_event, spy_event:\n')
                                display(dailyAdustedPriceTransformer_main.head(15))
                                print()
                                
                            except:
                                print('Does not exist.')

                            #sixth
                            print('6. Run the final tranformer function to generate the class variable:\n')
                            print()
                            
#                             try:
                                
#                           #see what's breaking specifically     

                            print('Run the analysis with just clean variables')
                            #parameters include : individual_hist_earn,both_dailyAdjustedPrices,daily_prices,output_type
                            finTransformationTransformer_main = finalTransformation(historical_earnings_main,dailyAdustedPriceTransformer_main,alphaDailyAdjusted,output_type,date_type)
                            display(finTransformationTransformer_main)
#                             else:
#                                 print('No variables to display.')
                                #debug
#                                 print()
#                                 print()
                            
                            
                            
                            try:
                                #run the model by calling the naivebayesPredictor function (returns a dictionary):
                                model_output = naiveBayesPredictor(finTransformationTransformer_main,date_type)

                                #add the symbol to the dictionary values 
                                model_output['symbol'] = symbol 

                                model_result_list.append(model_output)

                                #convert the dictionary into a readable dataframe:
                                individual_analysis_results = pd.DataFrame.from_dict(model_output)

                                #display the pretty dataframe
                                display(individual_analysis_results)
                            except:
                                print('No predicitive output to display.')
                                print()




                        
                        #if the output type is equal to 2 aka clean
                        else:
                            
                            try:
                                
                                print('Run the analysis with just clean variables')
                                #parameters include : individual_hist_earn,both_dailyAdjustedPrices,daily_prices,output_type
                                finTransformationTransformer_main = finalTransformation(historical_earnings_main,dailyAdustedPriceTransformer_main,alphaDailyAdjusted,output_type,date_type)

                            except:
                                print('No variables to display.')
                                print()

                        
#                         #if the output is equal to 2 aka clean variables:
#                         else:
#                 print(model_result_list)            
                        
                        
                        
#                         #parameters include : individual_hist_earn,both_dailyAdjustedPrices,daily_prices,output_type
#                         finTransformationTransformer_main = finalTransformation(historical_earnings_main,dailyAdustedPriceTransformer_main,alphaDailyAdjusted,output_type,date_type)
#                         print()
# #                         print('This is the dataframe that contains all the clean variables necessary for analysis:')
# #                         display(finTransformationTransformer_main.head(15))

#                         try:
#                             print('This is the dataframe that contains all the clean variables necessary for analysis:')
#                             display(finTransformationTransformer_main.head(15))

#                         except:
# #                             print('No variables to display.')
# #                             print()

#                         try:
#                             #run the model by calling the naivebayesPredictor function (returns a dictionary):
#                             model_output = naiveBayesPredictor(finTransformationTransformer_main,date_type)
                            
#                             #add the symbol to the dictionary values 
#                             model_output['symbol'] = symbol 

#                             model_result_list.append(model_output)

#                             #convert the dictionary into a readable dataframe:
#                             individual_analysis_results = pd.DataFrame.from_dict(model_output)

#                             #display the pretty dataframe
#                             display(individual_analysis_results)
#                         except:
#                             print('No predicitive output to display.')
#                             print()

#                         #add the symbol to the dictionary values 
#                         model_output['symbol'] = symbol 

#                         model_result_list.append(model_output)

#                         #convert the dictionary into a readable dataframe:
#                         individual_analysis_results = pd.DataFrame.from_dict(model_output)

#                         #display the pretty dataframe
#                         display(individual_analysis_results)

################################################################################################################################################################################################################
                    #if the stock does not have enough data then skip and go on to the next one
                    else:
                        print('This stock does not have enough data to conduct a proper naive bayes analysis.')

                        #if there are not enough data points for a proper analysis, that means that this stock will not pull the remaining 2 dataframes
                        #subtract the api call count by 2
#                         stock_api_calls = stock_api_calls - 2
#                         print(stock_api_calls)

                                    
                                
                                


                #at this point, the for loop has ended and the results of the multi-company analysis shoudl be displayed
                #say bye
#                 print()
#                 print(model_result_list)
                print()
                print('Model performance across all the stock in the list:\n')
                multi_analysis_results = pd.DataFrame.from_dict(model_result_list)
                display(multi_analysis_results)
                print('Thank you for using the model.')
                print('Please wait 60 seconds before running the model again.')

                #sleep the model
                time.sleep(60)

                #turn model off
                modelValidation = False     

                        
#############################################################################################################################################################################################################                        
        #this else was put here to incase the analyst put invalid option to the first question of data of interest
        else:
            
            print('Invalid input. Please run the model again.')
            #turn the model off since the user put an invalid option
            modelValidation = False
        
        print()

SyntaxError: invalid syntax (<ipython-input-78-e97408877fb9>, line 694)

## Showcasing Model Outputs

### 1. Upcoming Earnings Calendar

In [34]:
if __name__=="__main__":
    main()        

#alphavantage API key
#TQ6TR98HVUPE3L9Z

#finhub API key
#c5d5iiqad3i9ue38pn9g

#the present date and time is 10/21/2021 at 5 PM

What is your alphavantage API Key?:

TQ6TR98HVUPE3L9Z

What kind of data are you looking for?

Type the number in the input box:

1. Upcoming Earnings Calendar (3 month horizon)
2. Historical Earnings (for a specific company)
3. Daily Adjusted Price History (for a specific company)
4. Naive Bayes Prediction Model

1

Pick a date that is within the next three months (yyyy-mm-dd):
2021-10-22

Total API Calls: 1

,symbol,name,reportDate,estimate
150,AIMC,Altra Industrial Motion Corp,2021-10-22,0.82
218,ALV,Autoliv Inc,2021-10-22,0.87
483,AXP,American Express Company,2021-10-22,1.8
963,CLF,Cleveland-Cliffs Inc,2021-10-22,2.26
1366,DSKE,Daseke Inc,2021-10-22,0.32
1667,FHB,First Hawaiian INC,2021-10-22,0.48
1936,GNTX,Gentex Corp,2021-10-22,0.39
2045,HCA,HCA Healthcare Inc,2021-10-22,4
2116,HON,Honeywell International Inc,2021-10-22,1.99
2883,MNR,Monmouth Real Estate Investment Corp - Class A,2021-10-22,0.07
3704,RBCAA,Republic Bancorp Inc (KY) - Class A,2021-10-22,0.9
3754,RF,Regions Financial Corp,2021-10-22,0.52
3823,ROP,Roper Technologies Inc,2021-10-22,3.83
4039,SLB,Schlumberger Ltd,2021-10-22,0.36
4074,SMPL,Simply Good Foods Company,2021-10-22,0.25
4211,STX,Seagate Technology Holdings Plc,2021-10-22,2.21
4636,VFC,VF Corp,2021-10-22,1.15

This is not investment advice.
Please wait 60 seconds before running the model again.

### 2. Historical Earnings Report (Specific Stock)

In [35]:
if __name__=="__main__":
    main()        

#alphavantage API key
#TQ6TR98HVUPE3L9Z

#finhub API key
#c5d5iiqad3i9ue38pn9g

#the present date and time is 10/21/2021 at 5 PM

What is your alphavantage API Key?:

TQ6TR98HVUPE3L9Z

What kind of data are you looking for?

Type the number in the input box:

1. Upcoming Earnings Calendar (3 month horizon)
2. Historical Earnings (for a specific company)
3. Daily Adjusted Price History (for a specific company)
4. Naive Bayes Prediction Model

2

Enter the ticker symbol:

AIMC

This is not investment advice.
Please wait 60 seconds before running the model again.
Total API Calls: 1

   reportedDate reportedEPS estimatedEPS surprise surprisePercentage
0    2021-07-23        0.89        0.815    0.075             9.2025
1    2021-04-29        0.86       0.7633   0.0967            12.6687
2    2021-02-12        0.76         0.69     0.07            10.1449
3    2020-10-23        0.87         0.46     0.41            89.1304
4    2020-07-24         0.6         0.31     0.29            93.5484
5    2020-04-30        0.65         0.54     0.11            20.3704
6    2020-02-13        0.66       0.6433   0.0167              2.596
7    2019-10-24        0.69       0.6633   0.0267             4.0253
8    2019-07-25        0.71       0.7867  -0.0767            -9.7496
9    2019-04-26         0.8       0.7225   0.0775            10.7266
10   2019-02-21        0.65       0.7133  -0.0633            -8.8742
11   2018-10-25        0.64       0.6025   0.0375             6.2241
12   2018-07-26        0.71       0.6675   0.0425              6.367
13   2018-04-27        0.66        0.576    0.084            14.5833
14   2018-02-21        0.47        0.468    0.002             0.4274
15   2017-10-20        0.48         0.46     0.02             4.3478
16   2017-07-25        0.57          0.5     0.07                 14
17   2017-04-28        0.53       0.3917   0.1383            35.3076
18   2017-02-27        0.41         0.34     0.07            20.5882
19   2016-10-21        0.35       0.3417   0.0083              2.429
20   2016-07-21        0.42       0.3833   0.0367             9.5747
21   2016-04-29        0.38        0.325    0.055            16.9231
22   2016-02-17        0.36         0.34     0.02             5.8824
23   2015-10-23        0.43         0.39     0.04            10.2564
24   2015-07-23        0.43         0.43        0                  0
25   2015-04-30        0.42          0.4     0.02                  5
26   2015-02-18        0.42         0.38     0.04            10.5263
27   2014-10-24        0.45         0.43     0.02             4.6512
28   2014-07-24        0.48         0.49    -0.01            -2.0408
29   2014-04-25        0.48          0.5    -0.02                 -4
30   2014-02-19        0.38         0.38        0                  0
31   2013-10-24         0.4         0.37     0.03             8.1081
32   2013-07-25        0.41         0.47    -0.06            -12.766
33   2013-04-26        0.45         0.45        0                  0
34   2013-02-14        0.36         0.24     0.12                 50
35   2012-10-25        0.34          0.3     0.04            13.3333
36   2012-07-27        0.42         0.41     0.01              2.439
37   2012-04-27         0.4         0.37     0.03             8.1081
38   2012-02-16        0.24         0.33    -0.09           -27.2727
39   2011-11-01        0.35         0.33     0.02             6.0606
40   2011-08-08        0.34         0.42    -0.08           -19.0476
41   2011-04-26         0.4         0.33     0.07            21.2121
42   2011-02-28        0.24         0.22     0.02             9.0909
43   2010-11-01        0.26         0.19     0.07            36.8421
44   2010-08-02        0.27         0.25     0.02                  8
45   2010-05-04        0.24         0.19     0.05            26.3158
46   2010-03-03        0.14         0.06     0.08           133.3333
47   2009-11-02        0.06         None     None               None
48   2009-08-03        0.01         0.07    -0.06           -85.7143
49   2009-05-04        0.12         0.05     0.07                140
50   2009-03-04        0.34         0.22     0.12            54.5455
51   2008-11-05        0.35         0.33     0.02             6.0606
52   2008-08-04        0.39         0.36     0.03             8.3333
53   2008-05-05        0.37         0.32     0.05             15.625
54   2008-03-10        0.22         0.23    -0.01            -4.3478
55   2007-11-02        0.25         0.22     0.03            13.6364
56   2007-07-26        0.31         0.28     0.03            10.7143
57   2007-04-26        0.29         0.25     0.04                 16
58   2007-02-27       -0.46         0.12    -0.58          -483.3333

### 3. Daily Adjusted Price Report (Specific Stock)

In [38]:
if __name__=="__main__":
    main()        

#alphavantage API key
#TQ6TR98HVUPE3L9Z

#finhub API key
#c5d5iiqad3i9ue38pn9g

#the present date and time is 10/21/2021 at 5 PM

What is your alphavantage API Key?:

TQ6TR98HVUPE3L9Z

What kind of data are you looking for?

Type the number in the input box:

1. Upcoming Earnings Calendar (3 month horizon)
2. Historical Earnings (for a specific company)
3. Daily Adjusted Price History (for a specific company)
4. Naive Bayes Prediction Model

3

Enter the ticker symbol:

AIMC

This is not investment advice.
Please wait 60 seconds before running the model again.

Total API Calls: 1

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,Intraday_Returns,Weekly_Median_Return,trading_date
0,56.60,57.150,55.890,57.00,57.00,253571,0.0,1.0,0.7067,0.5395,2021-10-21
1,55.97,57.380,55.970,57.01,57.01,150512,0.0,1.0,1.8581,0.1787,2021-10-20
2,55.95,56.380,55.250,56.05,56.05,145147,0.0,1.0,0.1787,-0.4873,2021-10-19
3,54.24,55.750,54.240,55.59,55.59,138822,0.0,1.0,2.4889,-0.5667,2021-10-18
4,55.41,55.679,54.090,55.14,55.14,354577,0.0,1.0,-0.4873,-0.5667,2021-10-15
5,53.75,54.310,53.350,54.04,54.04,231975,0.0,1.0,0.5395,-0.5667,2021-10-14
6,54.37,54.370,52.860,52.99,52.99,193745,0.0,1.0,-2.5382,-0.5667,2021-10-13
7,54.70,55.085,53.970,54.39,54.39,118328,0.0,1.0,-0.5667,-0.3206,2021-10-12
8,56.16,56.250,54.400,54.56,54.56,170354,0.0,1.0,-2.8490,-0.3206,2021-10-11
9,54.88,56.260,53.590,55.82,55.82,209190,0.0,1.0,1.7128,-0.3206,2021-10-08
10,55.05,55.820,54.705,54.94,54.94,316553,0.0,1.0,-0.1998,-0.5692,2021-10-07
11,55.12,55.450,52.940,54.26,54.26,185002,0.0,1.0,-1.5602,-0.3341,2021-10-06
12,56.15,56.970,55.005,55.97,55.97,175375,0.0,1.0,-0.3206,-0.5692,2021-10-05
13,56.22,56.930,55.330,55.90,55.90,123296,0.0,1.0,-0.5692,-0.3341,2021-10-04
14,55.69,57.190,54.755,56.53,56.53,182821,0.0,1.0,1.5083,-0.3341,2021-10-01

### 4.1. Naive Bayes Prediction Model (Specific Stock | Future Date | Logical Display)

In [42]:
if __name__=="__main__":
    main()        

#alphavantage API key
#TQ6TR98HVUPE3L9Z

#finhub API key
#c5d5iiqad3i9ue38pn9g
#the present date and time is 10/21/2021 at 5 PM

What is your alphavantage API Key?:

TQ6TR98HVUPE3L9Z

What kind of data are you looking for?

Type the number in the input box:

1. Upcoming Earnings Calendar (3 month horizon)
2. Historical Earnings (for a specific company)
3. Daily Adjusted Price History (for a specific company)
4. Naive Bayes Prediction Model

4

What type of analysis are you looking to do?:

1.Individual Company

2.Multi-Company

1

Enter the date of interest:

2021-10-22

Enter the ticker symbol:

AIMC


AIMC has reported earnings 59 times, as of the current date.


What type of output would you like?:

Logic will display how the model variables were created, while Clean Variables will not:

 1.Logic

 2.Clean Variables

1

1. Retrieve the historical earnings report for the stock:

This dataframe contains AIMC's historical earnings report. The first row pertains to either the most recent earnings date (if the date is in the past/the same as today) or the upcoming earnings report date (if the date is in the future)

   reportedDate reportedEPS estimatedEPS surprise surprisePercentage
0    2021-07-23        0.89        0.815    0.075             9.2025
1    2021-04-29        0.86       0.7633   0.0967            12.6687
2    2021-02-12        0.76         0.69     0.07            10.1449
3    2020-10-23        0.87         0.46     0.41            89.1304
4    2020-07-24         0.6         0.31     0.29            93.5484
5    2020-04-30        0.65         0.54     0.11            20.3704
6    2020-02-13        0.66       0.6433   0.0167              2.596
7    2019-10-24        0.69       0.6633   0.0267             4.0253
8    2019-07-25        0.71       0.7867  -0.0767            -9.7496
9    2019-04-26         0.8       0.7225   0.0775            10.7266
10   2019-02-21        0.65       0.7133  -0.0633            -8.8742
11   2018-10-25        0.64       0.6025   0.0375             6.2241
12   2018-07-26        0.71       0.6675   0.0425              6.367
13   2018-04-27        0.66        0.576    0.084            14.5833
14   2018-02-21        0.47        0.468    0.002             0.4274

2. Insert the historical earnings report into the historicalEarningsTransformer function:

This is AIMC's most updated earnings table that contains the earnings_event and surprise_event variables that will be used in the analysis:

,column_of_interest,reportedEPS,estimatedEPS,surprise,surprisePercentage,earnings_event,surprise_event
0,2021-07-23,0.89,0.8150,0.075,9.2025,1,1
1,2021-04-29,0.86,0.7633,0.0967,12.6687,1,1
2,2021-02-12,0.76,0.6900,0.07,10.1449,0,1
3,2020-10-23,0.87,0.4600,0.41,89.1304,1,1
4,2020-07-24,0.60,0.3100,0.29,93.5484,0,1
5,2020-04-30,0.65,0.5400,0.11,20.3704,0,1
6,2020-02-13,0.66,0.6433,0.0167,2.5960,0,1
7,2019-10-24,0.69,0.6633,0.0267,4.0253,0,1
8,2019-07-25,0.71,0.7867,-0.0767,-9.7496,0,0
9,2019-04-26,0.80,0.7225,0.0775,10.7266,1,1
10,2019-02-21,0.65,0.7133,-0.0633,-8.8742,1,0
11,2018-10-25,0.64,0.6025,0.0375,6.2241,0,1
12,2018-07-26,0.71,0.6675,0.0425,6.3670,1,1
13,2018-04-27,0.66,0.5760,0.084,14.5833,1,1
14,2018-02-21,0.47,0.4680,0.002,0.4274,0,1

3. Retrieve the last 5,000 daily adjusted prices for AIMC in order to create the intraday_event and adjusted_price_event variables:

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,Intraday_Returns,Weekly_Median_Return,trading_date
0,56.60,57.150,55.890,57.00,57.00,253571,0.0,1.0,0.7067,0.5395,2021-10-21
1,55.97,57.380,55.970,57.01,57.01,150512,0.0,1.0,1.8581,0.1787,2021-10-20
2,55.95,56.380,55.250,56.05,56.05,145147,0.0,1.0,0.1787,-0.4873,2021-10-19
3,54.24,55.750,54.240,55.59,55.59,138822,0.0,1.0,2.4889,-0.5667,2021-10-18
4,55.41,55.679,54.090,55.14,55.14,354577,0.0,1.0,-0.4873,-0.5667,2021-10-15
5,53.75,54.310,53.350,54.04,54.04,231975,0.0,1.0,0.5395,-0.5667,2021-10-14
6,54.37,54.370,52.860,52.99,52.99,193745,0.0,1.0,-2.5382,-0.5667,2021-10-13
7,54.70,55.085,53.970,54.39,54.39,118328,0.0,1.0,-0.5667,-0.3206,2021-10-12
8,56.16,56.250,54.400,54.56,54.56,170354,0.0,1.0,-2.8490,-0.3206,2021-10-11
9,54.88,56.260,53.590,55.82,55.82,209190,0.0,1.0,1.7128,-0.3206,2021-10-08
10,55.05,55.820,54.705,54.94,54.94,316553,0.0,1.0,-0.1998,-0.5692,2021-10-07
11,55.12,55.450,52.940,54.26,54.26,185002,0.0,1.0,-1.5602,-0.3341,2021-10-06
12,56.15,56.970,55.005,55.97,55.97,175375,0.0,1.0,-0.3206,-0.5692,2021-10-05
13,56.22,56.930,55.330,55.90,55.90,123296,0.0,1.0,-0.5692,-0.3341,2021-10-04
14,55.69,57.190,54.755,56.53,56.53,182821,0.0,1.0,1.5083,-0.3341,2021-10-01

4. Retrieve the last 5,000 daily adjusted prices for SPY in order to create the spy_event variable:

,1. open,2. high,3. low,4. close,spy_adjusted_close,6. volume,7. dividend amount,8. split coefficient,spy_intraday_returns,spy_weekly_median_return,column_of_interest,spy_event
0,451.77,453.8300,451.31,453.59,453.59,40986229,0.0,1.0,0.4029,0.3831,2021-10-21,1
1,451.13,452.7320,451.01,452.41,452.41,49571569,0.0,1.0,0.2837,0.3831,2021-10-20,0
2,448.92,450.7100,448.27,450.64,450.64,46996827,0.0,1.0,0.3831,0.2518,2021-10-19,1
3,443.97,447.5500,443.27,447.19,447.19,62213228,0.0,1.0,0.7253,0.1081,2021-10-18,1
4,444.75,446.2600,444.09,445.87,445.87,66260210,0.0,1.0,0.2518,-0.3686,2021-10-15,1
5,439.08,442.6600,438.58,442.50,442.50,70236825,0.0,1.0,0.7789,-0.3686,2021-10-14,1
6,434.71,436.0500,431.54,435.18,435.18,72973979,0.0,1.0,0.1081,-0.3686,2021-10-13,1
7,435.67,436.1000,432.78,433.62,433.62,71181163,0.0,1.0,-0.4705,0.0616,2021-10-12,0
8,437.16,440.2600,434.62,434.69,434.69,65233285,0.0,1.0,-0.5650,0.0616,2021-10-11,0
9,439.48,439.8900,437.19,437.86,437.86,74557404,0.0,1.0,-0.3686,0.6647,2021-10-08,0
10,438.39,441.6800,438.20,438.66,438.66,72437499,0.0,1.0,0.0616,0.6647,2021-10-07,0
11,429.27,435.1199,427.54,434.90,434.90,113032245,0.0,1.0,1.3115,-0.1700,2021-10-06,1
12,430.24,435.4900,429.39,433.10,433.10,90682520,0.0,1.0,0.6647,-1.0069,2021-10-05,1
13,433.00,433.9600,426.36,428.64,428.64,128569957,0.0,1.0,-1.0069,-0.1700,2021-10-04,0
14,430.98,436.0329,427.23,434.24,434.24,129240106,0.0,1.0,0.7564,-0.1700,2021-10-01,1

5. Connect both daily adjusted price dataframes (Stock Prices and SPY Prices) with the historical earnings report in order to calculate the x variables intraday_event, adjusted_price_event, spy_event:

,1. open,2. high,3. low,4. close,stock_adjusted_close,6. volume,7. dividend amount,8. split coefficient,stock_intraday_returns,stock_weekly_median_return,column_of_interest,intraday_event,adjusted_price_event,spy_intraday_returns,spy_weekly_median_return,spy_adjusted_close,spy_event
63,65.00,65.00,60.5200,62.20,62.110840,251370,0.0,1.0,-4.4449,-0.4607,2021-07-23,0,0,0.2288,-0.1574,438.521197,1
122,65.71,65.88,61.8400,63.68,63.507830,420115,0.0,1.0,-3.3513,0.6349,2021-04-29,0,1,-0.7134,-0.7494,417.321472,1
174,53.00,54.96,50.1201,53.01,52.815118,835986,0.0,1.0,-0.3488,0.3248,2021-02-12,0,1,-0.2681,-1.1018,388.804661,1
250,42.99,45.03,41.3000,44.82,44.606414,909288,0.0,1.0,3.7600,-0.2991,2020-10-23,1,1,-1.4416,-1.5711,340.943239,1
314,35.67,35.67,32.9800,34.55,34.351436,482613,0.0,1.0,-3.6966,-0.9890,2020-07-24,0,1,-1.8180,-1.8454,315.115236,1
373,26.80,29.20,25.4000,27.91,27.713837,1371135,0.0,1.0,3.4098,5.0431,2020-04-30,0,0,-2.6416,-1.6659,284.004199,0
426,36.60,38.43,36.6000,37.40,36.740324,794422,0.0,1.0,0.3834,-2.1444,2020-02-13,1,1,-2.4791,-2.8059,327.533672,1
502,30.45,30.45,29.1800,29.35,28.692150,581808,0.0,1.0,-5.7729,-0.3411,2019-10-24,0,1,-3.4732,-3.4287,290.458822,0
566,32.45,33.50,28.2200,28.58,27.774889,2915595,0.0,1.0,-14.4071,-1.3228,2019-07-25,0,0,-4.0468,-3.4598,288.761564,0
628,36.09,38.15,35.2000,37.60,36.368094,942356,0.0,1.0,0.7706,-3.1636,2019-04-26,1,1,-3.7830,-4.2355,281.049894,1
673,28.71,35.85,28.7100,33.58,32.306713,1400170,0.0,1.0,12.5277,-1.9137,2019-02-21,1,1,-4.7268,-4.4216,264.573747,0
752,33.15,34.02,31.6700,32.68,31.237995,3113591,0.0,1.0,-5.7677,-8.0293,2018-10-25,1,0,-4.2386,-5.8771,256.046715,1
816,45.85,46.35,44.8000,45.45,43.260432,272809,0.0,1.0,-5.6479,-4.3893,2018-07-26,0,1,-5.5768,-5.6538,267.406482,1
878,46.05,46.55,41.5500,42.50,40.298081,341802,0.0,1.0,-12.4906,-6.3569,2018-04-27,0,0,-6.2006,-6.2883,250.444441,1
924,44.60,45.55,41.0500,44.05,41.616925,237241,0.0,1.0,-6.6885,-5.3181,2018-02-21,0,0,-7.0568,-5.9170,252.712612,0

6. Run the final tranformer function to generate the class variable:


This is the dataframe with the columns that were used to construct the variables of the model:

,column_of_interest,reportedEPS,estimatedEPS,surprise,surprisePercentage,stock_adjusted_close,stock_intraday_returns,stock_weekly_median_return,spy_adjusted_close,spy_intraday_returns,spy_weekly_median_return,after_report_adjusted_price,return_pct_difference,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,2021-07-23,0.89,0.8150,0.075,9.2025,62.110840,-4.4449,-0.4607,438.521197,0.2288,-0.1574,60.742804,-2.20,1,1,0,0,1,0
1,2021-04-29,0.86,0.7633,0.0967,12.6687,63.507830,-3.3513,0.6349,417.321472,-0.7134,-0.7494,58.850456,-7.33,1,1,1,0,1,0
2,2021-02-12,0.76,0.6900,0.07,10.1449,52.815118,-0.3488,0.3248,388.804661,-0.2681,-1.1018,54.359419,2.92,0,1,1,0,1,1
3,2020-10-23,0.87,0.4600,0.41,89.1304,44.606414,3.7600,-0.2991,340.943239,-1.4416,-1.5711,43.441990,-2.61,1,1,1,1,1,0
4,2020-07-24,0.60,0.3100,0.29,93.5484,34.351436,-3.6966,-0.9890,315.115236,-1.8180,-1.8454,34.082988,-0.78,0,1,1,0,1,0
5,2020-04-30,0.65,0.5400,0.11,20.3704,27.713837,3.4098,5.0431,284.004199,-2.6416,-1.6659,25.370424,-8.46,0,1,0,0,0,0
6,2020-02-13,0.66,0.6433,0.0167,2.5960,36.740324,0.3834,-2.1444,327.533672,-2.4791,-2.8059,35.767786,-2.65,0,1,1,1,1,0
7,2019-10-24,0.69,0.6633,0.0267,4.0253,28.692150,-5.7729,-0.3411,290.458822,-3.4732,-3.4287,29.053857,1.26,0,1,1,0,0,1
8,2019-07-25,0.71,0.7867,-0.0767,-9.7496,27.774889,-14.4071,-1.3228,288.761564,-4.0468,-3.4598,27.648551,-0.45,0,0,0,0,0,0
9,2019-04-26,0.80,0.7225,0.0775,10.7266,36.368094,0.7706,-3.1636,281.049894,-3.7830,-4.2355,36.542196,0.48,1,1,1,1,1,0
10,2019-02-21,0.65,0.7133,-0.0633,-8.8742,32.306713,12.5277,-1.9137,264.573747,-4.7268,-4.4216,32.585717,0.86,1,0,1,1,0,0
11,2018-10-25,0.64,0.6025,0.0375,6.2241,31.237995,-5.7677,-8.0293,256.046715,-4.2386,-5.8771,30.167415,-3.43,0,1,0,1,1,0
12,2018-07-26,0.71,0.6675,0.0425,6.3670,43.260432,-5.6479,-4.3893,267.406482,-5.5768,-5.6538,42.498972,-1.76,1,1,1,0,1,0
13,2018-04-27,0.66,0.5760,0.084,14.5833,40.298081,-12.4906,-6.3569,250.444441,-6.2006,-6.2883,39.492119,-2.00,1,1,0,0,1,0
14,2018-02-21,0.47,0.4680,0.002,0.4274,41.616925,-6.6885,-5.3181,252.712612,-7.0568,-5.9170,41.900355,0.68,0,1,0,0,0,0
15,2017-10-20,0.48,0.4600,0.02,4.3478,45.514789,-8.9704,-5.6718,239.389549,-6.7435,-6.8630,45.467721,-0.10,0,1,1,0,1,0
16,2017-07-25,0.57,0.5000,0.07,14.0000,40.006154,-4.2915,-6.4355,229.231707,-7.4484,-7.1858,39.818552,-0.47,1,1,0,1,0,0
17,2017-04-28,0.53,0.3917,0.1383,35.3076,41.249138,0.4851,-6.4535,219.507992,-8.1172,-7.8433,40.735276,-1.25,1,1,1,1,0,0
18,2017-02-27,0.41,0.3400,0.07,20.5882,38.160087,-18.6352,-6.9266,217.664945,-8.0185,-7.8228,36.159010,-5.24,1,1,1,0,0,0
19,2016-10-21,0.35,0.3417,0.0083,2.4290,26.925473,-4.6886,-7.9482,195.278619,-8.6971,-8.9655,27.481592,2.07,0,1,1,1,1,1
20,2016-07-21,0.42,0.3833,0.0367,9.5747,25.798973,-8.9662,-8.0861,196.372617,-9.4890,-9.0867,26.121575,1.25,1,1,0,0,0,1
21,2016-04-29,0.38,0.3250,0.055,16.9231,26.310352,-10.7519,-7.6827,186.373880,-9.8424,-9.5201,26.842060,2.02,1,1,1,0,0,1
22,2016-02-17,0.36,0.3400,0.02,5.8824,21.419744,-4.2479,-9.3071,173.334591,-9.3249,-9.6526,21.210104,-0.98,0,1,0,1,1,0
23,2015-10-23,0.43,0.3900,0.04,10.2564,23.797601,-7.1856,-10.0414,185.368246,-10.5581,-10.4807,23.308237,-2.06,0,1,1,1,0,0
24,2015-07-23,0.43,0.4300,0,0.0000,22.978831,-11.9585,-10.1651,186.720844,-11.7284,-11.0692,22.519435,-2.00,1,0,0,0,0,0
25,2015-04-30,0.42,0.4000,0.02,5.0000,23.626611,-14.1475,-11.2714,184.327403,-12.1749,-11.5808,24.728649,4.66,0,1,0,0,0,1
26,2015-02-18,0.42,0.3800,0.04,10.5263,24.601350,-10.4428,-10.5345,184.985735,-11.7687,-11.6671,23.379310,-4.97,0,1,0,1,0,0
27,2014-10-24,0.45,0.4300,0.02,4.6512,26.714011,-11.8931,-10.8977,171.979977,-11.9181,-12.3077,26.403176,-1.16,0,1,0,0,1,0
28,2014-07-24,0.48,0.4900,-0.01,-2.0408,31.982892,-11.9414,-10.5749,173.113552,-12.9339,-12.7714,30.169201,-5.67,0,0,1,0,0,0
29,2014-04-25,0.48,0.5000,-0.02,-4.0000,30.641450,-8.1216,-10.9602,161.570045,-13.7004,-13.0316,29.636234,-3.28,1,0,1,1,0,0
30,2014-02-19,0.38,0.3800,0,0.0000,29.850941,-12.0997,-11.8924,158.034087,-13.9997,-13.0947,31.380857,5.13,0,0,1,0,0,0
31,2013-10-24,0.40,0.3700,0.03,8.1081,25.682565,-9.2489,-12.1260,150.426343,-14.0028,-13.8702,26.077007,1.54,0,1,0,1,0,1
32,2013-07-25,0.41,0.4700,-0.06,-12.7660,26.198240,-11.4026,-12.8167,144.375696,-14.1745,-14.4898,22.259772,-15.03,0,0,1,1,1,0
33,2013-04-26,0.45,0.4500,0,0.0000,22.359665,-12.3838,-12.3351,134.529842,-15.0320,-14.7708,22.585872,1.01,1,0,1,0,0,1
34,2013-02-14,0.36,0.2400,0.12,50.0000,21.670138,-13.4233,-13.7087,128.897547,-15.0257,-15.3437,22.997412,6.12,1,1,1,1,1,0
35,2012-10-25,0.34,0.3000,0.04,13.3333,14.817483,-11.1129,-13.5497,118.855146,-16.3110,-16.2225,15.379734,3.79,0,1,1,1,0,1
36,2012-07-27,0.42,0.4100,0.01,2.4390,14.356630,-6.4715,-13.9510,115.924658,-15.3155,-16.5642,14.020147,-2.34,1,1,0,1,1,0
37,2012-04-27,0.40,0.3700,0.03,8.1081,16.066048,-9.7920,-14.3287,116.755013,-16.9476,-16.5923,15.722021,-2.14,1,1,0,1,0,0
38,2012-02-16,0.24,0.3300,-0.09,-27.2727,17.674373,-7.2211,-13.9933,112.652745,-16.2869,-17.1731,17.244340,-2.43,0,0,1,1,1,0
39,2011-11-01,0.35,0.3300,0.02,6.0606,12.875200,-12.4136,-14.2742,100.383189,-17.7389,-17.7518,13.924482,8.15,1,1,1,1,1,0
40,2011-08-08,0.34,0.4200,-0.08,-19.0476,11.447489,-26.3827,-17.4305,91.896385,-21.3956,-19.4285,13.692264,19.61,0,0,0,0,0,0
41,2011-04-26,0.40,0.3300,0.07,21.2121,20.727610,-14.8414,-14.0998,109.797121,-18.0924,-18.5482,21.467268,3.57,1,1,1,0,1,1
42,2011-02-28,0.24,0.2200,0.02,9.0909,18.603245,-14.8593,-14.2264,107.993499,-18.6918,-18.8624,17.648571,-5.13,0,1,1,0,1,0
43,2010-11-01,0.26,0.1900,0.07,36.8421,12.505371,-16.2400,-13.1378,95.633489,-19.6830,-19.1738,13.761069,10.04,0,1,0,0,0,0
44,2010-08-02,0.27,0.2500,0.02,8.0000,12.978408,-12.3081,-14.2863,90.493694,-19.1948,-20.0999,12.488170,-3.78,1,1,1,1,1,0
45,2010-05-04,0.24,0.1900,0.05,26.3158,12.857999,-16.6688,-14.5659,93.867411,-21.1265,-19.9050,12.857999,0.00,1,1,1,0,0,0
46,2010-03-03,0.14,0.0600,0.08,133.3333,10.389607,-13.9933,-13.2718,89.327990,-20.5903,-19.9648,11.000255,5.88,1,1,1,0,0,0
47,2009-08-03,0.01,0.0700,-0.06,-85.7143,7.706199,-12.8258,-12.8311,79.091767,-20.7894,-21.0850,7.671796,-0.45,0,0,1,1,1,0
48,2009-05-04,0.12,0.0500,0.07,140.0000,5.298012,-8.6550,-12.2558,71.163064,-19.6352,-21.2926,6.192481,16.88,0,1,1,1,1,0
49,2009-03-04,0.34,0.2200,0.12,54.5455,4.317535,-14.5042,-15.8698,55.759673,-21.7188,-23.9362,3.079039,-28.69,0,1,0,1,1,0
50,2008-11-05,0.35,0.3300,0.02,6.0606,6.605313,-25.0248,-11.3902,74.168801,-25.2331,-22.4748,6.742924,2.08,0,1,0,0,0,1
51,2008-08-04,0.39,0.3600,0.03,8.3333,13.829874,-14.3130,-14.3530,95.841978,-23.9591,-23.6634,14.036290,1.49,1,1,1,1,0,1
52,2008-05-05,0.37,0.3200,0.05,15.6250,13.081616,-13.8801,-13.3103,107.441597,-23.8273,-23.8780,14.105096,7.82,1,1,1,0,1,0
53,2008-03-10,0.22,0.2300,-0.01,-4.3478,9.839164,-23.4902,-13.7965,97.181040,-25.1532,-23.8720,10.578822,7.52,0,0,0,0,0,0
54,2007-11-02,0.25,0.2200,0.03,13.6364,13.339636,-13.6034,-14.4152,114.197318,-24.6372,-24.3745,14.165300,6.19,0,1,0,1,0,0
55,2007-07-26,0.31,0.2800,0.03,10.7143,14.199703,-15.8785,-15.2820,111.269322,-25.9143,-25.0309,14.535129,2.36,1,1,1,0,0,1
56,2007-04-26,0.29,0.2500,0.04,16.0000,14.070693,-13.5176,-12.7215,112.014854,-25.0687,-24.9468,14.535129,3.30,1,1,1,0,0,1
57,2007-02-27,-0.46,0.1200,-0.58,-483.3333,13.546052,-17.1495,-14.8124,104.003585,-27.7151,-25.5373,12.952606,-4.38,0,0,0,0,0,0

This is the dataframe that contains all the clean variables necessary for analysis:

,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,1,1,0,0,1,0
1,1,1,1,0,1,0
2,0,1,1,0,1,1
3,1,1,1,1,1,0
4,0,1,1,0,1,0
5,0,1,0,0,0,0
6,0,1,1,1,1,0
7,0,1,1,0,0,1
8,0,0,0,0,0,0
9,1,1,1,1,1,0
10,1,0,1,1,0,0
11,0,1,0,1,1,0
12,1,1,1,0,1,0
13,1,1,0,0,1,0
14,0,1,0,0,0,0

Result dataframe:

C:\Users\Papi\Documents\Anaconda\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

,TP,FP,FN,TN,Precision WA,Recall WA,F1-Score WA,Model Score %,Model Recommendation
0,0,1,0,3,0.5625,0.75,0.642857,75.0,Invalid

Thank you for using the model.
Please wait 60 seconds before running the model again.

### 4.2. Naive Bayes Prediction Model (Specific Stock | Future Date | Clean Display)

In [44]:
if __name__=="__main__":
    main()        

#alphavantage API key
#TQ6TR98HVUPE3L9Z

#finhub API key
#c5d5iiqad3i9ue38pn9g
#the present date and time is 10/21/2021 at 5 PM

What is your alphavantage API Key?:

TQ6TR98HVUPE3L9Z

What kind of data are you looking for?

Type the number in the input box:

1. Upcoming Earnings Calendar (3 month horizon)
2. Historical Earnings (for a specific company)
3. Daily Adjusted Price History (for a specific company)
4. Naive Bayes Prediction Model

4

What type of analysis are you looking to do?:

1.Individual Company

2.Multi-Company

1

Enter the date of interest:

2021-10-21

Enter the ticker symbol:

AIMC


AIMC has reported earnings 59 times, as of the current date.


What type of output would you like?:

Logic will display how the model variables were created, while Clean Variables will not:

 1.Logic

 2.Clean Variables

2

Clean Variables:


This is the dataframe that contains all the clean variables necessary for analysis:

,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,1,1,0,0,1,0
1,1,1,1,0,1,0
2,0,1,1,0,1,1
3,1,1,1,1,1,0
4,0,1,1,0,1,0
5,0,1,0,0,0,0
6,0,1,1,1,1,0
7,0,1,1,0,0,1
8,0,0,0,0,0,0
9,1,1,1,1,1,0
10,1,0,1,1,0,0
11,0,1,0,1,1,0
12,1,1,1,0,1,0
13,1,1,0,0,1,0
14,0,1,0,0,0,0

Result dataframe:

C:\Users\Papi\Documents\Anaconda\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

,TP,FP,FN,TN,Precision WA,Recall WA,F1-Score WA,Model Score %,Model Recommendation
0,0,1,0,3,0.5625,0.75,0.642857,75.0,Invalid

Thank you for using the model.
Please wait 60 seconds before running the model again.

### 4.3 Naive Bayes Prediction Model (Specific Stock | Current Date | Logical Display)

In [57]:
if __name__=="__main__":
    main()        

#alphavantage API key
#TQ6TR98HVUPE3L9Z

#finhub API key
#c5d5iiqad3i9ue38pn9g

#the present date and time is 10/21/2021 at 5 PM
#HRI reported earnings today and now that its after market close, the model will make a prediction for tomorrow

What is your alphavantage API Key?:

TQ6TR98HVUPE3L9Z

What kind of data are you looking for?

Type the number in the input box:

1. Upcoming Earnings Calendar (3 month horizon)
2. Historical Earnings (for a specific company)
3. Daily Adjusted Price History (for a specific company)
4. Naive Bayes Prediction Model

4

What type of analysis are you looking to do?:

1.Individual Company

2.Multi-Company

1

Enter the date of interest:

2021-10-21

Enter the ticker symbol:

HRI


HRI has reported earnings 22 times, as of the current date.


Enter your finhub API-Key:

c5d5iiqad3i9ue38pn9g


This is HRI's most updated earnings report:

,symbol,reportedDate,hour,reportedEPS,estimatedEPS,surprise,surprisePercentage
0,HRI,2021-10-21,bmo,2.38,2.3836,-0.0036,-0.151

What type of output would you like?:

Logic will display how the model variables were created, while Clean Variables will not:

 1.Logic

 2.Clean Variables

1

1. Retrieve the historical earnings report for the stock:

This dataframe contains HRI's historical earnings report. The first row pertains to either the most recent earnings date (if the date is in the past/the same as today) or the upcoming earnings report date (if the date is in the future)

   reportedDate reportedEPS estimatedEPS surprise surprisePercentage
0    2021-10-21        None         2.37     None               None
1    2021-07-22        1.57       1.2433   0.3267            26.2768
2    2021-04-22         1.1       0.2543   0.8457             332.56
3    2021-02-18        1.35       1.0288   0.3212            31.2208
4    2020-10-22        1.35       0.8025   0.5475            68.2243
5    2020-07-23        0.25       -0.595    0.845           142.0168
6    2020-04-23        0.04        -0.17     0.21           123.5294
7    2020-02-27        1.33         1.56    -0.23           -14.7436
8    2019-10-23        1.48       1.7771  -0.2971           -16.7182
9    2019-08-01      0.5222       0.3314   0.1908            57.5739
10   2019-05-02       -0.23        -0.24     0.01             4.1667
11   2019-02-28      1.2326        1.128   0.1046              9.273
12   2018-11-08      1.6609        0.932   0.7289            78.2082
13   2018-08-08      0.1585        0.132   0.0265            20.0758
14   2018-05-09     -0.2176        -0.61   0.3924            64.3279

2. Insert the historical earnings report into the historicalEarningsTransformer function:

This is HRI's most updated earnings table that contains the earnings_event and surprise_event variables that will be used in the analysis:

,column_of_interest,reportedEPS,estimatedEPS,surprise,surprisePercentage,earnings_event,surprise_event
0,2021-10-21,2.3800,2.3836,-0.0036,-0.1510,1,0
1,2021-07-22,1.5700,1.2433,0.3267,26.2768,1,1
2,2021-04-22,1.1000,0.2543,0.8457,332.5600,0,1
3,2021-02-18,1.3500,1.0288,0.3212,31.2208,0,1
4,2020-10-22,1.3500,0.8025,0.5475,68.2243,1,1
5,2020-07-23,0.2500,-0.5950,0.845,142.0168,1,1
6,2020-04-23,0.0400,-0.1700,0.21,123.5294,0,1
7,2020-02-27,1.3300,1.5600,-0.23,-14.7436,0,0
8,2019-10-23,1.4800,1.7771,-0.2971,-16.7182,1,0
9,2019-08-01,0.5222,0.3314,0.1908,57.5739,1,1
10,2019-05-02,-0.2300,-0.2400,0.01,4.1667,0,1
11,2019-02-28,1.2326,1.1280,0.1046,9.2730,0,1
12,2018-11-08,1.6609,0.9320,0.7289,78.2082,1,1
13,2018-08-08,0.1585,0.1320,0.0265,20.0758,1,1
14,2018-05-09,-0.2176,-0.6100,0.3924,64.3279,0,1

3. Retrieve the last 5,000 daily adjusted prices for HRI in order to create the intraday_event and adjusted_price_event variables:

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,Intraday_Returns,Weekly_Median_Return,trading_date
0,180.50,188.3600,171.6500,183.96,183.960000,369906,0.0,1.0,1.9169,1.6136,2021-10-21
1,180.54,190.5500,180.0000,187.07,187.070000,407171,0.0,1.0,3.6169,0.0522,2021-10-20
2,185.00,186.9700,180.5391,181.61,181.610000,278234,0.5,1.0,-1.8324,1.6136,2021-10-19
3,178.74,186.0800,178.5000,186.00,185.489320,250441,0.0,1.0,3.7761,1.6136,2021-10-18
4,185.02,185.0200,178.3400,178.82,178.329033,319212,0.0,1.0,-3.6163,1.6136,2021-10-15
5,178.52,182.1200,177.9050,181.90,181.400577,310357,0.0,1.0,1.6136,0.0522,2021-10-14
6,177.01,177.9700,173.4400,177.59,177.102410,262103,0.0,1.0,0.0522,0.3651,2021-10-13
7,173.48,179.3900,172.2101,177.22,176.733426,350438,0.0,1.0,1.8754,-0.4374,2021-10-12
8,167.22,171.1600,167.0200,171.00,170.530504,246494,0.0,1.0,1.9797,-0.4374,2021-10-11
9,170.00,172.3800,166.9500,167.22,166.760882,120069,0.0,1.0,-1.9054,0.1103,2021-10-08
10,171.50,174.2500,168.0000,171.22,170.749900,531685,0.0,1.0,-0.4374,0.1103,2021-10-07
11,166.82,169.1625,159.2200,167.89,167.429042,298646,0.0,1.0,0.3651,0.1103,2021-10-06
12,173.00,178.8300,167.2800,169.62,169.154292,312563,0.0,1.0,-2.2230,0.2265,2021-10-05
13,171.00,174.5200,168.5800,171.66,171.188691,400681,0.0,1.0,0.1103,0.6654,2021-10-04
14,163.73,172.7200,163.7300,171.08,170.610284,337279,0.0,1.0,4.2022,0.6654,2021-10-01

4. Retrieve the last 5,000 daily adjusted prices for SPY in order to create the spy_event variable:

,1. open,2. high,3. low,4. close,spy_adjusted_close,6. volume,7. dividend amount,8. split coefficient,spy_intraday_returns,spy_weekly_median_return,column_of_interest,spy_event
0,451.77,453.8300,451.31,453.59,453.59,41096858,0.0,1.0,0.4029,0.3831,2021-10-21,1
1,451.13,452.7320,451.01,452.41,452.41,49571569,0.0,1.0,0.2837,0.3831,2021-10-20,0
2,448.92,450.7100,448.27,450.64,450.64,46996827,0.0,1.0,0.3831,0.2518,2021-10-19,1
3,443.97,447.5500,443.27,447.19,447.19,62213228,0.0,1.0,0.7253,0.1081,2021-10-18,1
4,444.75,446.2600,444.09,445.87,445.87,66260210,0.0,1.0,0.2518,-0.3686,2021-10-15,1
5,439.08,442.6600,438.58,442.50,442.50,70236825,0.0,1.0,0.7789,-0.3686,2021-10-14,1
6,434.71,436.0500,431.54,435.18,435.18,72973979,0.0,1.0,0.1081,-0.3686,2021-10-13,1
7,435.67,436.1000,432.78,433.62,433.62,71181163,0.0,1.0,-0.4705,0.0616,2021-10-12,0
8,437.16,440.2600,434.62,434.69,434.69,65233285,0.0,1.0,-0.5650,0.0616,2021-10-11,0
9,439.48,439.8900,437.19,437.86,437.86,74557404,0.0,1.0,-0.3686,0.6647,2021-10-08,0
10,438.39,441.6800,438.20,438.66,438.66,72437499,0.0,1.0,0.0616,0.6647,2021-10-07,0
11,429.27,435.1199,427.54,434.90,434.90,113032245,0.0,1.0,1.3115,-0.1700,2021-10-06,1
12,430.24,435.4900,429.39,433.10,433.10,90682520,0.0,1.0,0.6647,-1.0069,2021-10-05,1
13,433.00,433.9600,426.36,428.64,428.64,128569957,0.0,1.0,-1.0069,-0.1700,2021-10-04,0
14,430.98,436.0329,427.23,434.24,434.24,129240106,0.0,1.0,0.7564,-0.1700,2021-10-01,1

5. Connect both daily adjusted price dataframes (Stock Prices and SPY Prices) with the historical earnings report in order to calculate the x variables intraday_event, adjusted_price_event, spy_event:

,1. open,2. high,3. low,4. close,stock_adjusted_close,6. volume,7. dividend amount,8. split coefficient,stock_intraday_returns,stock_weekly_median_return,column_of_interest,intraday_event,adjusted_price_event,spy_intraday_returns,spy_weekly_median_return,spy_adjusted_close,spy_event
0,180.500,188.360,171.6500,183.96,183.960000,369906,0.0,1.0,1.9169,1.6136,2021-10-21,1,1,0.4029,0.3831,453.590000,1
64,118.200,119.800,115.7700,117.60,117.277118,321517,0.0,1.0,-0.7808,0.7603,2021-07-22,0,1,-0.1574,-0.3363,434.055645,1
127,97.360,99.940,95.3200,96.98,96.713732,614324,0.0,1.0,-0.6638,-1.0498,2021-04-22,1,1,-1.5167,-0.6496,409.582258,0
171,73.125,73.780,66.4000,72.65,72.450533,261013,0.0,1.0,-0.9223,0.2749,2021-02-18,0,1,-0.6896,-1.1110,386.903415,1
251,45.860,47.770,44.1900,44.83,44.706915,250160,0.0,1.0,-2.5144,0.0544,2020-10-22,0,1,-0.9244,-1.5711,339.789605,1
315,36.300,37.775,35.5001,37.29,37.187617,484091,0.0,1.0,2.4452,0.3487,2020-07-23,1,1,-2.8524,-1.4895,317.157868,0
378,21.690,22.870,19.7500,22.18,22.119103,520082,0.0,1.0,1.9783,0.3176,2020-04-23,1,0,-2.7208,-2.2469,272.858344,0
417,36.110,39.080,33.6600,37.43,37.327232,454826,0.0,1.0,3.3709,-2.4430,2020-02-27,1,0,-5.3554,-3.4027,289.101474,0
503,42.360,46.990,41.6800,44.06,43.939029,527733,0.0,1.0,3.7276,0.2768,2019-10-23,1,0,-2.9274,-3.4287,289.984990,1
561,44.830,48.670,43.5000,45.84,45.714142,549807,0.0,1.0,1.9722,0.9484,2019-08-01,1,0,-4.6388,-3.8801,283.794865,0
624,49.500,49.500,45.2400,46.18,46.053209,224949,0.0,1.0,-6.9632,0.2458,2019-05-02,0,1,-4.3768,-4.0951,278.913835,0
668,41.670,44.100,40.7600,44.00,43.879194,656142,0.0,1.0,5.3016,-1.1195,2019-02-28,1,1,-4.7263,-4.5657,265.775401,0
742,38.980,40.820,36.7400,38.04,37.935558,1732765,0.0,1.0,-2.6794,0.8407,2018-11-08,0,0,-5.0640,-4.5716,265.925294,0
807,55.610,55.610,51.1300,51.35,51.209014,611503,0.0,1.0,-7.9140,0.1213,2018-08-08,0,0,-5.6003,-5.2907,269.407265,0
870,57.000,58.450,54.3900,56.45,56.295011,373561,0.0,1.0,-1.2368,1.0322,2018-05-09,0,0,-5.4069,-5.9168,253.206696,1

6. Run the final tranformer function to generate the class variable:


This is the dataframe with the columns that were used to construct the variables of the model:

,column_of_interest,reportedEPS,estimatedEPS,surprise,surprisePercentage,stock_adjusted_close,stock_intraday_returns,stock_weekly_median_return,spy_adjusted_close,spy_intraday_returns,spy_weekly_median_return,after_report_adjusted_price,return_pct_difference,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,2021-10-21,2.3800,2.3836,-0.0036,-0.1510,183.960000,1.9169,1.6136,453.590000,0.4029,0.3831,0.000000,-100.00,1,0,1,1,1,0
1,2021-07-22,1.5700,1.2433,0.3267,26.2768,117.277118,-0.7808,0.7603,434.055645,-0.1574,-0.3363,117.157448,-0.10,1,1,1,0,1,0
2,2021-04-22,1.1000,0.2543,0.8457,332.5600,96.713732,-0.6638,-1.0498,409.582258,-1.5167,-0.6496,99.964782,3.36,0,1,1,1,0,1
3,2021-02-18,1.3500,1.0288,0.3212,31.2208,72.450533,-0.9223,0.2749,386.903415,-0.6896,-1.1110,78.344306,8.13,0,1,1,0,1,0
4,2020-10-22,1.3500,0.8025,0.5475,68.2243,44.706915,-2.5144,0.0544,339.789605,-0.9244,-1.5711,46.571781,4.17,1,1,1,0,1,1
5,2020-07-23,0.2500,-0.5950,0.845,142.0168,37.187617,2.4452,0.3487,317.157868,-2.8524,-1.4895,36.070692,-3.00,1,1,1,1,0,0
6,2020-04-23,0.0400,-0.1700,0.21,123.5294,22.119103,1.9783,0.3176,272.858344,-2.7208,-2.2469,22.059267,-0.27,0,1,0,1,0,0
7,2020-02-27,1.3300,1.5600,-0.23,-14.7436,37.327232,3.3709,-2.4430,289.101474,-5.3554,-3.4027,36.579292,-2.00,0,0,0,1,0,0
8,2019-10-23,1.4800,1.7771,-0.2971,-16.7182,43.939029,3.7276,0.2768,289.984990,-2.9274,-3.4287,42.423202,-3.45,1,0,0,1,1,0
9,2019-08-01,0.5222,0.3314,0.1908,57.5739,45.714142,1.9722,0.9484,283.794865,-4.6388,-3.8801,42.592736,-6.83,1,1,0,1,0,0
10,2019-05-02,-0.2300,-0.2400,0.01,4.1667,46.053209,-6.9632,0.2458,278.913835,-4.3768,-4.0951,45.006091,-2.27,0,1,1,0,0,0
11,2019-02-28,1.2326,1.1280,0.1046,9.2730,43.879194,5.3016,-1.1195,265.775401,-4.7263,-4.5657,44.876448,2.27,0,1,1,1,0,1
12,2018-11-08,1.6609,0.9320,0.7289,78.2082,37.935558,-2.6794,0.8407,265.925294,-5.0640,-4.5716,37.935558,0.00,1,1,0,0,0,0
13,2018-08-08,0.1585,0.1320,0.0265,20.0758,51.209014,-7.9140,0.1213,269.407265,-5.6003,-5.2907,51.887147,1.32,1,1,0,0,0,1
14,2018-05-09,-0.2176,-0.6100,0.3924,64.3279,56.295011,-1.2368,1.0322,253.206696,-5.4069,-5.9168,55.736549,-0.99,0,1,0,0,1,0
15,2018-02-28,0.4826,0.3267,0.1559,47.7196,65.030960,-5.7522,0.6927,254.209891,-7.7881,-6.6617,66.486951,2.24,0,1,1,0,0,1
16,2017-11-08,0.7604,0.2233,0.5371,240.5284,55.477263,9.0998,-0.9355,241.251706,-6.6616,-6.8271,55.347620,-0.23,1,1,1,1,1,0
17,2017-08-08,-0.1600,-0.0725,-0.0875,-120.6897,39.650835,-12.7594,-0.3185,229.083469,-7.4448,-7.3924,38.633636,-2.57,1,0,0,0,0,0
18,2017-05-09,-1.1760,-0.3940,-0.782,-198.4772,43.879194,3.8561,-0.8769,220.761902,-8.0005,-7.8278,45.524664,3.75,0,0,0,1,0,1
19,2017-03-01,-0.0707,0.3650,-0.4357,-119.3699,50.042226,1.0750,1.5095,220.115980,-7.6656,-8.0997,48.187333,-3.71,0,0,1,0,1,0
20,2016-11-08,0.2816,0.4800,-0.1984,-41.3333,30.735381,4.1877,0.9134,195.397262,-8.1305,-9.1340,35.552120,15.67,0,0,0,1,1,0
21,2016-08-09,0.5477,0.3100,0.2377,76.6774,32.889450,2.8438,0.9517,198.106882,-9.1794,-9.1583,32.889450,0.00,0,1,0,1,0,0

This is the dataframe that contains all the clean variables necessary for analysis:

,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,1,0,1,1,1,0
1,1,1,1,0,1,0
2,0,1,1,1,0,1
3,0,1,1,0,1,0
4,1,1,1,0,1,1
5,1,1,1,1,0,0
6,0,1,0,1,0,0
7,0,0,0,1,0,0
8,1,0,0,1,1,0
9,1,1,0,1,0,0
10,0,1,1,0,0,0
11,0,1,1,1,0,1
12,1,1,0,0,0,0
13,1,1,0,0,0,1
14,0,1,0,0,1,0

This is the buy signal:

Result dataframe:

C:\Users\Papi\Documents\Anaconda\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

,TP,FP,FN,TN,Precision WA,Recall WA,F1-Score WA,Model Score %,Model Recommendation,Buy Signal
0,0,2,0,2,0.25,0.5,0.333333,50.0,Invalid,Do NOT buy

Thank you for using the model.
Please wait 60 seconds before running the model again.

### 4.4 Naive Bayes Prediction Model (Specific Stock | Current Date | Clean Display)

In [58]:
if __name__=="__main__":
    main()        

#alphavantage API key
#TQ6TR98HVUPE3L9Z

#finhub API key
#c5d5iiqad3i9ue38pn9g

#the present date and time is 10/21/2021 at 5 PM
#HRI reported earnings today and now that its after market close, the model will make a prediction for tomorrow

What is your alphavantage API Key?:

TQ6TR98HVUPE3L9Z

What kind of data are you looking for?

Type the number in the input box:

1. Upcoming Earnings Calendar (3 month horizon)
2. Historical Earnings (for a specific company)
3. Daily Adjusted Price History (for a specific company)
4. Naive Bayes Prediction Model

4

What type of analysis are you looking to do?:

1.Individual Company

2.Multi-Company

1

Enter the date of interest:

2021-10-21

Enter the ticker symbol:

HRI


HRI has reported earnings 22 times, as of the current date.


Enter your finhub API-Key:

c5d5iiqad3i9ue38pn9g


This is HRI's most updated earnings report:

,symbol,reportedDate,hour,reportedEPS,estimatedEPS,surprise,surprisePercentage
0,HRI,2021-10-21,bmo,2.38,2.3836,-0.0036,-0.151

What type of output would you like?:

Logic will display how the model variables were created, while Clean Variables will not:

 1.Logic

 2.Clean Variables

2

Clean Variables:


This is the dataframe that contains all the clean variables necessary for analysis:

,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,1,0,1,1,1,0
1,1,1,1,0,1,0
2,0,1,1,1,0,1
3,0,1,1,0,1,0
4,1,1,1,0,1,1
5,1,1,1,1,0,0
6,0,1,0,1,0,0
7,0,0,0,1,0,0
8,1,0,0,1,1,0
9,1,1,0,1,0,0
10,0,1,1,0,0,0
11,0,1,1,1,0,1
12,1,1,0,0,0,0
13,1,1,0,0,0,1
14,0,1,0,0,1,0

This is the buy signal:

Result dataframe:

C:\Users\Papi\Documents\Anaconda\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

,TP,FP,FN,TN,Precision WA,Recall WA,F1-Score WA,Model Score %,Model Recommendation,Buy Signal
0,0,2,0,2,0.25,0.5,0.333333,50.0,Invalid,Do NOT buy

Thank you for using the model.
Please wait 60 seconds before running the model again.

### 5.1. Naive Bayes Prediction Model (Multi-Stock | Future Date | Logical Display)

In [31]:
if __name__=="__main__":
    main()        

#alphavantage API key
#TQ6TR98HVUPE3L9Z

#finhub API key
#c5d5iiqad3i9ue38pn9g
#not complete

What is your alphavantage API Key?:

TQ6TR98HVUPE3L9Z

What kind of data are you looking for?

Type the number in the input box:

1. Upcoming Earnings Calendar (3 month horizon)
2. Historical Earnings (for a specific company)
3. Daily Adjusted Price History (for a specific company)
4. Naive Bayes Prediction Model

4

What type of analysis are you looking to do?:

1.Individual Company

2.Multi-Company

2

Enter the date of interest:

2021-10-21

What type of output would you like?:

Logic will display how the model variables were created, while Clean Variables will not:

 1.Logic

 2.Clean Variables

1


Model is sleeping so that it can reset

Stock Count: 92

There are 15 companies reporting earings on the specified date. Analysis will only be provided for the first 15 companies in the list. This should take about 9 minutes. Please wait patiently.


There are a total of 45 stock calls

This is the ticker:

AAL

2021-10-21

AAL


AAL has reported earnings 103 times, as of the current date.

This is the daily adjusted dataframe:
Symbol:  AAL
Date of Interest:  2021-10-21
Daily Adjusted Dataframe:



1. Retrieve the historical earnings report for the stock:

This dataframe contains AAL's historical earnings report. The first row pertains to either the most recent earnings date (if the date is in the past/the same as today) or the upcoming earnings report date (if the date is in the future)

   reportedDate reportedEPS estimatedEPS surprise surprisePercentage
0    2021-10-21        None        -1.04     None               None
1    2021-07-22       -1.69      -1.7296   0.0396             2.2895
2    2021-04-22       -4.32      -4.3315   0.0115             0.2655
3    2021-01-28       -3.86      -4.1212   0.2612              6.338
4    2020-10-22       -5.54      -5.7547   0.2147             3.7309
5    2020-07-23       -7.82      -7.8956   0.0756             0.9575
6    2020-04-30       -2.65      -2.3551  -0.2949           -12.5218
7    2020-01-23        1.15       1.1559  -0.0059            -0.5104
8    2019-10-24        1.42       1.3975   0.0225               1.61
9    2019-07-25        1.82       1.7883   0.0317             1.7726
10   2019-04-26        0.52          0.5     0.02                  4
11   2019-01-24        1.04       1.0057   0.0343             3.4106
12   2018-10-25        1.13       1.1253   0.0047             0.4177
13   2018-07-26        1.63       1.5907   0.0393             2.4706
14   2018-04-26        0.75       0.7102   0.0398             5.6041

2. Insert the historical earnings report into the historicalEarningsTransformer function:

This is AAL's most updated earnings table that contains the earnings_event and surprise_event variables that will be used in the analysis:

,column_of_interest,reportedEPS,estimatedEPS,surprise,surprisePercentage,earnings_event,surprise_event
1,2021-07-22,-1.69,-1.7296,0.0396,2.2895,1,1
2,2021-04-22,-4.32,-4.3315,0.0115,0.2655,0,1
3,2021-01-28,-3.86,-4.1212,0.2612,6.3380,1,1
4,2020-10-22,-5.54,-5.7547,0.2147,3.7309,1,1
5,2020-07-23,-7.82,-7.8956,0.0756,0.9575,0,1
6,2020-04-30,-2.65,-2.3551,-0.2949,-12.5218,0,0
7,2020-01-23,1.15,1.1559,-0.0059,-0.5104,0,0
8,2019-10-24,1.42,1.3975,0.0225,1.6100,0,1
9,2019-07-25,1.82,1.7883,0.0317,1.7726,1,1
10,2019-04-26,0.52,0.5000,0.02,4.0000,0,1
11,2019-01-24,1.04,1.0057,0.0343,3.4106,0,1
12,2018-10-25,1.13,1.1253,0.0047,0.4177,0,1
13,2018-07-26,1.63,1.5907,0.0393,2.4706,1,1
14,2018-04-26,0.75,0.7102,0.0398,5.6041,0,1
15,2018-01-25,0.95,0.9198,0.0302,3.2833,0,1

3. Retrieve the last 5,000 daily adjusted prices for AAL in order to create the intraday_event and adjusted_price_event variables:

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,Intraday_Returns,Weekly_Median_Return,trading_date
0,19.620,20.0100,19.5100,19.89,19.89,29049210,0.0,1.0,1.3761,-0.4016,2021-10-21
1,19.590,19.8350,19.2200,19.52,19.52,31618051,0.0,1.0,-0.3573,-0.6827,2021-10-20
2,19.930,19.9400,19.5000,19.53,19.53,25758290,0.0,1.0,-2.0070,-0.4016,2021-10-19
3,19.920,20.1500,19.7400,19.84,19.84,20604416,0.0,1.0,-0.4016,-0.1749,2021-10-18
4,20.015,20.3300,19.9200,19.98,19.98,27259926,0.0,1.0,-0.1749,-0.6827,2021-10-15
5,19.775,19.9364,19.5850,19.64,19.64,21544568,0.0,1.0,-0.6827,-0.8399,2021-10-14
6,20.250,20.2500,19.5300,19.61,19.61,33327985,0.0,1.0,-3.1605,-0.7729,2021-10-13
7,20.200,20.4000,20.0300,20.29,20.29,18448355,0.0,1.0,0.4455,-0.7729,2021-10-12
8,19.980,20.5100,19.8498,20.13,20.13,23646753,0.0,1.0,0.7508,-0.8399,2021-10-11
9,20.240,20.2900,19.8800,20.07,20.07,21691045,0.0,1.0,-0.8399,-0.7729,2021-10-08
10,20.840,20.9000,20.0800,20.17,20.17,29167184,0.0,1.0,-3.2150,-0.7729,2021-10-07
11,20.700,21.0100,20.3100,20.54,20.54,37908541,0.0,1.0,-0.7729,-1.6770,2021-10-06
12,21.500,21.8500,21.2500,21.47,21.47,22580145,0.0,1.0,-0.1395,-1.6770,2021-10-05
13,21.915,22.0800,21.2900,21.39,21.39,28623357,0.0,1.0,-2.3956,-1.3780,2021-10-04
14,20.995,21.7800,20.9000,21.65,21.65,36430871,0.0,1.0,3.1198,-1.3780,2021-10-01

4. Retrieve the last 5,000 daily adjusted prices for SPY in order to create the spy_event variable:

,1. open,2. high,3. low,4. close,spy_adjusted_close,6. volume,7. dividend amount,8. split coefficient,spy_intraday_returns,spy_weekly_median_return,column_of_interest,spy_event
0,451.77,453.8300,451.31,453.59,453.59,40543154,0.0,1.0,0.4029,0.3831,2021-10-21,1
1,451.13,452.7320,451.01,452.41,452.41,49571569,0.0,1.0,0.2837,0.3831,2021-10-20,0
2,448.92,450.7100,448.27,450.64,450.64,46996827,0.0,1.0,0.3831,0.2518,2021-10-19,1
3,443.97,447.5500,443.27,447.19,447.19,62213228,0.0,1.0,0.7253,0.1081,2021-10-18,1
4,444.75,446.2600,444.09,445.87,445.87,66260210,0.0,1.0,0.2518,-0.3686,2021-10-15,1
5,439.08,442.6600,438.58,442.50,442.50,70236825,0.0,1.0,0.7789,-0.3686,2021-10-14,1
6,434.71,436.0500,431.54,435.18,435.18,72973979,0.0,1.0,0.1081,-0.3686,2021-10-13,1
7,435.67,436.1000,432.78,433.62,433.62,71181163,0.0,1.0,-0.4705,0.0616,2021-10-12,0
8,437.16,440.2600,434.62,434.69,434.69,65233285,0.0,1.0,-0.5650,0.0616,2021-10-11,0
9,439.48,439.8900,437.19,437.86,437.86,74557404,0.0,1.0,-0.3686,0.6647,2021-10-08,0
10,438.39,441.6800,438.20,438.66,438.66,72437499,0.0,1.0,0.0616,0.6647,2021-10-07,0
11,429.27,435.1199,427.54,434.90,434.90,113032245,0.0,1.0,1.3115,-0.1700,2021-10-06,1
12,430.24,435.4900,429.39,433.10,433.10,90682520,0.0,1.0,0.6647,-1.0069,2021-10-05,1
13,433.00,433.9600,426.36,428.64,428.64,128569957,0.0,1.0,-1.0069,-0.1700,2021-10-04,0
14,430.98,436.0329,427.23,434.24,434.24,129240106,0.0,1.0,0.7564,-0.1700,2021-10-01,1

5. Connect both daily adjusted price dataframes (Stock Prices and SPY Prices) with the historical earnings report in order to calculate the x variables intraday_event, adjusted_price_event, spy_event:

,1. open,2. high,3. low,4. close,stock_adjusted_close,6. volume,7. dividend amount,8. split coefficient,stock_intraday_returns,stock_weekly_median_return,column_of_interest,intraday_event,adjusted_price_event,spy_intraday_returns,spy_weekly_median_return,spy_adjusted_close,spy_event
64,21.06,21.62,20.59,21.16,21.160000,39028340,0.0,1.0,0.4748,0.7435,2021-07-22,0,1,-0.1574,-0.3363,434.055645,1
127,21.58,21.61,20.04,20.07,20.070000,72635138,0.0,1.0,-6.9972,-1.9117,2021-04-22,0,1,-1.5167,-0.6496,409.582258,0
185,20.33,21.77,16.82,18.10,18.100000,319607570,0.0,1.0,-10.9690,0.0644,2021-01-28,0,1,-0.6427,-1.0412,373.941279,1
251,12.60,13.29,12.42,13.15,13.150000,90788939,0.0,1.0,4.3651,0.3922,2020-10-22,1,1,-0.9244,-1.5711,339.789605,1
315,11.27,12.41,11.01,11.77,11.770000,115574786,0.0,1.0,4.4366,-2.7344,2020-07-23,1,0,-2.8524,-1.4895,317.157868,0
373,11.92,12.59,11.26,12.01,12.010000,94921443,0.0,1.0,0.7550,-0.8654,2020-04-30,1,0,-2.6416,-1.6659,284.004199,0
441,27.39,28.99,26.04,28.80,28.699054,25611121,0.0,1.0,4.7793,0.0016,2020-01-23,1,0,-2.5059,-2.7088,322.344597,1
502,29.27,29.85,28.49,29.41,29.213223,17963268,0.0,1.0,-0.1940,-0.5284,2019-10-24,1,0,-3.4732,-3.4287,290.458822,0
566,34.55,34.82,31.58,31.67,31.347568,13152304,0.0,1.0,-9.2690,-0.0404,2019-07-25,0,0,-4.0468,-3.4598,288.761564,0
628,32.15,33.92,32.10,33.06,32.627199,9623134,0.0,1.0,1.4843,-1.4811,2019-04-26,1,0,-3.7830,-4.2355,281.049894,1
692,34.26,34.35,32.83,33.66,33.129635,15531138,0.0,1.0,-3.2994,-1.5157,2019-01-24,0,1,-4.5074,-4.5758,251.346013,1
752,31.19,33.33,31.12,32.37,31.771016,18375181,0.0,1.0,1.8628,-2.1850,2018-10-25,1,0,-4.2386,-5.8771,256.046715,1
816,37.85,40.45,37.60,40.02,39.177460,12832274,0.0,1.0,3.5072,-2.3116,2018-07-26,1,0,-5.5768,-5.6538,267.406482,1
879,43.49,43.80,40.65,42.37,41.380482,20517346,0.0,1.0,-4.8506,-3.2336,2018-04-26,0,0,-5.5064,-6.3106,250.209555,1
942,54.00,54.55,52.21,53.05,51.707146,10110999,0.0,1.0,-4.2460,-1.9599,2018-01-25,0,1,-6.7033,-6.2380,265.111954,0

6. Run the final tranformer function to generate the class variable:


This is the dataframe with the columns that were used to construct the variables of the model:

,column_of_interest,reportedEPS,estimatedEPS,surprise,surprisePercentage,stock_adjusted_close,stock_intraday_returns,stock_weekly_median_return,spy_adjusted_close,spy_intraday_returns,spy_weekly_median_return,after_report_adjusted_price,return_pct_difference,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,2021-07-22,-1.69,-1.7296,0.0396,2.2895,21.160000,0.4748,0.7435,434.055645,-0.1574,-0.3363,21.200000,0.19,1,1,1,0,1,0
1,2021-04-22,-4.32,-4.3315,0.0115,0.2655,20.070000,-6.9972,-1.9117,409.582258,-1.5167,-0.6496,21.110000,5.18,0,1,1,0,0,0
2,2021-01-28,-3.86,-4.1212,0.2612,6.3380,18.100000,-10.9690,0.0644,373.941279,-0.6427,-1.0412,17.170000,-5.14,1,1,1,0,1,0
3,2020-10-22,-5.54,-5.7547,0.2147,3.7309,13.150000,4.3651,0.3922,339.789605,-0.9244,-1.5711,12.600000,-4.18,1,1,1,1,1,0
4,2020-07-23,-7.82,-7.8956,0.0756,0.9575,11.770000,4.4366,-2.7344,317.157868,-2.8524,-1.4895,11.390000,-3.23,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2006-10-18,0.45,0.4200,0.03,7.1429,43.726823,-4.5474,-6.0372,101.270101,-26.1018,-25.6846,44.961618,2.82,0,1,0,1,0,1
60,2006-07-19,1.14,1.1400,0,0.0000,48.307818,-3.2877,-7.0672,92.781329,-25.2848,-26.5452,47.318097,-2.05,1,0,1,1,1,0
61,2006-04-19,-0.49,-0.7700,0.28,36.3636,36.233220,-2.8600,-5.8679,96.235283,-26.3975,-26.4471,35.818480,-1.14,1,1,1,1,1,0
62,2006-01-18,-2.39,-2.5000,0.11,4.4000,29.220339,0.4135,-8.2993,93.562949,-26.6633,-26.7268,28.645358,-1.97,0,1,1,1,1,0
63,2005-10-19,-0.58,-0.5500,-0.03,-5.4545,20.152608,-5.6967,-6.0387,87.214160,-25.7752,-27.2066,19.813275,-1.68,0,0,0,1,1,0

This is the dataframe that contains all the clean variables necessary for analysis:

,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,1,1,1,0,1,0
1,0,1,1,0,0,0
2,1,1,1,0,1,0
3,1,1,1,1,1,0
4,0,1,0,1,0,0
5,0,0,0,1,0,0
6,0,0,0,1,1,0
7,0,1,0,1,0,1
8,1,1,0,0,0,0
9,0,1,0,1,1,1
10,0,1,1,0,1,1
11,0,1,0,1,1,0
12,1,1,0,1,1,0
13,0,1,0,0,1,1
14,0,1,1,0,0,0

,TP,FP,FN,TN,Precision WA,Recall WA,F1-Score WA,Model Score %,Model Recommendation,symbol
0,0,0,0,4,1.0,1.0,1.0,100.0,Valid,AAL

This is the ticker:

ALK

2021-10-21

ALK



Model has been put to sleep after historical earnings call
ALK has reported earnings 103 times, as of the current date.

This is the daily adjusted dataframe:
Symbol:  ALK
Date of Interest:  2021-10-21
Daily Adjusted Dataframe:



1. Retrieve the historical earnings report for the stock:

This dataframe contains ALK's historical earnings report. The first row pertains to either the most recent earnings date (if the date is in the past/the same as today) or the upcoming earnings report date (if the date is in the future)

   reportedDate reportedEPS estimatedEPS surprise surprisePercentage
0    2021-10-21        None         1.29     None               None
1    2021-07-22        -0.3      -0.4398   0.1398            31.7872
2    2021-04-22       -3.51      -3.6408   0.1308             3.5926
3    2021-01-26       -2.55      -2.9258   0.3758            12.8444
4    2020-10-22       -3.23      -2.9261  -0.3039           -10.3858
5    2020-07-23       -3.54      -3.8601   0.3201             8.2925
6    2020-05-05       -0.82      -1.1413   0.3213            28.1521
7    2020-01-28        1.46       1.4079   0.0521             3.7005
8    2019-10-24        2.63       2.5207   0.1093             4.3361
9    2019-07-25        2.17       2.1276   0.0424             1.9929
10   2019-04-25        0.17       0.1512   0.0188            12.4339
11   2019-01-24        0.75       0.7139   0.0361             5.0567
12   2018-10-25        1.91       1.8105   0.0995             5.4957
13   2018-07-26        1.66       1.6237   0.0363             2.2356
14   2018-04-23        0.14       0.1237   0.0163             13.177

2. Insert the historical earnings report into the historicalEarningsTransformer function:

This is ALK's most updated earnings table that contains the earnings_event and surprise_event variables that will be used in the analysis:

,column_of_interest,reportedEPS,estimatedEPS,surprise,surprisePercentage,earnings_event,surprise_event
1,2021-07-22,-0.30,-0.4398,0.1398,31.7872,1,1
2,2021-04-22,-3.51,-3.6408,0.1308,3.5926,0,1
3,2021-01-26,-2.55,-2.9258,0.3758,12.8444,1,1
4,2020-10-22,-3.23,-2.9261,-0.3039,-10.3858,1,0
5,2020-07-23,-3.54,-3.8601,0.3201,8.2925,0,1
6,2020-05-05,-0.82,-1.1413,0.3213,28.1521,0,1
7,2020-01-28,1.46,1.4079,0.0521,3.7005,0,1
8,2019-10-24,2.63,2.5207,0.1093,4.3361,1,1
9,2019-07-25,2.17,2.1276,0.0424,1.9929,1,1
10,2019-04-25,0.17,0.1512,0.0188,12.4339,0,1
11,2019-01-24,0.75,0.7139,0.0361,5.0567,0,1
12,2018-10-25,1.91,1.8105,0.0995,5.4957,1,1
13,2018-07-26,1.66,1.6237,0.0363,2.2356,1,1
14,2018-04-23,0.14,0.1237,0.0163,13.1770,0,1
15,2018-01-25,0.83,0.8231,0.0069,0.8383,0,1

3. Retrieve the last 5,000 daily adjusted prices for ALK in order to create the intraday_event and adjusted_price_event variables:

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,Intraday_Returns,Weekly_Median_Return,trading_date
0,57.48,58.0000,55.8900,56.20,56.20,2737823,0.0,1.0,-2.2269,0.0000,2021-10-21
1,57.01,57.8583,56.2300,57.25,57.25,2070447,0.0,1.0,0.4210,-1.0943,2021-10-20
2,57.57,57.6200,56.4400,56.94,56.94,1720590,0.0,1.0,-1.0943,0.0000,2021-10-19
3,57.17,57.9600,56.7000,57.42,57.42,1257808,0.0,1.0,0.4373,-1.2667,2021-10-18
4,58.94,59.1200,57.6800,57.77,57.77,1933031,0.0,1.0,-1.9851,-1.1407,2021-10-15
5,57.52,58.0100,56.9300,57.52,57.52,1246661,0.0,1.0,0.0000,-1.2667,2021-10-14
6,58.04,58.0400,56.4300,57.04,57.04,2184706,0.0,1.0,-1.7229,-1.1407,2021-10-13
7,58.17,58.8900,57.6300,58.43,58.43,1783455,0.0,1.0,0.4470,-1.1407,2021-10-12
8,59.21,60.0200,58.3300,58.46,58.46,1550700,0.0,1.0,-1.2667,-1.0833,2021-10-11
9,60.49,60.7300,59.4528,59.80,59.80,899674,0.0,1.0,-1.1407,-0.9487,2021-10-08
10,61.73,61.8700,60.2100,60.24,60.24,1522450,0.0,1.0,-2.4137,-0.9487,2021-10-07
11,59.90,61.0800,59.5100,61.05,61.05,1639054,0.0,1.0,1.9199,-1.0833,2021-10-06
12,62.19,62.9100,61.1950,61.60,61.60,1705493,0.0,1.0,-0.9487,-1.0833,2021-10-05
13,62.77,63.7600,61.9700,62.09,62.09,1858352,0.0,1.0,-1.0833,-0.6327,2021-10-04
14,60.53,62.6800,59.8200,62.20,62.20,2619675,0.0,1.0,2.7590,-0.6327,2021-10-01

4. Retrieve the last 5,000 daily adjusted prices for SPY in order to create the spy_event variable:

,1. open,2. high,3. low,4. close,spy_adjusted_close,6. volume,7. dividend amount,8. split coefficient,spy_intraday_returns,spy_weekly_median_return,column_of_interest,spy_event
0,451.77,453.8300,451.31,453.59,453.59,40543154,0.0,1.0,0.4029,0.3831,2021-10-21,1
1,451.13,452.7320,451.01,452.41,452.41,49571569,0.0,1.0,0.2837,0.3831,2021-10-20,0
2,448.92,450.7100,448.27,450.64,450.64,46996827,0.0,1.0,0.3831,0.2518,2021-10-19,1
3,443.97,447.5500,443.27,447.19,447.19,62213228,0.0,1.0,0.7253,0.1081,2021-10-18,1
4,444.75,446.2600,444.09,445.87,445.87,66260210,0.0,1.0,0.2518,-0.3686,2021-10-15,1
5,439.08,442.6600,438.58,442.50,442.50,70236825,0.0,1.0,0.7789,-0.3686,2021-10-14,1
6,434.71,436.0500,431.54,435.18,435.18,72973979,0.0,1.0,0.1081,-0.3686,2021-10-13,1
7,435.67,436.1000,432.78,433.62,433.62,71181163,0.0,1.0,-0.4705,0.0616,2021-10-12,0
8,437.16,440.2600,434.62,434.69,434.69,65233285,0.0,1.0,-0.5650,0.0616,2021-10-11,0
9,439.48,439.8900,437.19,437.86,437.86,74557404,0.0,1.0,-0.3686,0.6647,2021-10-08,0
10,438.39,441.6800,438.20,438.66,438.66,72437499,0.0,1.0,0.0616,0.6647,2021-10-07,0
11,429.27,435.1199,427.54,434.90,434.90,113032245,0.0,1.0,1.3115,-0.1700,2021-10-06,1
12,430.24,435.4900,429.39,433.10,433.10,90682520,0.0,1.0,0.6647,-1.0069,2021-10-05,1
13,433.00,433.9600,426.36,428.64,428.64,128569957,0.0,1.0,-1.0069,-0.1700,2021-10-04,0
14,430.98,436.0329,427.23,434.24,434.24,129240106,0.0,1.0,0.7564,-0.1700,2021-10-01,1

5. Connect both daily adjusted price dataframes (Stock Prices and SPY Prices) with the historical earnings report in order to calculate the x variables intraday_event, adjusted_price_event, spy_event:

,1. open,2. high,3. low,4. close,stock_adjusted_close,6. volume,7. dividend amount,8. split coefficient,stock_intraday_returns,stock_weekly_median_return,column_of_interest,intraday_event,adjusted_price_event,spy_intraday_returns,spy_weekly_median_return,spy_adjusted_close,spy_event
64,56.86,58.98,55.40,57.98,57.980000,4907429,0.0,1.0,1.9698,-0.0189,2021-07-22,1,0,-0.1574,-0.3363,434.055645,1
127,70.00,70.24,66.96,66.96,66.960000,2410551,0.0,1.0,-4.3429,-0.5308,2021-04-22,0,1,-1.5167,-0.6496,409.582258,0
187,53.50,53.65,51.62,51.83,51.830000,2736962,0.0,1.0,-3.1215,0.4406,2021-01-26,0,1,-1.3930,-0.8136,380.041108,0
251,39.15,41.32,38.90,40.59,40.590000,2675840,0.0,1.0,3.6782,0.0000,2020-10-22,1,1,-0.9244,-1.5711,339.789605,1
315,36.45,37.95,34.85,36.67,36.670000,3276532,0.0,1.0,0.6036,-0.6711,2020-07-23,1,1,-2.8524,-1.4895,317.157868,0
370,29.72,30.37,28.41,28.97,28.970000,3954177,0.0,1.0,-2.5236,-0.1762,2020-05-05,0,0,-2.3828,-2.6416,279.809838,1
438,65.87,66.64,65.13,65.54,65.170330,2214551,0.0,1.0,-1.0622,-0.3361,2020-01-28,0,0,-2.2792,-2.7088,317.651107,1
502,69.30,69.70,68.28,68.76,68.032298,1492657,0.0,1.0,-1.8293,-0.7715,2019-10-24,0,1,-3.4732,-3.4287,290.458822,0
566,64.73,65.57,63.32,63.86,62.821267,1598979,0.0,1.0,-2.9488,-0.9164,2019-07-25,0,1,-4.0468,-3.4598,288.761564,0
629,60.79,61.25,58.25,59.17,57.880545,1959987,0.0,1.0,-4.7861,-2.4840,2019-04-25,0,0,-4.2355,-4.2390,279.747185,1
692,65.72,66.60,65.38,65.78,64.008695,1984588,0.0,1.0,-2.6039,-3.4957,2019-01-24,1,1,-4.5074,-4.5758,251.346013,1
752,61.45,63.97,59.55,63.06,61.071553,2672004,0.0,1.0,-0.6159,-2.8116,2018-10-25,1,0,-4.2386,-5.8771,256.046715,1
816,58.00,64.87,57.97,64.76,62.419113,6391674,0.0,1.0,7.6192,-3.7775,2018-07-26,1,0,-5.5768,-5.6538,267.406482,1
882,67.34,70.25,66.89,69.11,66.245999,6424599,0.0,1.0,-1.6246,-4.5819,2018-04-23,1,1,-6.2883,-6.1499,250.453837,0
942,62.31,63.53,59.25,62.07,59.206135,10430698,0.0,1.0,-4.9813,-6.2263,2018-01-25,1,0,-6.7033,-6.2380,265.111954,0

6. Run the final tranformer function to generate the class variable:


This is the dataframe with the columns that were used to construct the variables of the model:

,column_of_interest,reportedEPS,estimatedEPS,surprise,surprisePercentage,stock_adjusted_close,stock_intraday_returns,stock_weekly_median_return,spy_adjusted_close,spy_intraday_returns,spy_weekly_median_return,after_report_adjusted_price,return_pct_difference,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,2021-07-22,-0.30,-0.4398,0.1398,31.7872,57.980000,1.9698,-0.0189,434.055645,-0.1574,-0.3363,58.250000,0.47,1,1,0,1,1,0
1,2021-04-22,-3.51,-3.6408,0.1308,3.5926,66.960000,-4.3429,-0.5308,409.582258,-1.5167,-0.6496,69.210000,3.36,0,1,1,0,0,1
2,2021-01-26,-2.55,-2.9258,0.3758,12.8444,51.830000,-3.1215,0.4406,380.041108,-1.3930,-0.8136,48.850000,-5.75,1,1,1,0,0,0
3,2020-10-22,-3.23,-2.9261,-0.3039,-10.3858,40.590000,3.6782,0.0000,339.789605,-0.9244,-1.5711,41.570000,2.41,1,0,1,1,1,1
4,2020-07-23,-3.54,-3.8601,0.3201,8.2925,36.670000,0.6036,-0.6711,317.157868,-2.8524,-1.4895,35.060000,-4.39,0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,2001-01-26,-0.27,-0.2100,-0.06,-28.5714,6.832836,-77.6412,-77.0854,91.713835,-32.1423,-32.4394,7.017264,2.70,0,0,1,0,1,1
82,2000-10-17,0.15,0.1500,0,0.0000,4.723158,-77.6471,-77.8958,90.669711,-34.5049,-33.2474,4.709664,-0.29,0,0,0,1,0,0
83,2000-07-21,0.25,0.2300,0.02,8.6957,6.185088,-77.0412,-77.5088,99.120206,-33.8095,-32.8782,6.227822,0.69,1,1,0,1,0,0
84,2000-04-19,-0.09,-0.0300,-0.06,-200.0000,6.846330,-76.6973,-77.7471,95.830333,-33.6814,-34.5057,6.691141,-2.27,0,0,0,1,1,0
85,2000-01-26,0.14,0.1400,0,0.0000,7.253422,-76.2183,-78.0040,94.044644,-33.3017,-33.7006,7.170204,-1.15,0,0,0,1,1,0

This is the dataframe that contains all the clean variables necessary for analysis:

,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,1,1,0,1,1,0
1,0,1,1,0,0,1
2,1,1,1,0,0,0
3,1,0,1,1,1,1
4,0,1,1,1,0,0
5,0,1,0,0,1,0
6,0,1,0,0,1,1
7,1,1,1,0,0,1
8,1,1,1,0,0,1
9,0,1,0,0,1,1
10,0,1,1,1,1,0
11,1,1,0,1,1,0
12,1,1,0,1,1,0
13,0,1,1,1,0,0
14,0,1,0,1,0,1

,TP,FP,FN,TN,Precision WA,Recall WA,F1-Score WA,Model Score %,Model Recommendation,symbol
0,0,2,1,1,0.166667,0.25,0.2,25.0,Invalid,ALK

This is the ticker:

ALLE

2021-10-21

ALLE


ALLE has reported earnings 33 times, as of the current date.

This is the daily adjusted dataframe:
Symbol:  ALLE
Date of Interest:  2021-10-21
Daily Adjusted Dataframe:



1. Retrieve the historical earnings report for the stock:

This dataframe contains ALLE's historical earnings report. The first row pertains to either the most recent earnings date (if the date is in the past/the same as today) or the upcoming earnings report date (if the date is in the future)

   reportedDate reportedEPS estimatedEPS surprise surprisePercentage
0    2021-10-21        None          1.3     None               None
1    2021-07-22        1.32       1.3025   0.0175             1.3436
2    2021-04-22         1.2       1.0263   0.1737            16.9249
3    2021-02-16        1.49       1.1896   0.3004            25.2522
4    2020-10-22        1.67       1.2244   0.4456            36.3933
5    2020-07-23        0.92         0.83     0.09            10.8434
6    2020-04-23        1.04        0.882    0.158            17.9138
7    2020-02-18        1.28       1.2834  -0.0034            -0.2649
8    2019-10-24        1.47       1.3261   0.1439            10.8514
9    2019-07-25        1.26       1.3178  -0.0578            -4.3861
10   2019-04-25        0.88       0.8683   0.0117             1.3475
11   2019-02-19        1.22       1.2178   0.0022             0.1807
12   2018-10-25        1.23       1.2144   0.0156             1.2846
13   2018-07-26        1.25       1.1929   0.0571             4.7867
14   2018-04-26         0.8       0.8488  -0.0488            -5.7493

2. Insert the historical earnings report into the historicalEarningsTransformer function:

This is ALLE's most updated earnings table that contains the earnings_event and surprise_event variables that will be used in the analysis:

,column_of_interest,reportedEPS,estimatedEPS,surprise,surprisePercentage,earnings_event,surprise_event
1,2021-07-22,1.32,1.3025,0.0175,1.3436,1,1
2,2021-04-22,1.20,1.0263,0.1737,16.9249,0,1
3,2021-02-16,1.49,1.1896,0.3004,25.2522,0,1
4,2020-10-22,1.67,1.2244,0.4456,36.3933,1,1
5,2020-07-23,0.92,0.8300,0.09,10.8434,0,1
6,2020-04-23,1.04,0.8820,0.158,17.9138,0,1
7,2020-02-18,1.28,1.2834,-0.0034,-0.2649,0,0
8,2019-10-24,1.47,1.3261,0.1439,10.8514,1,1
9,2019-07-25,1.26,1.3178,-0.0578,-4.3861,1,0
10,2019-04-25,0.88,0.8683,0.0117,1.3475,0,1
11,2019-02-19,1.22,1.2178,0.0022,0.1807,0,1
12,2018-10-25,1.23,1.2144,0.0156,1.2846,0,1
13,2018-07-26,1.25,1.1929,0.0571,4.7867,1,1
14,2018-04-26,0.80,0.8488,-0.0488,-5.7493,0,0
15,2018-02-20,1.11,0.9300,0.18,19.3548,1,1

3. Retrieve the last 5,000 daily adjusted prices for ALLE in order to create the intraday_event and adjusted_price_event variables:

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,Intraday_Returns,Weekly_Median_Return,trading_date
0,130.34,134.240,129.2000,131.52,131.52,1235210,0.0,1.0,0.9053,1.1830,2021-10-21
1,135.25,137.640,135.0650,136.85,136.85,625445,0.0,1.0,1.1830,0.4118,2021-10-20
2,135.85,135.850,133.6900,134.72,134.72,707380,0.0,1.0,-0.8318,0.4118,2021-10-19
3,132.86,135.140,132.6400,134.83,134.83,421828,0.0,1.0,1.4828,0.1709,2021-10-18
4,133.55,134.490,133.0450,134.10,134.10,519931,0.0,1.0,0.4118,0.0838,2021-10-15
5,130.09,132.590,128.7201,132.36,132.36,472197,0.0,1.0,1.7449,0.0838,2021-10-14
6,128.70,130.050,127.8600,128.92,128.92,590693,0.0,1.0,0.1709,0.0838,2021-10-13
7,129.40,130.605,127.9900,128.36,128.36,533976,0.0,1.0,-0.8037,0.0838,2021-10-12
8,130.97,131.980,129.0700,129.10,129.10,510492,0.0,1.0,-1.4278,0.0838,2021-10-11
9,131.34,132.110,130.3500,131.45,131.45,655134,0.0,1.0,0.0838,0.0831,2021-10-08
10,130.49,132.810,129.8000,131.54,131.54,694793,0.0,1.0,0.8047,-0.3151,2021-10-07
11,127.73,129.570,127.1400,129.32,129.32,727202,0.0,1.0,1.2448,-0.3151,2021-10-06
12,130.10,132.200,129.4300,129.69,129.69,952089,0.0,1.0,-0.3151,-1.0107,2021-10-05
13,131.59,133.040,129.1900,130.26,130.26,1058050,0.0,1.0,-1.0107,-0.0803,2021-10-04
14,132.36,133.430,129.3200,132.47,132.47,1031091,0.0,1.0,0.0831,-0.7013,2021-10-01

4. Retrieve the last 5,000 daily adjusted prices for SPY in order to create the spy_event variable:

,1. open,2. high,3. low,4. close,spy_adjusted_close,6. volume,7. dividend amount,8. split coefficient,spy_intraday_returns,spy_weekly_median_return,column_of_interest,spy_event
0,451.77,453.8300,451.31,453.59,453.59,40586410,0.0,1.0,0.4029,0.3831,2021-10-21,1
1,451.13,452.7320,451.01,452.41,452.41,49571569,0.0,1.0,0.2837,0.3831,2021-10-20,0
2,448.92,450.7100,448.27,450.64,450.64,46996827,0.0,1.0,0.3831,0.2518,2021-10-19,1
3,443.97,447.5500,443.27,447.19,447.19,62213228,0.0,1.0,0.7253,0.1081,2021-10-18,1
4,444.75,446.2600,444.09,445.87,445.87,66260210,0.0,1.0,0.2518,-0.3686,2021-10-15,1
5,439.08,442.6600,438.58,442.50,442.50,70236825,0.0,1.0,0.7789,-0.3686,2021-10-14,1
6,434.71,436.0500,431.54,435.18,435.18,72973979,0.0,1.0,0.1081,-0.3686,2021-10-13,1
7,435.67,436.1000,432.78,433.62,433.62,71181163,0.0,1.0,-0.4705,0.0616,2021-10-12,0
8,437.16,440.2600,434.62,434.69,434.69,65233285,0.0,1.0,-0.5650,0.0616,2021-10-11,0
9,439.48,439.8900,437.19,437.86,437.86,74557404,0.0,1.0,-0.3686,0.6647,2021-10-08,0
10,438.39,441.6800,438.20,438.66,438.66,72437499,0.0,1.0,0.0616,0.6647,2021-10-07,0
11,429.27,435.1199,427.54,434.90,434.90,113032245,0.0,1.0,1.3115,-0.1700,2021-10-06,1
12,430.24,435.4900,429.39,433.10,433.10,90682520,0.0,1.0,0.6647,-1.0069,2021-10-05,1
13,433.00,433.9600,426.36,428.64,428.64,128569957,0.0,1.0,-1.0069,-0.1700,2021-10-04,0
14,430.98,436.0329,427.23,434.24,434.24,129240106,0.0,1.0,0.7564,-0.1700,2021-10-01,1

5. Connect both daily adjusted price dataframes (Stock Prices and SPY Prices) with the historical earnings report in order to calculate the x variables intraday_event, adjusted_price_event, spy_event:

,1. open,2. high,3. low,4. close,stock_adjusted_close,6. volume,7. dividend amount,8. split coefficient,stock_intraday_returns,stock_weekly_median_return,column_of_interest,intraday_event,adjusted_price_event,spy_intraday_returns,spy_weekly_median_return,spy_adjusted_close,spy_event
64,139.39,139.990,134.73,135.97,135.624240,1260672,0.0,1.0,-2.7016,-0.0305,2021-07-22,0,1,-0.1574,-0.3363,434.055645,1
127,134.66,139.730,134.66,135.49,134.795091,1119301,0.0,1.0,0.1003,-0.2130,2021-04-22,1,1,-1.5167,-0.6496,409.582258,0
173,116.94,117.770,109.58,109.81,108.923611,1336388,0.0,1.0,-6.8551,-0.6133,2021-02-16,0,1,-1.3941,-0.8141,388.467982,0
251,105.00,105.495,99.83,101.97,100.857956,1536900,0.0,1.0,-3.9448,-1.3161,2020-10-22,0,0,-0.9244,-1.5711,339.789605,1
315,108.70,110.000,102.35,102.56,101.120885,1622510,0.0,1.0,-6.9725,-0.7657,2020-07-23,0,1,-2.8524,-1.4895,317.157868,0
378,94.58,98.290,92.12,95.13,93.503655,1311085,0.0,1.0,-1.1380,-2.1158,2020-04-23,1,0,-2.7208,-2.2469,272.858344,0
424,132.94,134.640,130.61,134.36,131.631884,1034855,0.0,1.0,-0.9840,-1.2715,2020-02-18,1,1,-2.7628,-2.6561,327.212999,0
502,108.80,114.110,108.15,113.66,111.105611,2050453,0.0,1.0,2.1191,-1.9834,2019-10-24,1,1,-3.4732,-3.4287,290.458822,0
566,102.01,105.120,98.24,104.81,102.184652,1800551,0.0,1.0,0.1712,-2.2354,2019-07-25,1,1,-4.0468,-3.4598,288.761564,0
629,95.53,97.500,93.09,96.56,93.900555,1548361,0.0,1.0,-1.7057,-2.9506,2019-04-25,1,1,-4.2355,-4.2390,279.747185,1
675,88.12,90.670,87.18,88.02,85.336207,2002116,0.0,1.0,-3.1591,-3.0173,2019-02-19,0,1,-4.1580,-4.4216,264.983835,1
752,81.73,86.160,81.63,82.94,80.216017,1569682,0.0,1.0,-1.8524,-4.4640,2018-10-25,1,1,-4.2386,-5.8771,256.046715,1
816,77.50,82.200,75.89,81.48,78.615977,1136768,0.0,1.0,1.4400,-3.4065,2018-07-26,1,1,-5.5768,-5.6538,267.406482,1
879,75.50,79.540,75.50,78.59,75.633368,4987435,0.0,1.0,0.1766,-4.6000,2018-04-26,1,0,-5.5064,-6.3106,250.209555,1
925,86.21,88.410,85.30,85.66,82.235076,1653573,0.0,1.0,-4.6107,-3.2705,2018-02-20,0,1,-6.6368,-5.8845,253.975941,0

6. Run the final tranformer function to generate the class variable:


This is the dataframe with the columns that were used to construct the variables of the model:

,column_of_interest,reportedEPS,estimatedEPS,surprise,surprisePercentage,stock_adjusted_close,stock_intraday_returns,stock_weekly_median_return,spy_adjusted_close,spy_intraday_returns,spy_weekly_median_return,after_report_adjusted_price,return_pct_difference,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,2021-07-22,1.32,1.3025,0.0175,1.3436,135.624240,-2.7016,-0.0305,434.055645,-0.1574,-0.3363,138.826078,2.36,1,1,1,0,1,1
1,2021-04-22,1.20,1.0263,0.1737,16.9249,134.795091,0.1003,-0.2130,409.582258,-1.5167,-0.6496,137.640422,2.11,0,1,1,1,0,1
2,2021-02-16,1.49,1.1896,0.3004,25.2522,108.923611,-6.8551,-0.6133,388.467982,-1.3941,-0.8141,108.417728,-0.46,0,1,1,0,0,0
3,2020-10-22,1.67,1.2244,0.4456,36.3933,100.857956,-3.9448,-1.3161,339.789605,-0.9244,-1.5711,101.758032,0.89,1,1,0,0,1,0
4,2020-07-23,0.92,0.8300,0.09,10.8434,101.120885,-6.9725,-0.7657,317.157868,-2.8524,-1.4895,99.602494,-1.50,0,1,1,0,0,0
5,2020-04-23,1.04,0.8820,0.158,17.9138,93.503655,-1.1380,-2.1158,272.858344,-2.7208,-2.2469,94.919037,1.51,0,1,0,1,0,1
6,2020-02-18,1.28,1.2834,-0.0034,-0.2649,131.631884,-0.9840,-1.2715,327.212999,-2.7628,-2.6561,128.496858,-2.38,0,0,1,1,0,0
7,2019-10-24,1.47,1.3261,0.1439,10.8514,111.105611,2.1191,-1.9834,290.458822,-3.4732,-3.4287,110.783027,-0.29,1,1,1,1,0,0
8,2019-07-25,1.26,1.3178,-0.0578,-4.3861,102.184652,0.1712,-2.2354,288.761564,-4.0468,-3.4598,102.623380,0.43,1,0,1,1,0,0
9,2019-04-25,0.88,0.8683,0.0117,1.3475,93.900555,-1.7057,-2.9506,279.747185,-4.2355,-4.2390,95.602357,1.81,0,1,1,1,1,1
10,2019-02-19,1.22,1.2178,0.0022,0.1807,85.336207,-3.1591,-3.0173,264.983835,-4.1580,-4.4216,85.268341,-0.08,0,1,1,0,1,0
11,2018-10-25,1.23,1.2144,0.0156,1.2846,80.216017,-1.8524,-4.4640,256.046715,-4.2386,-5.8771,79.993571,-0.28,0,1,1,1,1,0
12,2018-07-26,1.25,1.1929,0.0571,4.7867,78.615977,1.4400,-3.4065,267.406482,-5.5768,-5.6538,78.731759,0.15,1,1,1,1,1,0
13,2018-04-26,0.80,0.8488,-0.0488,-5.7493,75.633368,0.1766,-4.6000,250.209555,-5.5064,-6.3106,74.901960,-0.97,0,0,0,1,1,0
14,2018-02-20,1.11,0.9300,0.18,19.3548,82.235076,-4.6107,-3.2705,253.975941,-6.6368,-5.8845,83.252694,1.24,1,1,1,0,0,1
15,2017-10-26,1.02,1.0189,0.0011,0.1080,77.323029,-3.3462,-3.8778,238.002243,-7.0267,-6.9067,76.930186,-0.51,0,1,0,1,0,0
16,2017-07-27,1.11,1.0039,0.1061,10.5688,77.652000,-1.6939,-4.8428,229.027879,-7.6352,-7.4186,77.843261,0.25,1,1,1,1,0,0
17,2017-04-27,0.73,0.6896,0.0404,5.8585,76.942061,-6.1682,-4.2918,219.987432,-7.8664,-7.8046,75.052390,-2.46,0,1,1,0,0,0
18,2017-02-09,0.81,0.8723,-0.0623,-7.1420,68.311430,0.9181,-4.4537,211.688825,-7.6562,-8.1404,68.492375,0.26,0,0,1,1,1,0
19,2016-10-27,0.93,0.9506,-0.0206,-2.1671,59.735927,-6.8954,-4.8123,194.539413,-9.3394,-8.7355,60.448880,1.19,0,0,0,0,0,1
20,2016-07-28,0.99,0.9000,0.09,10.0000,69.060456,-5.0715,-4.8724,196.826615,-8.9987,-9.3467,68.690388,-0.54,1,1,1,0,1,0
21,2016-04-28,0.61,0.6479,-0.0379,-5.8497,61.795925,-3.3684,-4.3027,187.385550,-10.1096,-9.5201,61.994839,0.32,0,0,1,1,0,0
22,2016-02-11,0.89,0.7348,0.1552,21.1214,53.644330,-4.5305,-5.3869,164.329960,-9.8772,-10.3028,54.362866,1.34,0,1,0,1,1,1
23,2015-10-29,0.92,0.7800,0.14,17.9487,60.896591,-9.7828,-4.6950,186.592005,-10.4430,-10.5142,61.519622,1.02,1,1,1,0,1,1
24,2015-07-30,0.71,0.7000,0.01,1.4286,59.561876,-6.7889,-5.5721,187.325061,-10.8655,-11.6828,59.580724,0.03,1,1,1,0,1,0
25,2015-04-30,0.51,0.4700,0.04,8.5106,57.535718,-5.7564,-6.0657,184.327403,-12.1749,-11.5808,57.817986,0.49,0,1,1,1,0,0
26,2015-02-18,0.76,0.6800,0.08,11.7647,52.599670,-7.5252,-6.4349,184.985735,-11.7687,-11.6671,54.121303,2.89,1,1,1,0,0,1
27,2014-10-30,0.68,0.6500,0.03,4.6154,49.370290,-1.6136,-4.9929,174.562785,-11.6496,-12.2548,49.792339,0.85,1,1,0,1,1,0
28,2014-07-30,0.61,0.6400,-0.03,-4.6875,50.247912,-4.3808,-7.1601,171.658230,-13.1504,-12.9339,48.159711,-4.16,1,0,1,1,0,0
29,2014-04-30,0.44,0.4400,0,0.0000,46.146190,-5.8241,-7.2595,163.321999,-12.8671,-13.4405,47.922842,3.85,0,0,1,1,1,1
30,2014-02-19,0.58,0.5900,-0.01,-1.6949,45.900018,-7.9053,-6.3698,158.034087,-13.9997,-13.0947,48.103517,4.80,0,0,0,0,0,1

This is the dataframe that contains all the clean variables necessary for analysis:

,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,1,1,1,0,1,1
1,0,1,1,1,0,1
2,0,1,1,0,0,0
3,1,1,0,0,1,0
4,0,1,1,0,0,0
5,0,1,0,1,0,1
6,0,0,1,1,0,0
7,1,1,1,1,0,0
8,1,0,1,1,0,0
9,0,1,1,1,1,1
10,0,1,1,0,1,0
11,0,1,1,1,1,0
12,1,1,1,1,1,0
13,0,0,0,1,1,0
14,1,1,1,0,0,1

,TP,FP,FN,TN,Precision WA,Recall WA,F1-Score WA,Model Score %,Model Recommendation,symbol
0,0,2,1,1,0.166667,0.25,0.2,25.0,Invalid,ALLE

This is the ticker:

ALLY

2021-10-21

Model has been put to sleep after the alpha spy
ALLY


ALLY has reported earnings 31 times, as of the current date.

This is the daily adjusted dataframe:
Symbol:  ALLY
Date of Interest:  2021-10-21
Daily Adjusted Dataframe:



1. Retrieve the historical earnings report for the stock:

This dataframe contains ALLY's historical earnings report. The first row pertains to either the most recent earnings date (if the date is in the past/the same as today) or the upcoming earnings report date (if the date is in the future)

   reportedDate reportedEPS estimatedEPS surprise surprisePercentage
0    2021-10-21        None         1.95     None               None
1    2021-07-20        2.33       1.5016   0.8284            55.1678
2    2021-04-16        2.09       1.1615   0.9285            79.9397
3    2021-01-22         1.6       1.0569   0.5431            51.3861
4    2020-10-16        1.25       0.7045   0.5455            77.4308
5    2020-07-17        0.61       0.2565   0.3535           137.8168
6    2020-04-20       -0.44       0.7779  -1.2179          -156.5625
7    2020-01-22        0.95       0.9344   0.0156             1.6695
8    2019-10-16        1.01       0.9788   0.0312             3.1876
9    2019-07-18        0.97       0.8878   0.0822             9.2588
10   2019-04-18         0.8       0.7868   0.0132             1.6777
11   2019-01-30        0.92       0.8256   0.0944            11.4341
12   2018-10-25        0.91       0.8042   0.1058            13.1559
13   2018-07-26        0.83       0.7087   0.1213            17.1158
14   2018-04-26        0.68       0.6578   0.0222             3.3749

2. Insert the historical earnings report into the historicalEarningsTransformer function:

This is ALLY's most updated earnings table that contains the earnings_event and surprise_event variables that will be used in the analysis:

,column_of_interest,reportedEPS,estimatedEPS,surprise,surprisePercentage,earnings_event,surprise_event
1,2021-07-20,2.33,1.5016,0.8284,55.1678,1,1
2,2021-04-16,2.09,1.1615,0.9285,79.9397,1,1
3,2021-01-22,1.60,1.0569,0.5431,51.3861,1,1
4,2020-10-16,1.25,0.7045,0.5455,77.4308,1,1
5,2020-07-17,0.61,0.2565,0.3535,137.8168,1,1
6,2020-04-20,-0.44,0.7779,-1.2179,-156.5625,0,0
7,2020-01-22,0.95,0.9344,0.0156,1.6695,0,1
8,2019-10-16,1.01,0.9788,0.0312,3.1876,1,1
9,2019-07-18,0.97,0.8878,0.0822,9.2588,1,1
10,2019-04-18,0.80,0.7868,0.0132,1.6777,0,1
11,2019-01-30,0.92,0.8256,0.0944,11.4341,1,1
12,2018-10-25,0.91,0.8042,0.1058,13.1559,1,1
13,2018-07-26,0.83,0.7087,0.1213,17.1158,1,1
14,2018-04-26,0.68,0.6578,0.0222,3.3749,0,1
15,2018-01-30,0.70,0.6080,0.092,15.1316,1,1

3. Retrieve the last 5,000 daily adjusted prices for ALLY in order to create the intraday_event and adjusted_price_event variables:

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,Intraday_Returns,Weekly_Median_Return,trading_date
0,55.410,56.2800,52.55,52.97,52.97,5687974,0.0,1.0,-4.4035,0.2260,2021-10-21
1,54.560,55.9200,54.35,55.81,55.81,2334557,0.0,1.0,2.2911,0.0730,2021-10-20
2,54.940,55.2300,54.38,54.66,54.66,1809757,0.0,1.0,-0.5096,0.2260,2021-10-19
3,54.820,55.7000,54.59,54.86,54.86,1941795,0.0,1.0,0.0730,0.2260,2021-10-18
4,53.870,55.4699,53.78,54.90,54.90,2940068,0.0,1.0,1.9120,-0.2635,2021-10-15
5,53.100,53.3100,52.29,53.22,53.22,3190915,0.0,1.0,0.2260,-0.9538,2021-10-14
6,53.230,53.2600,52.14,52.42,52.42,2955293,0.0,1.0,-1.5217,-0.2635,2021-10-13
7,52.460,53.0800,52.22,52.92,52.92,2001776,0.0,1.0,0.8769,-0.2635,2021-10-12
8,53.285,54.3269,52.33,52.44,52.44,2107463,0.0,1.0,-1.5858,-0.2234,2021-10-11
9,53.140,53.8699,52.69,53.00,53.00,1804282,0.0,1.0,-0.2635,0.9920,2021-10-08
10,53.470,54.4400,52.77,52.96,52.96,3051780,0.0,1.0,-0.9538,0.9920,2021-10-07
11,53.000,53.9600,52.49,53.69,53.69,2259691,0.0,1.0,1.3019,-0.2234,2021-10-06
12,53.720,53.9400,52.99,53.60,53.60,1871852,0.0,1.0,-0.2234,-1.3717,2021-10-05
13,52.070,53.2600,51.98,53.16,53.16,2718890,0.0,1.0,2.0933,-1.3717,2021-10-04
14,51.410,52.1600,50.81,51.92,51.92,2264094,0.0,1.0,0.9920,-1.3717,2021-10-01

4. Retrieve the last 5,000 daily adjusted prices for SPY in order to create the spy_event variable:

,1. open,2. high,3. low,4. close,spy_adjusted_close,6. volume,7. dividend amount,8. split coefficient,spy_intraday_returns,spy_weekly_median_return,column_of_interest,spy_event
0,451.77,453.8300,451.31,453.59,453.59,40586410,0.0,1.0,0.4029,0.3831,2021-10-21,1
1,451.13,452.7320,451.01,452.41,452.41,49571569,0.0,1.0,0.2837,0.3831,2021-10-20,0
2,448.92,450.7100,448.27,450.64,450.64,46996827,0.0,1.0,0.3831,0.2518,2021-10-19,1
3,443.97,447.5500,443.27,447.19,447.19,62213228,0.0,1.0,0.7253,0.1081,2021-10-18,1
4,444.75,446.2600,444.09,445.87,445.87,66260210,0.0,1.0,0.2518,-0.3686,2021-10-15,1
5,439.08,442.6600,438.58,442.50,442.50,70236825,0.0,1.0,0.7789,-0.3686,2021-10-14,1
6,434.71,436.0500,431.54,435.18,435.18,72973979,0.0,1.0,0.1081,-0.3686,2021-10-13,1
7,435.67,436.1000,432.78,433.62,433.62,71181163,0.0,1.0,-0.4705,0.0616,2021-10-12,0
8,437.16,440.2600,434.62,434.69,434.69,65233285,0.0,1.0,-0.5650,0.0616,2021-10-11,0
9,439.48,439.8900,437.19,437.86,437.86,74557404,0.0,1.0,-0.3686,0.6647,2021-10-08,0
10,438.39,441.6800,438.20,438.66,438.66,72437499,0.0,1.0,0.0616,0.6647,2021-10-07,0
11,429.27,435.1199,427.54,434.90,434.90,113032245,0.0,1.0,1.3115,-0.1700,2021-10-06,1
12,430.24,435.4900,429.39,433.10,433.10,90682520,0.0,1.0,0.6647,-1.0069,2021-10-05,1
13,433.00,433.9600,426.36,428.64,428.64,128569957,0.0,1.0,-1.0069,-0.1700,2021-10-04,0
14,430.98,436.0329,427.23,434.24,434.24,129240106,0.0,1.0,0.7564,-0.1700,2021-10-01,1

5. Connect both daily adjusted price dataframes (Stock Prices and SPY Prices) with the historical earnings report in order to calculate the x variables intraday_event, adjusted_price_event, spy_event:

,1. open,2. high,3. low,4. close,stock_adjusted_close,6. volume,7. dividend amount,8. split coefficient,stock_intraday_returns,stock_weekly_median_return,column_of_interest,intraday_event,adjusted_price_event,spy_intraday_returns,spy_weekly_median_return,spy_adjusted_close,spy_event
66,47.20,51.1100,47.060,50.90,50.653439,7308203,0.0,1.0,7.3166,-1.4091,2021-07-20,1,1,0.9373,-0.5868,429.669835,1
131,47.64,49.4900,46.880,47.71,47.305010,6314442,0.0,1.0,-0.7032,-1.3718,2021-04-16,1,1,-0.6496,-0.3309,414.539726,0
189,39.67,41.6299,39.660,40.61,40.064111,7815011,0.0,1.0,0.9935,-1.2485,2021-01-22,1,1,-0.8136,-1.0412,379.139997,1
255,28.24,29.1800,27.910,28.63,28.044978,8474778,0.0,1.0,-0.6906,-3.0619,2020-10-16,1,1,-1.8707,-1.0307,342.432117,0
319,22.42,22.8500,21.010,21.29,20.663633,11665774,0.0,1.0,-7.8339,-0.8629,2020-07-17,0,1,-1.8454,-1.4895,315.940145,0
381,14.46,15.9300,13.800,15.05,14.439826,11207599,0.0,1.0,-0.1395,-8.1198,2020-04-20,1,0,-2.5822,-2.1624,275.312387,0
442,31.82,32.3700,31.320,32.31,30.819597,7543530,0.0,1.0,-3.1439,-4.3606,2020-01-22,1,1,-3.0895,-2.7088,321.975337,0
508,31.99,31.9900,30.260,30.63,29.055829,10364486,0.0,1.0,-9.1722,-4.7137,2019-10-16,0,0,-3.2899,-3.1267,288.553825,0
571,31.85,33.5500,31.721,33.49,31.605583,8793848,0.0,1.0,-0.7674,-6.2232,2019-07-18,1,1,-3.2150,-3.8676,287.635394,1
633,30.08,30.2000,29.490,29.73,27.897522,3308003,0.0,1.0,-7.2556,-6.3862,2019-04-18,0,1,-4.2390,-4.4182,277.802701,1
688,25.97,26.9400,25.750,26.76,24.947840,8951523,0.0,1.0,-3.9359,-7.1374,2019-01-30,1,1,-3.7384,-4.5696,255.189399,1
752,24.75,25.2500,23.690,25.01,23.179515,6139376,0.0,1.0,-6.3454,-8.9518,2018-10-25,1,0,-4.2386,-5.8771,256.046715,1
816,27.98,28.0100,26.870,27.40,25.253038,6088129,0.0,1.0,-9.7461,-7.9677,2018-07-26,0,1,-5.5768,-5.6538,267.406482,1
879,27.30,27.6800,26.540,27.18,24.926123,5049528,0.0,1.0,-8.6955,-8.4248,2018-04-26,0,0,-5.5064,-6.3106,250.209555,1
939,29.79,31.2900,29.690,30.83,28.150522,5999907,0.0,1.0,-5.5035,-9.1104,2018-01-30,1,1,-6.6982,-6.6968,263.670823,0

6. Run the final tranformer function to generate the class variable:


This is the dataframe with the columns that were used to construct the variables of the model:

,column_of_interest,reportedEPS,estimatedEPS,surprise,surprisePercentage,stock_adjusted_close,stock_intraday_returns,stock_weekly_median_return,spy_adjusted_close,spy_intraday_returns,spy_weekly_median_return,after_report_adjusted_price,return_pct_difference,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,2021-07-20,2.33,1.5016,0.8284,55.1678,50.653439,7.3166,-1.4091,429.669835,0.9373,-0.5868,52.265592,3.18,1,1,1,1,1,1
1,2021-04-16,2.09,1.1615,0.9285,79.9397,47.305010,-0.7032,-1.3718,414.539726,-0.6496,-0.3309,47.681784,0.80,1,1,1,1,0,0
2,2021-01-22,1.60,1.0569,0.5431,51.3861,40.064111,0.9935,-1.2485,379.139997,-0.8136,-1.0412,38.830914,-3.08,1,1,1,1,1,0
3,2020-10-16,1.25,0.7045,0.5455,77.4308,28.044978,-0.6906,-3.0619,342.432117,-1.8707,-1.0307,27.868656,-0.63,1,1,1,1,0,0
4,2020-07-17,0.61,0.2565,0.3535,137.8168,20.663633,-7.8339,-0.8629,315.940145,-1.8454,-1.4895,20.615104,-0.23,1,1,1,0,0,0
5,2020-04-20,-0.44,0.7779,-1.2179,-156.5625,14.439826,-0.1395,-8.1198,275.312387,-2.5822,-2.1624,13.605098,-5.78,0,0,0,1,0,0
6,2020-01-22,0.95,0.9344,0.0156,1.6695,30.819597,-3.1439,-4.3606,321.975337,-3.0895,-2.7088,31.191607,1.21,0,1,1,1,0,1
7,2019-10-16,1.01,0.9788,0.0312,3.1876,29.055829,-9.1722,-4.7137,288.553825,-3.2899,-3.1267,28.960968,-0.33,1,1,0,0,0,0
8,2019-07-18,0.97,0.8878,0.0822,9.2588,31.605583,-0.7674,-6.2232,287.635394,-3.2150,-3.8676,31.190341,-1.31,1,1,1,1,1,0
9,2019-04-18,0.80,0.7868,0.0132,1.6777,27.897522,-7.2556,-6.3862,277.802701,-4.2390,-4.4182,28.103962,0.74,0,1,1,0,1,0
10,2019-01-30,0.92,0.8256,0.0944,11.4341,24.947840,-3.9359,-7.1374,255.189399,-3.7384,-4.5696,24.453731,-1.98,1,1,1,1,1,0
11,2018-10-25,0.91,0.8042,0.1058,13.1559,23.179515,-6.3454,-8.9518,256.046715,-4.2386,-5.8771,22.577089,-2.60,1,1,0,1,1,0
12,2018-07-26,0.83,0.7087,0.1213,17.1158,25.253038,-9.7461,-7.9677,267.406482,-5.5768,-5.6538,25.114791,-0.55,1,1,1,0,1,0
13,2018-04-26,0.68,0.6578,0.0222,3.3749,24.926123,-8.6955,-8.4248,250.209555,-5.5064,-6.3106,24.467585,-1.84,0,1,0,0,1,0
14,2018-01-30,0.70,0.6080,0.092,15.1316,28.150522,-5.5035,-9.1104,263.670823,-6.6982,-6.6968,27.301350,-3.02,1,1,1,1,0,0
15,2017-10-25,0.65,0.5889,0.0611,10.3753,23.331835,-6.1471,-8.9970,237.694987,-7.2156,-6.9067,23.649955,1.36,1,1,1,1,0,1
16,2017-07-27,0.58,0.5265,0.0535,10.1614,20.596146,-7.6406,-9.5040,229.027879,-7.6352,-7.4186,20.623270,0.13,1,1,1,1,0,0
17,2017-04-27,0.48,0.4812,-0.0012,-0.2494,18.227318,-12.1575,-9.4130,219.987432,-7.8664,-7.8046,17.901830,-1.79,0,0,0,0,0,0
18,2017-01-31,0.54,0.4785,0.0615,12.8527,19.019810,-7.2657,-9.7952,208.870585,-7.9784,-8.2289,19.452078,2.27,0,1,1,1,1,1
19,2016-10-26,0.56,0.5862,-0.0262,-4.4695,16.797819,-11.1227,-10.3290,195.059603,-8.5129,-8.7355,16.681725,-0.69,1,0,1,0,1,0
20,2016-07-26,0.54,0.5079,0.0321,6.3201,15.869509,-7.5203,-11.0952,196.808452,-9.1080,-9.0867,15.700590,-1.06,1,1,0,1,0,0
21,2016-04-26,0.52,0.5452,-0.0252,-4.6222,16.420719,-10.3673,-9.8780,188.713373,-9.7238,-9.6030,15.878400,-3.30,0,0,1,0,0,0
22,2016-02-02,0.52,0.5096,0.0104,2.0408,14.304784,-11.5897,-9.6519,170.890220,-10.9761,-9.6107,15.184942,6.15,1,1,0,0,0,0
23,2015-10-29,0.51,0.5100,0,0.0000,17.647605,-14.3736,-11.5817,186.592005,-10.4430,-10.5142,17.709839,0.35,1,0,0,0,1,0
24,2015-07-28,0.46,0.4500,0.01,2.2222,19.976912,-8.3628,-11.5875,185.983343,-10.4946,-11.6828,20.430326,2.27,0,1,1,1,1,1
25,2015-04-28,0.52,0.4200,0.1,23.8095,18.910054,-9.1300,-11.7015,186.962420,-11.2829,-11.5808,19.167878,1.36,1,1,1,1,1,1
26,2015-01-29,0.40,0.4000,0,0.0000,17.407562,-14.2485,-10.6632,177.819772,-11.2587,-12.0658,16.634091,-4.44,0,0,0,0,1,0
27,2014-10-29,0.53,0.4100,0.12,29.2683,20.288078,-12.7394,-11.3404,173.450864,-12.6412,-12.2548,20.270297,-0.09,1,1,0,0,0,0
28,2014-07-29,0.42,0.3300,0.09,27.2727,20.945973,-14.1558,-10.9835,171.632087,-13.3915,-12.8374,20.501449,-2.12,0,1,0,0,0,0

This is the dataframe that contains all the clean variables necessary for analysis:

,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,1,1,1,1,1,1
1,1,1,1,1,0,0
2,1,1,1,1,1,0
3,1,1,1,1,0,0
4,1,1,1,0,0,0
5,0,0,0,1,0,0
6,0,1,1,1,0,1
7,1,1,0,0,0,0
8,1,1,1,1,1,0
9,0,1,1,0,1,0
10,1,1,1,1,1,0
11,1,1,0,1,1,0
12,1,1,1,0,1,0
13,0,1,0,0,1,0
14,1,1,1,1,0,0

,TP,FP,FN,TN,Precision WA,Recall WA,F1-Score WA,Model Score %,Model Recommendation,symbol
0,1,0,1,2,0.875,0.75,0.766667,75.0,Valid,ALLY

This is the ticker:

AMTB

2021-10-21

AMTB


AMTB has reported earnings 13 times, as of the current date.

This is the daily adjusted dataframe:
Symbol:  AMTB
Date of Interest:  2021-10-21
Daily Adjusted Dataframe:


model has been put to sleep after the daily adjusted call


1. Retrieve the historical earnings report for the stock:

This dataframe contains AMTB's historical earnings report. The first row pertains to either the most recent earnings date (if the date is in the past/the same as today) or the upcoming earnings report date (if the date is in the future)

   reportedDate reportedEPS estimatedEPS surprise surprisePercentage
0    2021-10-21        0.45         0.39     0.06            15.3846
1    2021-07-21        0.46       0.3767   0.0833            22.1131
2    2021-04-28        0.39       0.2375   0.1525            64.2105
3    2021-01-29        0.27         0.13     0.14           107.6923
4    2020-10-29        0.08        0.056    0.024            42.8571
5    2020-07-24       -0.34        -0.24     -0.1           -41.6667
6    2020-04-28        0.09        0.165   -0.075           -45.4545
7    2020-01-30        0.26         0.22     0.04            18.1818
8    2019-10-29         0.3          0.3        0                  0
9    2019-07-26        0.35        0.308    0.042            13.6364
10   2019-04-26        0.32        0.302    0.018             5.9603
11   2019-01-29        0.47       0.3075   0.1625            52.8455
12   2018-11-13      0.2719         None     None               None

2. Insert the historical earnings report into the historicalEarningsTransformer function:

This is AMTB's most updated earnings table that contains the earnings_event and surprise_event variables that will be used in the analysis:

,column_of_interest,reportedEPS,estimatedEPS,surprise,surprisePercentage,earnings_event,surprise_event
0,2021-10-21,0.45,0.3900,0.06,15.3846,0,1
1,2021-07-21,0.46,0.3767,0.0833,22.1131,1,1
2,2021-04-28,0.39,0.2375,0.1525,64.2105,1,1
3,2021-01-29,0.27,0.1300,0.14,107.6923,1,1
4,2020-10-29,0.08,0.0560,0.024,42.8571,1,1
5,2020-07-24,-0.34,-0.2400,-0.1,-41.6667,0,0
6,2020-04-28,0.09,0.1650,-0.075,-45.4545,0,0
7,2020-01-30,0.26,0.2200,0.04,18.1818,0,1
8,2019-10-29,0.30,0.3000,0,0.0000,0,0
9,2019-07-26,0.35,0.3080,0.042,13.6364,1,1
10,2019-04-26,0.32,0.3020,0.018,5.9603,0,1
11,2019-01-29,0.47,0.3075,0.1625,52.8455,0,1

3. Retrieve the last 5,000 daily adjusted prices for AMTB in order to create the intraday_event and adjusted_price_event variables:

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,Intraday_Returns,Weekly_Median_Return,trading_date
0,27.14,27.1400,25.6100,26.50,26.50,68472,0.0,1.0,-2.3581,0.1503,2021-10-21
1,26.75,27.4900,26.5600,26.72,26.72,33875,0.0,1.0,-0.1121,0.2725,2021-10-20
2,26.61,26.7350,25.9700,26.65,26.65,34783,0.0,1.0,0.1503,0.5521,2021-10-19
3,26.20,26.6800,25.6700,26.54,26.54,53601,0.0,1.0,1.2977,0.2725,2021-10-18
4,26.25,26.5281,25.3700,26.14,26.14,109305,0.0,1.0,-0.4190,0.5521,2021-10-15
5,25.69,26.0400,25.6200,25.76,25.76,36379,0.0,1.0,0.2725,0.5521,2021-10-14
6,25.36,25.5100,24.9850,25.50,25.50,33163,0.0,1.0,0.5521,0.6265,2021-10-13
7,25.03,25.4600,24.8700,25.34,25.34,20312,0.0,1.0,1.2385,0.5490,2021-10-12
8,25.95,25.9500,25.2100,25.26,25.26,17483,0.0,1.0,-2.6590,0.5490,2021-10-11
9,25.54,26.1800,25.2301,25.70,25.70,26504,0.0,1.0,0.6265,0.5490,2021-10-08
10,25.98,26.2000,24.7001,25.76,25.76,80222,0.0,1.0,-0.8468,0.5490,2021-10-07
11,25.32,25.8350,23.9304,25.58,25.58,38190,0.0,1.0,1.0269,0.5490,2021-10-06
12,25.50,25.8000,25.3100,25.64,25.64,35459,0.0,1.0,0.5490,-0.5887,2021-10-05
13,25.48,25.9100,24.8250,25.33,25.33,21322,0.0,1.0,-0.5887,0.7582,2021-10-04
14,24.92,25.6000,23.6801,25.48,25.48,99390,0.0,1.0,2.2472,0.7582,2021-10-01

4. Retrieve the last 5,000 daily adjusted prices for SPY in order to create the spy_event variable:

,1. open,2. high,3. low,4. close,spy_adjusted_close,6. volume,7. dividend amount,8. split coefficient,spy_intraday_returns,spy_weekly_median_return,column_of_interest,spy_event
0,451.77,453.8300,451.31,453.59,453.59,40616798,0.0,1.0,0.4029,0.3831,2021-10-21,1
1,451.13,452.7320,451.01,452.41,452.41,49571569,0.0,1.0,0.2837,0.3831,2021-10-20,0
2,448.92,450.7100,448.27,450.64,450.64,46996827,0.0,1.0,0.3831,0.2518,2021-10-19,1
3,443.97,447.5500,443.27,447.19,447.19,62213228,0.0,1.0,0.7253,0.1081,2021-10-18,1
4,444.75,446.2600,444.09,445.87,445.87,66260210,0.0,1.0,0.2518,-0.3686,2021-10-15,1
5,439.08,442.6600,438.58,442.50,442.50,70236825,0.0,1.0,0.7789,-0.3686,2021-10-14,1
6,434.71,436.0500,431.54,435.18,435.18,72973979,0.0,1.0,0.1081,-0.3686,2021-10-13,1
7,435.67,436.1000,432.78,433.62,433.62,71181163,0.0,1.0,-0.4705,0.0616,2021-10-12,0
8,437.16,440.2600,434.62,434.69,434.69,65233285,0.0,1.0,-0.5650,0.0616,2021-10-11,0
9,439.48,439.8900,437.19,437.86,437.86,74557404,0.0,1.0,-0.3686,0.6647,2021-10-08,0
10,438.39,441.6800,438.20,438.66,438.66,72437499,0.0,1.0,0.0616,0.6647,2021-10-07,0
11,429.27,435.1199,427.54,434.90,434.90,113032245,0.0,1.0,1.3115,-0.1700,2021-10-06,1
12,430.24,435.4900,429.39,433.10,433.10,90682520,0.0,1.0,0.6647,-1.0069,2021-10-05,1
13,433.00,433.9600,426.36,428.64,428.64,128569957,0.0,1.0,-1.0069,-0.1700,2021-10-04,0
14,430.98,436.0329,427.23,434.24,434.24,129240106,0.0,1.0,0.7564,-0.1700,2021-10-01,1

5. Connect both daily adjusted price dataframes (Stock Prices and SPY Prices) with the historical earnings report in order to calculate the x variables intraday_event, adjusted_price_event, spy_event:

,1. open,2. high,3. low,4. close,stock_adjusted_close,6. volume,7. dividend amount,8. split coefficient,stock_intraday_returns,stock_weekly_median_return,column_of_interest,intraday_event,adjusted_price_event,spy_intraday_returns,spy_weekly_median_return,spy_adjusted_close,spy_event
0,27.140,27.1400,25.610,26.50,26.50,68472,0.0,1.0,-2.3581,0.1503,2021-10-21,0,1,0.4029,0.3831,453.590000,1
65,22.060,22.5676,21.990,22.06,22.06,62653,0.0,1.0,0.0000,0.7260,2021-07-21,0,1,0.1870,-0.5868,433.148580,1
123,17.900,18.1100,17.610,17.94,17.94,15348,0.0,1.0,0.2235,-1.2672,2021-04-28,1,1,-0.7494,-0.6115,414.678813,0
184,14.370,15.2432,14.020,14.26,14.26,40345,0.0,1.0,-0.7655,0.1385,2021-01-29,0,1,-2.4425,-0.8136,366.455126,0
246,9.010,10.6100,9.010,10.32,10.32,22339,0.0,1.0,14.5394,-3.5714,2020-10-29,1,0,-0.4728,-1.8457,325.364249,1
314,13.930,13.9300,13.080,13.08,13.08,12460,0.0,1.0,-6.1019,1.0638,2020-07-24,0,0,-1.8180,-1.8454,315.115236,1
375,12.740,13.6600,12.460,13.60,13.60,35604,0.0,1.0,6.7504,0.1610,2020-04-28,1,0,-4.0066,-1.9659,279.360093,0
436,20.160,20.5500,19.620,20.45,20.45,71311,0.0,1.0,1.4385,-0.3036,2020-01-30,1,1,-1.8317,-2.6849,318.418779,1
499,19.540,20.5000,19.400,19.74,19.74,64050,0.0,1.0,1.0235,-0.0519,2019-10-29,1,1,-3.2326,-3.1847,293.205112,0
565,17.950,18.2300,17.760,17.98,17.98,79440,0.0,1.0,0.1671,0.3411,2019-07-26,0,1,-3.3461,-3.6524,290.696267,1
628,16.300,16.3000,15.265,15.80,15.80,26010,0.0,1.0,-3.0675,0.1309,2019-04-26,0,1,-3.7830,-4.2355,281.049894,1
689,13.351,13.5000,13.350,13.48,13.48,34117,0.0,1.0,0.9662,0.3389,2019-01-29,1,0,-4.8149,-4.5696,251.212496,0

6. Run the final tranformer function to generate the class variable:

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Int64Index([-1], dtype='int64'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

### 5.2. Naive Bayes Prediction Model (Multi-Stock | Future Date | Clean Display)

In [23]:
if __name__=="__main__":
    main()        

#alphavantage API key
#TQ6TR98HVUPE3L9Z

#not as clean as i want it to be 

#finhub API key
#c5d5iiqad3i9ue38pn9g
#not complete

What is your alphavantage API Key?:

TQ6TR98HVUPE3L9Z

What kind of data are you looking for?

Type the number in the input box:

1. Upcoming Earnings Calendar (3 month horizon)
2. Historical Earnings (for a specific company)
3. Daily Adjusted Price History (for a specific company)
4. Naive Bayes Prediction Model

4

What type of analysis are you looking to do?:

1.Individual Company

2.Multi-Company

2

Enter the date of interest:

2021-10-21

What type of output would you like?:

Logic will display how the model variables were created, while Clean Variables will not:

 1.Logic

 2.Clean Variables

2


2021-10-21

This should be earnings calendar

     symbol                           name  reportDate estimate
6       AAL    American Airlines Group Inc  2021-10-21    -1.04
193     ALK           Alaska Air Group Inc  2021-10-21     1.29
196    ALLE                   Allegion plc  2021-10-21      1.3
201    ALLY             Ally Financial Inc  2021-10-21     1.95
267    AMTB  Amerant Bancorp Inc - Class A  2021-10-21     0.39
...     ...                            ...         ...      ...
4743    WAL       Western Alliance Bancorp  2021-10-21     2.22
4752    WBS         Webster Financial Corp  2021-10-21     1.08
4789    WHR                 Whirlpool Corp  2021-10-21     6.12
4836    WRB              W.R. Berkley Corp  2021-10-21     0.98
4842   WSFS            WSFS Financial Corp  2021-10-21     0.88

[92 rows x 4 columns]

Model is sleeping so that it can reset
['AAL', 'ALK', 'ALLE', 'ALLY', 'AMTB', 'AN', 'ASB', 'BANC', 'BCBP', 'BHLB', 'BJRI', 'BKU', 'BOOM', 'BSVN', 'BX', 'CE', 'CMG', 'CRI', 'CROX', 'CSL', 'CSTR', 'CZFS', 'DGX', 'DHR', 'DOW', 'EEFT', 'ESQ', 'EWBC', 'FAF', 'FCX', 'FFBC', 'GATX', 'GBCI', 'GBX', 'GPC', 'GRC', 'GTLS', 'HFWA', 'HOMB', 'HRI', 'IIIN', 'INDB', 'INTC', 'IPG', 'IQV', 'KEY', 'LNN', 'LUV', 'MAT', 'MCBS', 'MMC', 'MYFW', 'NUE', 'OLN', 'OZK', 'PBCT', 'PINE', 'POOL', 'PPBI', 'PSMT', 'PSTV', 'RHI', 'SAFE', 'SAM', 'SASR', 'SCHN', 'SCKT', 'SGLB', 'SIVB', 'SNA', 'SNAP', 'SON', 'SRCE', 'STBA', 'T', 'TMP', 'TPH', 'TRN', 'TRST', 'TRTN', 'TSCO', 'UBSI', 'UNP', 'USX', 'VICR', 'VLO', 'WABC', 'WAL', 'WBS', 'WHR', 'WRB', 'WSFS']

Stock Count: 92

There are 92 companies reporting earings on the specified date. Analysis will only be provided for the first 30 companies in the list. This should take about 12 minutes. Please wait patiently.


There are a total of 15 stock calls

This is the stock_api_call at each loop:

15

This is the ticker:

AAL

2021-10-21

This is the alphaSPY

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,Intraday_Returns,Weekly_Median_Return,trading_date
0,451.77,453.8300,451.31,453.59,453.59,40090908,0.0,1.0,0.4029,0.3831,2021-10-21
1,451.13,452.7320,451.01,452.41,452.41,49571569,0.0,1.0,0.2837,0.3831,2021-10-20
2,448.92,450.7100,448.27,450.64,450.64,46996827,0.0,1.0,0.3831,0.2518,2021-10-19
3,443.97,447.5500,443.27,447.19,447.19,62213228,0.0,1.0,0.7253,0.1081,2021-10-18
4,444.75,446.2600,444.09,445.87,445.87,66260210,0.0,1.0,0.2518,-0.3686,2021-10-15
5,439.08,442.6600,438.58,442.50,442.50,70236825,0.0,1.0,0.7789,-0.3686,2021-10-14
6,434.71,436.0500,431.54,435.18,435.18,72973979,0.0,1.0,0.1081,-0.3686,2021-10-13
7,435.67,436.1000,432.78,433.62,433.62,71181163,0.0,1.0,-0.4705,0.0616,2021-10-12
8,437.16,440.2600,434.62,434.69,434.69,65233285,0.0,1.0,-0.5650,0.0616,2021-10-11
9,439.48,439.8900,437.19,437.86,437.86,74557404,0.0,1.0,-0.3686,0.6647,2021-10-08
10,438.39,441.6800,438.20,438.66,438.66,72437499,0.0,1.0,0.0616,0.6647,2021-10-07
11,429.27,435.1199,427.54,434.90,434.90,113032245,0.0,1.0,1.3115,-0.1700,2021-10-06
12,430.24,435.4900,429.39,433.10,433.10,90682520,0.0,1.0,0.6647,-1.0069,2021-10-05
13,433.00,433.9600,426.36,428.64,428.64,128569957,0.0,1.0,-1.0069,-0.1700,2021-10-04
14,430.98,436.0329,427.23,434.24,434.24,129240106,0.0,1.0,0.7564,-0.1700,2021-10-01

AAL


This is the historical earnings dataframe

    reportedDate reportedEPS estimatedEPS surprise surprisePercentage
0     2021-10-21        None        -1.04     None               None
1     2021-07-22       -1.69      -1.7296   0.0396             2.2895
2     2021-04-22       -4.32      -4.3315   0.0115             0.2655
3     2021-01-28       -3.86      -4.1212   0.2612              6.338
4     2020-10-22       -5.54      -5.7547   0.2147             3.7309
..           ...         ...          ...      ...                ...
98    1997-04-16        0.83         0.71     0.12            16.9014
99    1997-01-15        0.67         0.64     0.03             4.6875
100   1996-10-16        1.53         1.52     0.01             0.6579
101   1996-07-17         1.6         1.59     0.01             0.6289
102   1996-04-17        0.92         0.73     0.19            26.0274

[103 rows x 5 columns]

AAL has reported earnings 103 times, as of the current date.

This is the daily adjusted dataframe
AAL
2021-10-21


Run the analysis with just clean variables
Clean Variables:


This is the dataframe that contains all the clean variables necessary for analysis:

,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,1,1,1,0,1,0
1,0,1,1,0,0,0
2,1,1,1,0,1,0
3,1,1,1,1,1,0
4,0,1,0,1,0,0
5,0,0,0,1,0,0
6,0,0,0,1,1,0
7,0,1,0,1,0,1
8,1,1,0,0,0,0
9,0,1,0,1,1,1
10,0,1,1,0,1,1
11,0,1,0,1,1,0
12,1,1,0,1,1,0
13,0,1,0,0,1,1
14,0,1,1,0,0,0

,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,1,1,1,0,1,0
1,0,1,1,0,0,0
2,1,1,1,0,1,0
3,1,1,1,1,1,0
4,0,1,0,1,0,0
5,0,0,0,1,0,0
6,0,0,0,1,1,0
7,0,1,0,1,0,1
8,1,1,0,0,0,0
9,0,1,0,1,1,1
10,0,1,1,0,1,1
11,0,1,0,1,1,0
12,1,1,0,1,1,0
13,0,1,0,0,1,1
14,0,1,1,0,0,0

,TP,FP,FN,TN,Precision WA,Recall WA,F1-Score WA,Model Score %,Model Recommendation,symbol
0,0,0,0,4,1.0,1.0,1.0,100.0,Valid,AAL

This is the stock_api_call at each loop:

15

This is the ticker:

ALK

2021-10-21

This is the alphaSPY

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,Intraday_Returns,Weekly_Median_Return,trading_date
0,451.77,453.8300,451.31,453.59,453.59,40090908,0.0,1.0,0.4029,0.3831,2021-10-21
1,451.13,452.7320,451.01,452.41,452.41,49571569,0.0,1.0,0.2837,0.3831,2021-10-20
2,448.92,450.7100,448.27,450.64,450.64,46996827,0.0,1.0,0.3831,0.2518,2021-10-19
3,443.97,447.5500,443.27,447.19,447.19,62213228,0.0,1.0,0.7253,0.1081,2021-10-18
4,444.75,446.2600,444.09,445.87,445.87,66260210,0.0,1.0,0.2518,-0.3686,2021-10-15
5,439.08,442.6600,438.58,442.50,442.50,70236825,0.0,1.0,0.7789,-0.3686,2021-10-14
6,434.71,436.0500,431.54,435.18,435.18,72973979,0.0,1.0,0.1081,-0.3686,2021-10-13
7,435.67,436.1000,432.78,433.62,433.62,71181163,0.0,1.0,-0.4705,0.0616,2021-10-12
8,437.16,440.2600,434.62,434.69,434.69,65233285,0.0,1.0,-0.5650,0.0616,2021-10-11
9,439.48,439.8900,437.19,437.86,437.86,74557404,0.0,1.0,-0.3686,0.6647,2021-10-08
10,438.39,441.6800,438.20,438.66,438.66,72437499,0.0,1.0,0.0616,0.6647,2021-10-07
11,429.27,435.1199,427.54,434.90,434.90,113032245,0.0,1.0,1.3115,-0.1700,2021-10-06
12,430.24,435.4900,429.39,433.10,433.10,90682520,0.0,1.0,0.6647,-1.0069,2021-10-05
13,433.00,433.9600,426.36,428.64,428.64,128569957,0.0,1.0,-1.0069,-0.1700,2021-10-04
14,430.98,436.0329,427.23,434.24,434.24,129240106,0.0,1.0,0.7564,-0.1700,2021-10-01

ALK


This is the historical earnings dataframe

    reportedDate reportedEPS estimatedEPS surprise surprisePercentage
0     2021-10-21        None         1.29     None               None
1     2021-07-22        -0.3      -0.4398   0.1398            31.7872
2     2021-04-22       -3.51      -3.6408   0.1308             3.5926
3     2021-01-26       -2.55      -2.9258   0.3758            12.8444
4     2020-10-22       -3.23      -2.9261  -0.3039           -10.3858
..           ...         ...          ...      ...                ...
98    1997-04-21        -0.1        -0.09    -0.01           -11.1111
99    1997-01-28       -0.09        -0.02    -0.07               -350
100   1996-10-24        0.38         0.42    -0.04            -9.5238
101   1996-07-18        0.22          0.2     0.02                 10
102   1996-04-22       -0.13        -0.13        0                  0

[103 rows x 5 columns]

Model has been put to sleep after historical earnings call
ALK has reported earnings 103 times, as of the current date.

This is the daily adjusted dataframe
ALK
2021-10-21


Run the analysis with just clean variables
Clean Variables:


This is the dataframe that contains all the clean variables necessary for analysis:

,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,1,1,0,1,1,0
1,0,1,1,0,0,1
2,1,1,1,0,0,0
3,1,0,1,1,1,1
4,0,1,1,1,0,0
5,0,1,0,0,1,0
6,0,1,0,0,1,1
7,1,1,1,0,0,1
8,1,1,1,0,0,1
9,0,1,0,0,1,1
10,0,1,1,1,1,0
11,1,1,0,1,1,0
12,1,1,0,1,1,0
13,0,1,1,1,0,0
14,0,1,0,1,0,1

,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,1,1,0,1,1,0
1,0,1,1,0,0,1
2,1,1,1,0,0,0
3,1,0,1,1,1,1
4,0,1,1,1,0,0
5,0,1,0,0,1,0
6,0,1,0,0,1,1
7,1,1,1,0,0,1
8,1,1,1,0,0,1
9,0,1,0,0,1,1
10,0,1,1,1,1,0
11,1,1,0,1,1,0
12,1,1,0,1,1,0
13,0,1,1,1,0,0
14,0,1,0,1,0,1

,TP,FP,FN,TN,Precision WA,Recall WA,F1-Score WA,Model Score %,Model Recommendation,symbol
0,0,2,1,1,0.166667,0.25,0.2,25.0,Invalid,ALK

This is the stock_api_call at each loop:

15

This is the ticker:

ALLE

2021-10-21

This is the alphaSPY

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,Intraday_Returns,Weekly_Median_Return,trading_date
0,451.77,453.8300,451.31,453.59,453.59,40144074,0.0,1.0,0.4029,0.3831,2021-10-21
1,451.13,452.7320,451.01,452.41,452.41,49571569,0.0,1.0,0.2837,0.3831,2021-10-20
2,448.92,450.7100,448.27,450.64,450.64,46996827,0.0,1.0,0.3831,0.2518,2021-10-19
3,443.97,447.5500,443.27,447.19,447.19,62213228,0.0,1.0,0.7253,0.1081,2021-10-18
4,444.75,446.2600,444.09,445.87,445.87,66260210,0.0,1.0,0.2518,-0.3686,2021-10-15
5,439.08,442.6600,438.58,442.50,442.50,70236825,0.0,1.0,0.7789,-0.3686,2021-10-14
6,434.71,436.0500,431.54,435.18,435.18,72973979,0.0,1.0,0.1081,-0.3686,2021-10-13
7,435.67,436.1000,432.78,433.62,433.62,71181163,0.0,1.0,-0.4705,0.0616,2021-10-12
8,437.16,440.2600,434.62,434.69,434.69,65233285,0.0,1.0,-0.5650,0.0616,2021-10-11
9,439.48,439.8900,437.19,437.86,437.86,74557404,0.0,1.0,-0.3686,0.6647,2021-10-08
10,438.39,441.6800,438.20,438.66,438.66,72437499,0.0,1.0,0.0616,0.6647,2021-10-07
11,429.27,435.1199,427.54,434.90,434.90,113032245,0.0,1.0,1.3115,-0.1700,2021-10-06
12,430.24,435.4900,429.39,433.10,433.10,90682520,0.0,1.0,0.6647,-1.0069,2021-10-05
13,433.00,433.9600,426.36,428.64,428.64,128569957,0.0,1.0,-1.0069,-0.1700,2021-10-04
14,430.98,436.0329,427.23,434.24,434.24,129240106,0.0,1.0,0.7564,-0.1700,2021-10-01

ALLE


This is the historical earnings dataframe

   reportedDate reportedEPS estimatedEPS surprise surprisePercentage
0    2021-10-21        None          1.3     None               None
1    2021-07-22        1.32       1.3025   0.0175             1.3436
2    2021-04-22         1.2       1.0263   0.1737            16.9249
3    2021-02-16        1.49       1.1896   0.3004            25.2522
4    2020-10-22        1.67       1.2244   0.4456            36.3933
5    2020-07-23        0.92         0.83     0.09            10.8434
6    2020-04-23        1.04        0.882    0.158            17.9138
7    2020-02-18        1.28       1.2834  -0.0034            -0.2649
8    2019-10-24        1.47       1.3261   0.1439            10.8514
9    2019-07-25        1.26       1.3178  -0.0578            -4.3861
10   2019-04-25        0.88       0.8683   0.0117             1.3475
11   2019-02-19        1.22       1.2178   0.0022             0.1807
12   2018-10-25        1.23       1.2144   0.0156             1.2846
13   2018-07-26        1.25       1.1929   0.0571             4.7867
14   2018-04-26         0.8       0.8488  -0.0488            -5.7493
15   2018-02-20        1.11         0.93     0.18            19.3548
16   2017-10-26        1.02       1.0189   0.0011              0.108
17   2017-07-27        1.11       1.0039   0.1061            10.5688
18   2017-04-27        0.73       0.6896   0.0404             5.8585
19   2017-02-09        0.81       0.8723  -0.0623             -7.142
20   2016-10-27        0.93       0.9506  -0.0206            -2.1671
21   2016-07-28        0.99          0.9     0.09                 10
22   2016-04-28        0.61       0.6479  -0.0379            -5.8497
23   2016-02-11        0.89       0.7348   0.1552            21.1214
24   2015-10-29        0.92         0.78     0.14            17.9487
25   2015-07-30        0.71          0.7     0.01             1.4286
26   2015-04-30        0.51         0.47     0.04             8.5106
27   2015-02-18        0.76         0.68     0.08            11.7647
28   2014-10-30        0.68         0.65     0.03             4.6154
29   2014-07-30        0.61         0.64    -0.03            -4.6875
30   2014-04-30        0.44         0.44        0                  0
31   2014-02-19        0.58         0.59    -0.01            -1.6949
32   2013-11-27     -0.7913         None     None               None

ALLE has reported earnings 33 times, as of the current date.

This is the daily adjusted dataframe
ALLE
2021-10-21


Run the analysis with just clean variables
Clean Variables:


This is the dataframe that contains all the clean variables necessary for analysis:

,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,1,1,1,0,1,1
1,0,1,1,1,0,1
2,0,1,1,0,0,0
3,1,1,0,0,1,0
4,0,1,1,0,0,0
5,0,1,0,1,0,1
6,0,0,1,1,0,0
7,1,1,1,1,0,0
8,1,0,1,1,0,0
9,0,1,1,1,1,1
10,0,1,1,0,1,0
11,0,1,1,1,1,0
12,1,1,1,1,1,0
13,0,0,0,1,1,0
14,1,1,1,0,0,1

,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,1,1,1,0,1,1
1,0,1,1,1,0,1
2,0,1,1,0,0,0
3,1,1,0,0,1,0
4,0,1,1,0,0,0
5,0,1,0,1,0,1
6,0,0,1,1,0,0
7,1,1,1,1,0,0
8,1,0,1,1,0,0
9,0,1,1,1,1,1
10,0,1,1,0,1,0
11,0,1,1,1,1,0
12,1,1,1,1,1,0
13,0,0,0,1,1,0
14,1,1,1,0,0,1

,TP,FP,FN,TN,Precision WA,Recall WA,F1-Score WA,Model Score %,Model Recommendation,symbol
0,0,2,1,1,0.166667,0.25,0.2,25.0,Invalid,ALLE

This is the stock_api_call at each loop:

15

This is the ticker:

ALLY

2021-10-21

This is the alphaSPY

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,Intraday_Returns,Weekly_Median_Return,trading_date
0,451.77,453.8300,451.31,453.59,453.59,40144074,0.0,1.0,0.4029,0.3831,2021-10-21
1,451.13,452.7320,451.01,452.41,452.41,49571569,0.0,1.0,0.2837,0.3831,2021-10-20
2,448.92,450.7100,448.27,450.64,450.64,46996827,0.0,1.0,0.3831,0.2518,2021-10-19
3,443.97,447.5500,443.27,447.19,447.19,62213228,0.0,1.0,0.7253,0.1081,2021-10-18
4,444.75,446.2600,444.09,445.87,445.87,66260210,0.0,1.0,0.2518,-0.3686,2021-10-15
5,439.08,442.6600,438.58,442.50,442.50,70236825,0.0,1.0,0.7789,-0.3686,2021-10-14
6,434.71,436.0500,431.54,435.18,435.18,72973979,0.0,1.0,0.1081,-0.3686,2021-10-13
7,435.67,436.1000,432.78,433.62,433.62,71181163,0.0,1.0,-0.4705,0.0616,2021-10-12
8,437.16,440.2600,434.62,434.69,434.69,65233285,0.0,1.0,-0.5650,0.0616,2021-10-11
9,439.48,439.8900,437.19,437.86,437.86,74557404,0.0,1.0,-0.3686,0.6647,2021-10-08
10,438.39,441.6800,438.20,438.66,438.66,72437499,0.0,1.0,0.0616,0.6647,2021-10-07
11,429.27,435.1199,427.54,434.90,434.90,113032245,0.0,1.0,1.3115,-0.1700,2021-10-06
12,430.24,435.4900,429.39,433.10,433.10,90682520,0.0,1.0,0.6647,-1.0069,2021-10-05
13,433.00,433.9600,426.36,428.64,428.64,128569957,0.0,1.0,-1.0069,-0.1700,2021-10-04
14,430.98,436.0329,427.23,434.24,434.24,129240106,0.0,1.0,0.7564,-0.1700,2021-10-01

Model has been put to sleep after the alpha spy
ALLY


This is the historical earnings dataframe

   reportedDate reportedEPS estimatedEPS surprise surprisePercentage
0    2021-10-21        None         1.95     None               None
1    2021-07-20        2.33       1.5016   0.8284            55.1678
2    2021-04-16        2.09       1.1615   0.9285            79.9397
3    2021-01-22         1.6       1.0569   0.5431            51.3861
4    2020-10-16        1.25       0.7045   0.5455            77.4308
5    2020-07-17        0.61       0.2565   0.3535           137.8168
6    2020-04-20       -0.44       0.7779  -1.2179          -156.5625
7    2020-01-22        0.95       0.9344   0.0156             1.6695
8    2019-10-16        1.01       0.9788   0.0312             3.1876
9    2019-07-18        0.97       0.8878   0.0822             9.2588
10   2019-04-18         0.8       0.7868   0.0132             1.6777
11   2019-01-30        0.92       0.8256   0.0944            11.4341
12   2018-10-25        0.91       0.8042   0.1058            13.1559
13   2018-07-26        0.83       0.7087   0.1213            17.1158
14   2018-04-26        0.68       0.6578   0.0222             3.3749
15   2018-01-30         0.7        0.608    0.092            15.1316
16   2017-10-25        0.65       0.5889   0.0611            10.3753
17   2017-07-27        0.58       0.5265   0.0535            10.1614
18   2017-04-27        0.48       0.4812  -0.0012            -0.2494
19   2017-01-31        0.54       0.4785   0.0615            12.8527
20   2016-10-26        0.56       0.5862  -0.0262            -4.4695
21   2016-07-26        0.54       0.5079   0.0321             6.3201
22   2016-04-26        0.52       0.5452  -0.0252            -4.6222
23   2016-02-02        0.52       0.5096   0.0104             2.0408
24   2015-10-29        0.51         0.51        0                  0
25   2015-07-28        0.46         0.45     0.01             2.2222
26   2015-04-28        0.52         0.42      0.1            23.8095
27   2015-01-29         0.4          0.4        0                  0
28   2014-10-29        0.53         0.41     0.12            29.2683
29   2014-07-29        0.42         0.33     0.09            27.2727
30   2014-05-01      0.3314         None     None               None

ALLY has reported earnings 31 times, as of the current date.

This is the daily adjusted dataframe
ALLY
2021-10-21


Run the analysis with just clean variables
Clean Variables:


This is the dataframe that contains all the clean variables necessary for analysis:

,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,1,1,1,1,1,1
1,1,1,1,1,0,0
2,1,1,1,1,1,0
3,1,1,1,1,0,0
4,1,1,1,0,0,0
5,0,0,0,1,0,0
6,0,1,1,1,0,1
7,1,1,0,0,0,0
8,1,1,1,1,1,0
9,0,1,1,0,1,0
10,1,1,1,1,1,0
11,1,1,0,1,1,0
12,1,1,1,0,1,0
13,0,1,0,0,1,0
14,1,1,1,1,0,0

,earnings_event,surprise_event,adjusted_price_event,intraday_event,spy_event,class_variable
0,1,1,1,1,1,1
1,1,1,1,1,0,0
2,1,1,1,1,1,0
3,1,1,1,1,0,0
4,1,1,1,0,0,0
5,0,0,0,1,0,0
6,0,1,1,1,0,1
7,1,1,0,0,0,0
8,1,1,1,1,1,0
9,0,1,1,0,1,0
10,1,1,1,1,1,0
11,1,1,0,1,1,0
12,1,1,1,0,1,0
13,0,1,0,0,1,0
14,1,1,1,1,0,0

,TP,FP,FN,TN,Precision WA,Recall WA,F1-Score WA,Model Score %,Model Recommendation,symbol
0,1,0,1,2,0.875,0.75,0.766667,75.0,Valid,ALLY

This is the stock_api_call at each loop:

15

This is the ticker:

AMTB

2021-10-21

This is the alphaSPY

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,Intraday_Returns,Weekly_Median_Return,trading_date
0,451.77,453.8300,451.31,453.59,453.59,40196252,0.0,1.0,0.4029,0.3831,2021-10-21
1,451.13,452.7320,451.01,452.41,452.41,49571569,0.0,1.0,0.2837,0.3831,2021-10-20
2,448.92,450.7100,448.27,450.64,450.64,46996827,0.0,1.0,0.3831,0.2518,2021-10-19
3,443.97,447.5500,443.27,447.19,447.19,62213228,0.0,1.0,0.7253,0.1081,2021-10-18
4,444.75,446.2600,444.09,445.87,445.87,66260210,0.0,1.0,0.2518,-0.3686,2021-10-15
5,439.08,442.6600,438.58,442.50,442.50,70236825,0.0,1.0,0.7789,-0.3686,2021-10-14
6,434.71,436.0500,431.54,435.18,435.18,72973979,0.0,1.0,0.1081,-0.3686,2021-10-13
7,435.67,436.1000,432.78,433.62,433.62,71181163,0.0,1.0,-0.4705,0.0616,2021-10-12
8,437.16,440.2600,434.62,434.69,434.69,65233285,0.0,1.0,-0.5650,0.0616,2021-10-11
9,439.48,439.8900,437.19,437.86,437.86,74557404,0.0,1.0,-0.3686,0.6647,2021-10-08
10,438.39,441.6800,438.20,438.66,438.66,72437499,0.0,1.0,0.0616,0.6647,2021-10-07
11,429.27,435.1199,427.54,434.90,434.90,113032245,0.0,1.0,1.3115,-0.1700,2021-10-06
12,430.24,435.4900,429.39,433.10,433.10,90682520,0.0,1.0,0.6647,-1.0069,2021-10-05
13,433.00,433.9600,426.36,428.64,428.64,128569957,0.0,1.0,-1.0069,-0.1700,2021-10-04
14,430.98,436.0329,427.23,434.24,434.24,129240106,0.0,1.0,0.7564,-0.1700,2021-10-01

AMTB


This is the historical earnings dataframe

   reportedDate reportedEPS estimatedEPS surprise surprisePercentage
0    2021-10-21        0.45         0.39     0.06            15.3846
1    2021-07-21        0.46       0.3767   0.0833            22.1131
2    2021-04-28        0.39       0.2375   0.1525            64.2105
3    2021-01-29        0.27         0.13     0.14           107.6923
4    2020-10-29        0.08        0.056    0.024            42.8571
5    2020-07-24       -0.34        -0.24     -0.1           -41.6667
6    2020-04-28        0.09        0.165   -0.075           -45.4545
7    2020-01-30        0.26         0.22     0.04            18.1818
8    2019-10-29         0.3          0.3        0                  0
9    2019-07-26        0.35        0.308    0.042            13.6364
10   2019-04-26        0.32        0.302    0.018             5.9603
11   2019-01-29        0.47       0.3075   0.1625            52.8455
12   2018-11-13      0.2719         None     None               None

AMTB has reported earnings 13 times, as of the current date.

This is the daily adjusted dataframe
AMTB
2021-10-21

model has been put to sleep after the daily adjusted call


Run the analysis with just clean variables

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Int64Index([-1], dtype='int64'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [ ]:
import finnhub
finnhub_client = finnhub.Client(api_key="c5d5iiqad3i9ue38pn9g")

finub_earn_calendar = finnhub_client.earnings_calendar(_from="2021-10-21", to="2021-10-21", symbol="", international=False)
finub_earn_calendar

### 5.3. Naive Bayes Prediction Model (Multi-Stock | Current Date | Logical Display)

In [79]:
if __name__=="__main__":
    main()        

#alphavantage API key
#TQ6TR98HVUPE3L9Z

#finhub API key
#c5d5iiqad3i9ue38pn9g

#the present date and time is 10/21/2021 at 5 PM
#HRI reported earnings today and now that its after market close, the model will make a prediction for tomorrow

What is your alphavantage API Key?:

TQ6TR98HVUPE3L9Z

What kind of data are you looking for?

Type the number in the input box:

1. Upcoming Earnings Calendar (3 month horizon)
2. Historical Earnings (for a specific company)
3. Daily Adjusted Price History (for a specific company)
4. Naive Bayes Prediction Model

4

What type of analysis are you looking to do?:

1.Individual Company

2.Multi-Company

2

Enter the date of interest:

2021-10-21

What type of output would you like?:

Logic will display how the model variables were created, while Clean Variables will not:

 1.Logic

 2.Clean Variables

1


Enter your finhub API-Key:

c5d5iiqad3i9ue38pn9g
Below is the finhub function

,symbol,reportedDate,hour,reportedEPS,estimatedEPS,surprise,surprisePercentage
0,PINE,2021-10-21,amc,0.37,0.010200,0.359800,3527.4510
1,GPC,2021-10-21,bmo,1.88,1.651350,0.228650,13.8462
2,HRI,2021-10-21,bmo,2.38,2.383600,-0.003600,-0.1510
3,IPG,2021-10-21,bmo,0.63,0.492971,0.137029,27.7966
4,KEY,2021-10-21,bmo,0.65,0.574458,0.075542,13.1502
...,...,...,...,...,...,...,...
94,SCHN,2021-10-21,bmo,1.81,1.689803,0.120197,7.1131
95,SIVB,2021-10-21,amc,6.24,5.142840,1.097160,21.3337
96,POOL,2021-10-21,bmo,4.54,3.922624,0.617376,15.7388
97,STRT,2021-10-21,amc,0.03,0.714000,-0.684000,-95.7983
98,SCKT,2021-10-21,amc,0.07,0.061200,0.008800,14.3791

Stock Count: 83

There are 83 companies reporting earings on the specified date. Analysis will only be provided for the first 15 companies in the list. This should take about 9 minutes. Please wait patiently.


There are a total of 45 stock calls

This is the ticker:

PINE

2021-10-21



This stock does not have enough data to conduct a proper naive bayes analysis.

This is the ticker:

GPC

2021-10-21



GPC has reported earnings 103 times, as of the current date.


model has been put to sleep after the daily adjusted call


1. Retrieve the historical earnings report for the stock:

This dataframe contains GPC's historical earnings report. The first row pertains to either the most recent earnings date (if the date is in the past/the same as today) or the upcoming earnings report date (if the date is in the future)

   reportedDate reportedEPS estimatedEPS surprise surprisePercentage
0    2021-10-21        None         1.63     None               None
1    2021-07-22        1.74       1.5421   0.1979            12.8331
2    2021-04-22         1.5       1.1439   0.3561            31.1303
3    2021-02-17        1.52       1.3455   0.1745            12.9692
4    2020-10-22        1.63       1.4249   0.2051             14.394
5    2020-07-30        1.32       0.9177   0.4023            43.8379
6    2020-05-06        0.92       1.0883  -0.1683           -15.4645
7    2020-02-19        1.35        1.303    0.047             3.6071
8    2019-10-17         1.5       1.4677   0.0323             2.2007
9    2019-07-18        1.57       1.6469  -0.0769            -4.6694
10   2019-04-18        1.28       1.3069  -0.0269            -2.0583
11   2019-02-19        1.35       1.3242   0.0258             1.9483
12   2018-10-18        1.48       1.4791   0.0009             0.0608
13   2018-07-19        1.59       1.5675   0.0225             1.4354
14   2018-04-19        1.27       1.3157  -0.0457            -3.4734

2. Insert the historical earnings report into the historicalEarningsTransformer function:

This is GPC's most updated earnings table that contains the earnings_event and surprise_event variables that will be used in the analysis:

,column_of_interest,reportedEPS,estimatedEPS,surprise,surprisePercentage,earnings_event,surprise_event
0,2021-10-21,0.37,0.010200,0.3598,3527.4510,0,1
1,2021-10-21,1.88,1.651350,0.22865,13.8462,0,1
2,2021-10-21,2.38,2.383600,-0.0036,-0.1510,1,0
3,2021-10-21,0.63,0.492971,0.137029,27.7966,0,1
4,2021-10-21,0.65,0.574458,0.0755423,13.1502,1,1
5,2021-10-21,0.53,0.801263,-0.271263,-33.8545,1,0
6,2021-10-21,-0.23,-0.272882,0.0428818,-15.7144,0,0
7,2021-10-21,0.84,0.730876,0.109124,14.9305,0,1
8,2021-10-21,1.08,0.993840,0.08616,8.6694,0,1
9,2021-10-21,7.28,7.181706,0.098294,1.3687,1,1
10,2021-10-21,2.38,2.026535,0.353465,17.4419,1,1
11,2021-10-21,1.11,1.091400,0.0186,1.7042,1,1
12,2021-10-21,0.89,0.809323,0.0806769,9.9684,1,1
13,2021-10-21,-0.99,-1.065197,0.0751965,-7.0594,0,0
14,2021-10-21,2.17,2.144402,0.0255983,1.1937,1,1

3. Retrieve the last 5,000 daily adjusted prices for GPC in order to create the intraday_event and adjusted_price_event variables:

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,Intraday_Returns,Weekly_Median_Return,trading_date
0,129.50,135.5494,129.0900,134.51,134.51,1155390,0.0,1.0,3.8687,0.2610,2021-10-21
1,128.04,129.9400,128.0400,129.65,129.65,608794,0.0,1.0,1.2574,0.0705,2021-10-20
2,127.70,128.4600,127.2552,127.79,127.79,398505,0.0,1.0,0.0705,-0.6322,2021-10-19
3,126.45,127.9100,126.0000,126.78,126.78,425063,0.0,1.0,0.2610,-0.6322,2021-10-18
4,128.34,128.7500,127.1100,127.19,127.19,358396,0.0,1.0,-0.8961,0.0634,2021-10-15
5,125.16,127.5100,124.7600,127.34,127.34,419143,0.0,1.0,1.7418,0.0634,2021-10-14
6,124.96,125.5000,123.4000,124.17,124.17,462125,0.0,1.0,-0.6322,0.5344,2021-10-13
7,126.10,126.9300,124.8250,125.14,125.14,386786,0.0,1.0,-0.7613,0.7361,2021-10-12
8,126.10,127.4500,125.7150,126.18,126.18,371824,0.0,1.0,0.0634,0.7361,2021-10-11
9,125.37,126.7100,125.0200,126.04,126.04,329388,0.0,1.0,0.5344,0.7361,2021-10-08
10,124.31,125.9850,124.3100,125.39,125.39,518907,0.0,1.0,0.8688,0.2375,2021-10-07
11,122.27,123.6600,120.8700,123.17,123.17,506823,0.0,1.0,0.7361,0.2375,2021-10-06
12,122.43,124.5100,121.5886,123.68,123.68,623668,0.0,1.0,1.0210,0.1397,2021-10-05
13,122.08,124.1600,121.4600,122.37,122.37,585291,0.0,1.0,0.2375,0.1397,2021-10-04
14,121.65,122.8700,118.6200,121.82,121.82,494623,0.0,1.0,0.1397,0.0895,2021-10-01

4. Retrieve the last 5,000 daily adjusted prices for SPY in order to create the spy_event variable:

,1. open,2. high,3. low,4. close,spy_adjusted_close,6. volume,7. dividend amount,8. split coefficient,spy_intraday_returns,spy_weekly_median_return,column_of_interest,spy_event
0,451.77,453.8290,451.31,453.59,453.59,40013081,0.0,1.0,0.4029,0.3831,2021-10-21,1
1,451.13,452.7320,451.01,452.41,452.41,49571569,0.0,1.0,0.2837,0.3831,2021-10-20,0
2,448.92,450.7100,448.27,450.64,450.64,46996827,0.0,1.0,0.3831,0.2518,2021-10-19,1
3,443.97,447.5500,443.27,447.19,447.19,62213228,0.0,1.0,0.7253,0.1081,2021-10-18,1
4,444.75,446.2600,444.09,445.87,445.87,66260210,0.0,1.0,0.2518,-0.3686,2021-10-15,1
5,439.08,442.6600,438.58,442.50,442.50,70236825,0.0,1.0,0.7789,-0.3686,2021-10-14,1
6,434.71,436.0500,431.54,435.18,435.18,72973979,0.0,1.0,0.1081,-0.3686,2021-10-13,1
7,435.67,436.1000,432.78,433.62,433.62,71181163,0.0,1.0,-0.4705,0.0616,2021-10-12,0
8,437.16,440.2600,434.62,434.69,434.69,65233285,0.0,1.0,-0.5650,0.0616,2021-10-11,0
9,439.48,439.8900,437.19,437.86,437.86,74557404,0.0,1.0,-0.3686,0.6647,2021-10-08,0
10,438.39,441.6800,438.20,438.66,438.66,72437499,0.0,1.0,0.0616,0.6647,2021-10-07,0
11,429.27,435.1199,427.54,434.90,434.90,113032245,0.0,1.0,1.3115,-0.1700,2021-10-06,1
12,430.24,435.4900,429.39,433.10,433.10,90682520,0.0,1.0,0.6647,-1.0069,2021-10-05,1
13,433.00,433.9600,426.36,428.64,428.64,128569957,0.0,1.0,-1.0069,-0.1700,2021-10-04,0
14,430.98,436.0329,427.23,434.24,434.24,129240106,0.0,1.0,0.7564,-0.1700,2021-10-01,1

5. Connect both daily adjusted price dataframes (Stock Prices and SPY Prices) with the historical earnings report in order to calculate the x variables intraday_event, adjusted_price_event, spy_event:

,1. open,2. high,3. low,4. close,stock_adjusted_close,6. volume,7. dividend amount,8. split coefficient,stock_intraday_returns,stock_weekly_median_return,column_of_interest,intraday_event,adjusted_price_event,spy_intraday_returns,spy_weekly_median_return,spy_adjusted_close,spy_event
0,129.50,135.5494,129.090,134.51,134.510000,1155390,0.0,1.0,3.8687,0.2610,2021-10-21,1,1,0.4029,0.3831,453.590000,1
64,132.15,132.1500,125.995,126.37,125.534741,966556,0.0,1.0,-5.0059,-0.4915,2021-07-22,0,1,-0.1574,-0.3363,434.055645,1
127,120.95,123.2200,118.590,119.36,117.827583,1231069,0.0,1.0,-2.5816,-1.0416,2021-04-22,0,1,-1.5167,-0.6496,409.582258,0
172,101.25,101.4000,98.230,98.94,96.935456,1102836,0.0,1.0,-4.2613,-2.3211,2021-02-17,0,1,-0.4772,-1.1110,388.557103,1
251,100.49,101.9500,95.735,96.78,94.055249,1413235,0.0,1.0,-6.4034,-3.1761,2020-10-22,0,1,-0.9244,-1.5711,339.789605,1
310,90.40,92.2800,87.890,90.48,87.221088,1009804,0.0,1.0,-3.5165,-3.3838,2020-07-30,0,1,-1.1681,-1.8180,318.139902,1
369,74.99,76.1100,70.790,72.61,69.387284,1249032,0.0,1.0,-7.4713,-6.1158,2020-05-06,0,0,-3.5158,-2.3828,277.913087,0
423,100.00,102.0000,98.510,99.35,94.072770,1383603,0.0,1.0,-5.9272,-4.8387,2020-02-19,0,1,-2.6681,-2.7628,328.777496,1
507,97.89,100.9100,97.830,98.93,92.986575,1072336,0.0,1.0,-5.0091,-5.0175,2019-10-17,1,1,-3.4287,-3.2899,289.404788,0
571,100.00,100.2700,96.540,97.61,91.004206,2252805,0.0,1.0,-8.9958,-7.1162,2019-07-18,0,0,-3.2150,-3.8676,287.635394,1
633,111.80,112.0000,105.030,105.45,97.574430,2153338,0.0,1.0,-12.7241,-7.6814,2019-04-18,0,0,-4.2390,-4.4182,277.802701,1
675,107.70,109.7900,107.320,109.18,100.310025,1482426,0.0,1.0,-6.8616,-7.7323,2019-02-19,1,1,-4.1580,-4.4216,264.983835,1
757,95.15,101.1100,93.620,100.82,91.973875,2870500,0.0,1.0,-3.3380,-9.9889,2018-10-18,1,1,-6.2139,-5.4769,262.038329,0
821,95.03,97.7100,93.530,97.30,88.135920,1606927,0.0,1.0,-7.2546,-9.1110,2018-07-19,1,1,-5.7278,-5.4553,264.254306,0
884,88.88,90.3200,87.020,88.14,79.234440,1963780,0.0,1.0,-10.8523,-9.9758,2018-04-19,0,0,-6.3106,-5.9296,252.633575,0

6. Run the final tranformer function to generate the class variable:


Run the analysis with just clean variables

inner merged function

,column_of_interest,reportedEPS,estimatedEPS,surprise,surprisePercentage,earnings_event,surprise_event,1. open,2. high,3. low,...,7. dividend amount,8. split coefficient,stock_intraday_returns,stock_weekly_median_return,intraday_event,adjusted_price_event,spy_intraday_returns,spy_weekly_median_return,spy_adjusted_close,spy_event
0,2021-10-21,0.37,0.010200,0.3598,3527.4510,0,1,129.50,135.5494,129.09,...,0.0,1.0,3.8687,0.2610,1,1,0.4029,0.3831,453.590000,1
1,2021-10-21,1.88,1.651350,0.22865,13.8462,0,1,129.50,135.5494,129.09,...,0.0,1.0,3.8687,0.2610,1,1,0.4029,0.3831,453.590000,1
2,2021-10-21,2.38,2.383600,-0.0036,-0.1510,1,0,129.50,135.5494,129.09,...,0.0,1.0,3.8687,0.2610,1,1,0.4029,0.3831,453.590000,1
3,2021-10-21,0.63,0.492971,0.137029,27.7966,0,1,129.50,135.5494,129.09,...,0.0,1.0,3.8687,0.2610,1,1,0.4029,0.3831,453.590000,1
4,2021-10-21,0.65,0.574458,0.0755423,13.1502,1,1,129.50,135.5494,129.09,...,0.0,1.0,3.8687,0.2610,1,1,0.4029,0.3831,453.590000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,2001-02-20,0.61,0.610000,0,0.0000,1,0,27.05,28.1300,27.05,...,0.0,1.0,-46.9730,-48.4093,1,1,-33.8663,-32.8015,86.661558,0
166,2000-10-18,0.53,0.540000,-0.01,-1.8519,0,0,19.19,19.5000,18.62,...,0.0,1.0,-49.7631,-49.7584,0,0,-31.8882,-33.2474,90.333274,1
167,2000-07-19,0.55,0.550000,0,0.0000,1,0,21.31,21.3400,20.88,...,0.0,1.0,-51.2352,-50.2309,0,0,-33.2921,-32.9554,99.707461,0
168,2000-04-18,0.52,0.510000,0.01,1.9608,0,1,24.56,24.7500,24.12,...,0.0,1.0,-50.4337,-50.9341,1,1,-31.1836,-34.5057,96.730019,1
169,2000-02-22,0.61,0.610000,0,0.0000,1,0,22.50,22.6900,22.25,...,0.0,1.0,-51.0129,-51.2706,1,0,-33.3210,-33.8671,90.141740,1

master daily adjsuted

,1. open,2. high,3. low,4. close,after_report_adjusted_price,6. volume,7. dividend amount,8. split coefficient,Intraday_Returns,Weekly_Median_Return,column_of_interest
63,127.31,129.575,126.77,129.09,128.236763,648307,0.0,1.0,0.7280,-0.9920,2021-07-23
126,120.71,122.940,119.52,122.33,120.759452,756328,0.0,1.0,0.0410,-1.5148,2021-04-23
171,98.24,101.660,98.24,101.08,99.032099,945347,0.0,1.0,0.8063,-2.9857,2021-02-18
250,97.63,99.180,97.10,98.78,95.998941,914350,0.0,1.0,-1.6707,-3.2182,2020-10-23
309,90.69,91.700,89.37,90.15,86.902974,1644819,0.0,1.0,-4.1758,-3.3838,2020-07-31
...,...,...,...,...,...,...,...,...,...,...,...
5200,27.86,28.450,27.86,28.10,14.364242,455400,0.0,1.0,-48.4413,-48.3609,2001-02-21
5284,19.31,20.000,19.06,19.88,10.023660,265400,0.0,1.0,-48.0908,-49.7631,2000-10-19
5348,20.81,21.060,20.69,20.81,10.356947,301800,0.0,1.0,-50.2309,-50.2309,2000-07-20
5411,24.56,25.000,24.25,24.69,12.143978,342100,0.0,1.0,-50.5538,-50.9341,2000-04-19
5451,22.44,22.620,21.94,22.06,10.716074,509900,0.0,1.0,-52.2457,-51.2706,2000-02-23

ValueError: Length of values (88) does not match length of index (170)

### 5.4. Naive Bayes Prediction Model (Multi-Stock | Current Date | Clean Display)